<app-header></app-header>
<div class="charts-wrapper">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 chart-content p-0 col-xs-12">
        <div class="px-5 pt-3">
          <div class="navigation d-flex justify-content-center daily-pills">
            <ul class="nav nav-pills mb-3">
              <li class="nav-item mx-3">
                <a class="nav-link active">1</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link ">2</a>
              </li>
            </ul>
          </div>

          <div class="compliance-content-wrapper">
            <div class="screen-name">Category</div>



            <div class="table-responsive mt-4" style="height:68vh;">
              <table class="table color-rep-table box-shadow">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col" colspan="4">Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td colspan="">Scheduling Interm</td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div green mr-3"></span>
                        <span>></span>
                        <span class="input-box mx-3">
                          <input type="number" class="" />
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="color-div-yellow yellow mr-3"></div>
                          <span>>=</span>
                          <div class="input-box mx-3">
                            <input type="number" class="" />
                          </div>
                        </div>
                        <span class="mx-4">&</span>
                        <div class="d-flex justify-content-center align-items-center">
                          <!-- <div class="color-div-red mx-3"></div> -->
                          <span>
                            <= </span>
                              <div class="input-box mx-3">
                                <input type="number" class="" />
                              </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div-red red mr-3"></span>
                        < <span class="input-box mx-3">
                          <input type="number" class="" />
                          </span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td scope="row">1</td>
                    <td colspan="">Scheduling Interm</td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div mr-3"></span>
                        <span>></span>
                        <span class="input-box mx-3">
                          <input type="number" class="" />
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="color-div-yellow mr-3"></div>
                          <span>>=</span>
                          <div class="input-box mx-3">
                            <input type="number" class="" />
                          </div>
                        </div>
                        <span class="mx-4">&</span>
                        <div class="d-flex justify-content-center align-items-center">
                          <!-- <div class="color-div-red mx-3"></div> -->
                          <span>
                            <= </span>
                              <div class="input-box mx-3">
                                <input type="number" class="" />
                              </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div-red mr-3"></span>
                        < <span class="input-box mx-3">
                          <input type="number" class="" />
                          </span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td scope="row">1</td>
                    <td colspan="">Scheduling Interm</td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div mr-3"></span>
                        <span>></span>
                        <span class="input-box mx-3">
                          <input type="number" class="" />
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="color-div-yellow mr-3"></div>
                          <span>>=</span>
                          <div class="input-box mx-3">
                            <input type="number" class="" />
                          </div>
                        </div>
                        <span class="mx-4">&</span>
                        <div class="d-flex justify-content-center align-items-center">
                          <!-- <div class="color-div-red mx-3"></div> -->
                          <span>
                            <= </span>
                              <div class="input-box mx-3">
                                <input type="number" class="" />
                              </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div-red mr-3"></span>
                        < <span class="input-box mx-3">
                          <input type="number" class="" />
                          </span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td scope="row">1</td>
                    <td colspan="">Scheduling Interm</td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div mr-3"></span>
                        <span>></span>
                        <span class="input-box mx-3">
                          <input type="number" class="" />
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="color-div-yellow mr-3"></div>
                          <span>>=</span>
                          <div class="input-box mx-3">
                            <input type="number" class="" />
                          </div>
                        </div>
                        <span class="mx-4">&</span>
                        <div class="d-flex justify-content-center align-items-center">
                          <!-- <div class="color-div-red mx-3"></div> -->
                          <span>
                            <= </span>
                              <div class="input-box mx-3">
                                <input type="number" class="" />
                              </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <span class="color-div-red mr-3"></span>
                        < <span class="input-box mx-3">
                          <input type="number" class="" />
                          </span>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

