<app-header></app-header>
<div class="css-dashboard-wrapper">
    <!-- home-inner-wrapper -->
    <div class="home-inner-wrapper d-flex">
        <!-- Content-wrapper -->
        <section class="content-wrapper px-3 pt-2 pb-0 d-flex">
            <div class="content-inner-wrapper">
                <div class="d-flex">
                    <div class="cards-content w-100">
                        <div class="row m-0">
                            <div class="col-md-6 col-xs-12 px-0 pb-2 pt-0 mr-0">
                                <div class="widget-block">
                                    <div class="widget-header row align-items-center blue-bg m-0 nav">
                                        <div class="col-md-5 col-0"></div>
                                        <h5 class="text-white m-0 text-center col-md-2 col-12">PS</h5>
                                        <div class="col-md-5 col-12 d-flex justify-content-end align-items-center nav">
                                            <ng-autocomplete class="w-150" [data]="psList" [searchKeyword]="pskeyword"
                                                #autops placeHolder="Search PS"
                                                (inputCleared)="selectFilterEvent('',false)"
                                                (selected)='selectFilterEvent($event,true)'
                                                [itemTemplate]="itemTemplateps">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplateps let-item>
                                                <a [innerHTML]="item.PSName"></a>
                                            </ng-template>

                                            <!-- <button 
                                                class="d-flex btn-common widget-header-button align-items-center mr-2 "
                                                [routerLink]='["/registration-re/child-basic"]'>
                                                <i class="fas fa-plus-circle mr-2 mt-0"></i>
                                                <span>Create</span>
                                            </button> -->
                                            <div class="ico">
                                                <i class="fas fa-compress-alt min-1 px-2"></i>
                                                <i class="fas fa-expand max-1 px-2"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget-inner p-2">
                                        <!-- <div class="d-flex justify-content-between widget-inner-header mb-1">
                                            <h5>PS</h5>

                                            <ng-autocomplete class="col-4" [data]="psList" [searchKeyword]="pskeyword"
                                                #autops placeHolder="PS search filter" (inputCleared)="inputClean()"
                                                (selected)='selectFilterEvent($event)' [itemTemplate]="itemTemplateps">
                                            </ng-autocomplete>

                                            <ng-template style="width: 100%;" #itemTemplateps let-item>
                                                <a [innerHTML]="item.PSName"></a>
                                            </ng-template>
                                        </div> -->

                                        <div class="table-responsive">
                                            <table class="table position-relative">
                                                <thead class="thead-light no-wrap">
                                                    <tr>
                                                        <th class=""></th>
                                                        <th class="align-middle">PS Name</th>
                                                        <th class="align-middle">Home Site</th>
                                                        <th class="align-middle">MRN</th>
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr *ngFor='let ps of psList; let i=index;'>
                                                        <!-- <tr *ngFor='let x of heroes; let i=index;'> -->

                                                        <!-- <td class="position-relative">
                              <span>
                                <i class="fas fa-info-circle icon-toggle" (click)="icontoggle(i)" id="toggle"></i>
                              </span>
                              <span class="inner-icons hide icon-blue">
                                <div>
                                  <div class="d-flex multi-iconboard">
                                    <i class="fas fa-phone-alt"></i>
                                    <i class="far fa-calendar-plus"></i>
                                    <i class="far fa-calendar-alt"></i>
                                    <i class="fas fa-phone-alt"></i>
                                    <i class="fas fa-cog"></i>
                                  </div>
                                </div>
                              </span>
                            </td> -->
                                                        <td class="position-relative edit-option">
                                                            <ul class="m-0 p-0">
                                                                <li class="">
                                                                    <div class="share-button">
                                                                        <input class="toggle-input" id="toggle-input"
                                                                            type="checkbox" />
                                                                        <label for="toggle-input"
                                                                            class="toggle"></label></div>
                                                                    <div class="slider d-flex align-items-center">
                                                                        <!-- <p class="blue-bg twitter">
                                                                            <span>
                                        <a href="javascript:void(0)" class="text-white">
                                        </a>
                                      </span>

                                                                        </p> -->
                                                                        <p class="blue-bg facebook mr-2"
                                                                            title="Admission">
                                                                            <span>
                                                                                <a class="text-white"
                                                                                    (click)="selectAdmissionListByDcsId(ps,true)"
                                                                                    title="Admission">
                                                                                </a>
                                                                            </span>
                                                                        </p>
                                                                        <p class="blue-bg googleplus mr-2"
                                                                            title="Authorization">
                                                                            <span>
                                                                                <a class="text-white"
                                                                                    (click)="selectAuthorizationByPsId(ps,true)"
                                                                                    title="Aurhorization">

                                                                                </a>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>{{ps.PSName}}</td>
                                                        <td>{{ps.homeSite}}</td>
                                                        <td>{{ps.mrn}}</td>
                                                        <!-- <td>{{x.name}}</td>
                            <td>{{x.name}}</td>
                            <td>{{x.name}}</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center no-data-text" *ngIf="pstotalRecordsCount==0"> No
                                                Data To Display </div>

                                        </div>
                                    </div>
                                    <div class="pager">
                                        <button type="button" class="btn-create text-white mx-2" *ngIf="userFlag"
                                            [routerLink]='["/registration-re/child-basic"]'> <i
                                                class="fas fa-plus-circle mr-2 mt-0"></i>Create</button>

                                        <span class="mr-2">Per page</span>
                                        <select (change)="pspagereset()" [(ngModel)]='psPerPage' class="border-0 mr-2">
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="15">15</option>
                                            <option [ngValue]="20">20</option>

                                        </select>
                                        <span class="mr-2">showing {{pstotalRecordsCount !=0? psLowerBound:0}} to
                                            {{psUpperBound>=pstotalRecordsCount?pstotalRecordsCount:psUpperBound}} of
                                            {{pstotalRecordsCount}}
                                        </span>

                                        <button type="button" class="btn-common-small mx-2"
                                            [ngClass]=" psLowerBound==1?'psDisabled' :'' " [disabled]='psLowerBound==1'
                                            (click)="this.psPagePrev()">Prev</button>
                                        <button type="button" class="btn-common-small mx-2"
                                            [ngClass]=" psUpperBound>=pstotalRecordsCount?'psDisabled' :'' "
                                            [disabled]="psUpperBound>=pstotalRecordsCount"
                                            (click)="this.psPageNext()">Next</button>
                                    </div>
                                </div>
                            </div>

                            <!-- =========================================== 2nd Widget============================= -->

                            <div class="col-md-6 col-xs-12 px-3 pb-2 pt-0 mr-0 xs-pad">
                                <div class="widget-block">

                                    <div class="widget-header row align-items-center green-bg m-0">
                                        <div class="col-md-5"></div>
                                        <h5 class="text-white m-0 text-center col-md-2">DCS</h5>
                                        <div class="col-md-5 d-flex justify-content-end align-items-center">
                                            <ng-autocomplete class="w-150" [data]="dcsList" [searchKeyword]="dcskeyword"
                                                #autodcs placeHolder="search DCS"
                                                (inputCleared)="selectDcsListByDcsId('',false)"
                                                (selected)='selectDcsListByDcsId($event,true)'
                                                [itemTemplate]="itemTemplateDcs">
                                            </ng-autocomplete>

                                            <ng-template style="width: 100%;" #itemTemplateDcs let-item>
                                                <a [innerHTML]="item.dcsName"></a>
                                            </ng-template>

                                            <!-- <button
                                                class="d-flex btn-common widget-header-button align-items-center mr-2">
                                                <i class="fas fa-plus-circle mr-2 mt-0"></i>
                                                <span>Create</span>
                                            </button> -->
                                            <div class="ico">
                                                <i class="fas fa-compress-alt min-1 px-2"></i>
                                                <i class="fas fa-expand max-1 px-2"></i>
                                            </div>
                                            <!-- <select class="mt-1 text-right">
                                        <option value="1">Widget Choice</option>
                                        <option value="2">Admissions</option>
                                        <option value="3">DCS</option>
                                        <option value="4">Authorisation services</option>
                                        <option value="5">Visits</option>
                                        <option value="6">Cms</option>
                                        </select> -->
                                        </div>
                                    </div>

                                    <div class="widget-inner p-2">
                                        <div class="table-responsive">
                                            <table class="table position-relative">
                                                <thead class="thead-light no-wrap">
                                                    <tr>
                                                        <!-- <th class="align-middle">Info</th> -->
                                                        <th class="align-middle"></th>
                                                        <th class="align-middle">DCS Name</th>
                                                        <th class="align-middle">HomeSite</th>
                                                        <th class="align-middle">Emp Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor='let dcs of dcsList; let i=index;'>
                                                        <!-- <td class="position-relative edit-option">
                                                            <ul class="m-0 p-0">
                                                                <li class="">
                                                                    <div class="share-button">
                                                                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                                                                        <label for="toggle-input" class="toggle"></label></div>
                                                                    <div class="slider d-flex align-items-center">
                                                                        <p class="blue-bg twitter">
                                                                            <span>
                                        <a class="text-white">
                                        </a>
                                      </span>

                                                                        </p>
                                                                        <p class="blue-bg facebook mr-2 ">
                                                                            <span>
                                        <a class="text-white">
                                        </a>
                                      </span>
                                                                        </p>
                                                                        <p class="blue-bg googleplus mr-2">
                                                                            <span>
                                        <a class="text-white">

                                        </a>
                                      </span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td> -->
                                                        <td></td>
                                                        <td>{{dcs.dcsName}}</td>
                                                        <td>{{dcs.homeSite}}</td>
                                                        <td>{{''}}</td>
                                                        <!-- <td *ngIf='dcs.expiringCertificates==0'>No</td> -->
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <div class="text-center no-data-text" *ngIf="dcstotalRecordsCount==0"> No
                                                Data To Display </div>

                                        </div>
                                    </div>
                                    <div class="pager">
                                        <span class="mr-2">Per page</span>
                                        <select [(ngModel)]="this.dcsPerPage" (change)="this.dcspagereset()"
                                            class="border-0 mr-2">
                                            <option [ngValue]="5">5</option>
                                            <option [ngValue]="10">10</option>
                                            <option [ngValue]="15">15</option>
                                            <option [ngValue]="20">20</option>


                                        </select>
                                        <span class="mr-2">showing {{dcstotalRecordsCount!=0? dcsLowerBound:0}} to
                                            {{dcsUpperBound>=dcstotalRecordsCount?dcstotalRecordsCount:dcsUpperBound}}
                                            of
                                            {{dcstotalRecordsCount}} </span>


                                        <button type="button" class="btn-common-small mx-2"
                                            [ngClass]=" dcsLowerBound==1?'psDisabled' :'' "
                                            [disabled]='dcsLowerBound==1' (click)="this.dcsPagePrev()">Prev</button>
                                        <button type="button" class="btn-common-small mx-2"
                                            [ngClass]=" dcsUpperBound>=dcstotalRecordsCount?'psDisabled' :'' "
                                            [disabled]="dcsUpperBound>=dcstotalRecordsCount"
                                            (click)="this.dcsPageNext()">Next</button>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row m-0">
                            <div class="col-md-6 col-xs-12 px-0 pb-2 pt-0 mr-0">
                                <div class="widget-block xs-mar">

                                    <div class="widget-header row align-items-center peach-bg m-0">
                                        <div class="col-md-5"></div>
                                        <h5 class="text-white m-0 text-center col-md-2">Admissions</h5>
                                        <div class="col-md-5 d-flex justify-content-end align-items-center">
                                            <ng-autocomplete class="w-150" [data]="psList" [searchKeyword]="pskeyword"
                                                #autoadm placeHolder="Search PS"
                                                (inputCleared)="selectAdmissionListByDcsId('',false)"
                                                (selected)='selectAdmissionListByDcsId($event,true)'
                                                [itemTemplate]="itemTemplateps">
                                            </ng-autocomplete>

                                            <ng-template style="width: 100%;" #itemTemplateps let-item>
                                                <a [innerHTML]="item.PSName"></a>
                                            </ng-template>

                                            <!-- <button
                                                class="d-flex btn-common widget-header-button align-items-center mr-2">
                                                <i class="fas fa-plus-circle mr-2 mt-0"></i>
                                                <span>Create</span>
                                            </button> -->
                                            <div class="ico">
                                                <i class="fas fa-compress-alt min-1 px-2"></i>
                                                <i class="fas fa-expand max-1 px-2"></i>
                                            </div>
                                            <!-- <select class="mt-1 text-right">
                                        <option value="1">Widget Choice</option>
                                        <option value="2">Admissions</option>
                                        <option value="3">DCS</option>
                                        <option value="4">Authorisation services</option>
                                        <option value="5">Visits</option>
                                        <option value="6">Cms</option>
                                        </select> -->
                                        </div>
                                    </div>

                                    <div class="widget-inner p-2">
                                        <div class="table-responsive">
                                            <table class="table position-relative">
                                                <thead class="thead-light no-wrap">
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th class="align-middle">PS Name</th>
                                                        <th class="align-middle">Account</th>
                                                        <th class="align-middle">Admission Date</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr *ngFor='let  admission of admissionsList; let i=index;'>
                                                        <td class="position-relative edit-option">
                                                            <ul class="m-0 p-0">
                                                                <li class="">
                                                                    <div class="share-button">
                                                                        <input class="toggle-input" id="toggle-input"
                                                                            type="checkbox" />
                                                                        <label for="toggle-input"
                                                                            class="toggle"></label></div>
                                                                    <div class="slider d-flex align-items-center">

                                                                        <p class="blue-bg googleplus">
                                                                            <span>
                                                                                <a class="text-white"
                                                                                    (click)="selectAuthorizationByPsId(admission,true)"
                                                                                    title="Aurhorization">

                                                                                </a>
                                                                            </span>
                                                                            <!-- </p>
                                                                        <p class="blue-bg twitter mr-2">
                                                                            <span>
                                        <a href="javascript:void(0)" class="text-white">
                                        </a>
                                      </span>

                                                                        </p> -->
                                                                            <!-- <p class="blue-bg facebook mr-2 ">
                                                                                <span>
                                        <a href="javascript:void(0)" class="text-white">
                                        </a>
                                      </span>
                                                                            </p> -->

                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>{{admission.PSName}}</td>
                                                        <td>{{admission.accountNumber}}</td>
                                                        <td>{{admission.admissionDate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center no-data-text" *ngIf="admissiontotalRecordsCount==0">
                                                No Data To Display
                                            </div>

                                        </div>

                                        <div class="pager mt-2">
                                            <span class="mr-2">Per page</span>
                                            <select [(ngModel)]="this.admissionPerPage" class="border-0 mr-2">
                                                <option [ngValue]="5">5</option>
                                                <option [ngValue]="10">10</option>
                                                <option [ngValue]="15">15</option>
                                                <option [ngValue]="20">20</option>


                                            </select>
                                            <span class="mr-2">showing
                                                {{ admissiontotalRecordsCount!=0? admissionLowerBound:0}} to
                                                {{admissionUpperBound>=admissiontotalRecordsCount?admissiontotalRecordsCount:admissionUpperBound}}
                                                of {{admissiontotalRecordsCount}} </span>


                                            <button type="button" class="btn-common-small mx-2"
                                                [ngClass]="admissionLowerBound==1?'psDisabled' :'' "
                                                [disabled]='admissionLowerBound==1'
                                                (click)="this.admissionPagePrev()">Prev</button>
                                            <button type="button" class="btn-common-small mx-2"
                                                [ngClass]=" admissionUpperBound>=admissiontotalRecordsCount?'psDisabled' :'' "
                                                [disabled]="admissionUpperBound>=admissiontotalRecordsCount"
                                                (click)="this.admissionPageNext()">Next</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12 px-3 pb-2 pt-0 mr-0 xs-pad">
                                <div class="widget-block">
                                    <div class="widget-header row align-items-center lightblue-bg m-0">
                                        <div class="col-md-5"></div>
                                        <h5 class="text-white m-0 text-center col-md-2">Authorizations</h5>
                                        <div class="col-md-5 d-flex justify-content-end align-items-center">
                                            <ng-autocomplete class="w-150" [data]="psList"
                                                [searchKeyword]="authorizationkeyword" #autoauth
                                                placeHolder="Search PS "
                                                (inputCleared)="selectAuthorizationByPsId('',false)"
                                                (selected)='selectAuthorizationByPsId($event,true)'
                                                [itemTemplate]="AuthorizationByPsId">
                                            </ng-autocomplete>

                                            <ng-template style="width: 100%;" #AuthorizationByPsId let-item>
                                                <a [innerHTML]="item.PSName"></a>
                                            </ng-template>

                                            <!-- <button
                                                class="d-flex btn-common widget-header-button align-items-center mr-2">
                                                <i class="fas fa-plus-circle mr-2 mt-0"></i>
                                                <span>Create</span>
                                            </button> -->
                                            <div class="ico">
                                                <i class="fas fa-compress-alt min-1 px-2"></i>
                                                <i class="fas fa-expand max-1 px-2"></i>
                                            </div>
                                            <!-- <select class="mt-1 text-right">
                                        <option value="1">Widget Choice</option>
                                        <option value="2">Admissions</option>
                                        <option value="3">DCS</option>
                                        <option value="4">Authorisation services</option>
                                        <option value="5">Visits</option>
                                        <option value="6">Cms</option>
                                        </select> -->
                                        </div>
                                    </div>




                                    <div class="widget-inner p-2">
                                        <div class="table-responsive">
                                            <table class="table position-relative">
                                                <thead class="thead-light no-wrap">
                                                    <tr>
                                                        <th></th>
                                                        <th class="align-middle">PS Name</th>
                                                        <th class="align-middle">Auth</th>
                                                        <th class="align-middle">Procedure Code</th>
                                                        <th class="align-middle">TotalUnits</th>
                                                        <!-- <th class="align-middle">Consumed DP</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let auth of authorizationList'>
                                                        <!-- <td class="position-relative edit-option">
                                                            <ul class="m-0 p-0">
                                                                <li class="">
                                                                    <div class="share-button">
                                                                        <input class="toggle-input" id="toggle-input" type="checkbox" />
                                                                        <label for="toggle-input" class="toggle"></label></div>
                                                                    <div class="slider d-flex align-items-center ">
                                                                        <p class="blue-bg twitter">
                                                                            <span>
                                        <a href="javascript:void(0)" class="text-white">
                                        </a>
                                      </span>

                                                                        </p>
                                                                        <p class="blue-bg facebook mr-2">
                                                                            <span>
                                        <a href="javascript:void(0)" class="text-white">
                                        </a>
                                      </span>
                                                                        </p>
                                                                        <p class="blue-bg googleplus mr-2">
                                                                            <span>
                                        <a href="javascript:void(0)" class="text-white">

                                        </a>
                                      </span>
                                                                        </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td> -->
                                                        <td></td>
                                                        <td>{{auth.PSName}}</td>
                                                        <td>{{auth.authorizationNumber}}</td>
                                                        <td>{{auth.procedureCode}}</td>
                                                        <td>{{auth.totalUnits}}</td>
                                                        <!-- <td>{{auth.consumedUnits}}</td> -->
                                                    </tr>
                                                </tbody>

                                            </table>
                                            <div class="text-center no-data-text"
                                                *ngIf="authorizationtotalRecordsCount==0"> No Data To Display </div>

                                        </div>
                                        <div class="pager mt-2">
                                            <span class="mr-2">Per page</span>
                                            <select [(ngModel)]="this.authorizationPerPage" class="border-0 mr-2">
                                                <option [ngValue]="5">5</option>
                                                <option [ngValue]="10">10</option>
                                                <option [ngValue]="15">15</option>
                                                <option [ngValue]="20">20</option>
                                            </select>
                                            <span class="mr-2">showing
                                                {{authorizationtotalRecordsCount!=0 ? authorizationLowerBound:'0'}} to
                                                {{authorizationUpperBound>=authorizationtotalRecordsCount?authorizationtotalRecordsCount:authorizationUpperBound}}
                                                of {{authorizationtotalRecordsCount}} </span>


                                            <button type="button" class="btn-common-small mx-2"
                                                [ngClass]=" authorizationLowerBound==1?'psDisabled' :'' "
                                                [disabled]='authorizationLowerBound==1'
                                                (click)="this.authorizationPagePrev()">Prev</button>
                                            <button type="button" class="btn-common-small mx-2"
                                                [ngClass]=" authorizationUpperBound>=authorizationtotalRecordsCount?'psDisabled' :'' "
                                                [disabled]="authorizationUpperBound>=authorizationtotalRecordsCount"
                                                (click)="this.authorizationPageNext()">Next</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <section class="scrolling-alerts mt-1 pb-4">
          <h5 class="text-center py-2 scrolling-alerts-title">Alerts List</h5>
          <div class="d-flex justify-content-between align-items-center py-2">
            <marquee>
              <h6>
                {{scrollData}}
              </h6>
            </marquee>
          </div>
        </section> -->
            </div>

            <!-- <div class="mr-0 mt-0 mb-2 cms-widget">
        <div class="">
          <div class="cms-header px-2">
            <h5 class="text-white"><a href="javasript:void(0)">Call Management</a></h5>
          </div>
          <div class="cms-widget-content">
            <li>
              <div id="gpsGuage1"></div>
              <p class="m-0 "><a href="javasript:void(0)">GPS Discrepancy</a></p>
            </li>
            <li>
              <div id="gpsGuage2"></div>
              <p class="m-0"><a href="javasript:void(0)">Invalid Caller ID</a></p>
            </li>
            <li>
              <div id="gpsGuage3"></div>
              <p class="m-0 "> <a href="javasript:void(0)">Scheduled Variance</a></p>
            </li>
            <li>
              <div id="gpsGuage4"></div>
              <p class="m-0 "><a href="javasript:void(0)">Missed Clock In/Out</a></p>
            </li>
            <li>
              <div id="gpsGuage5"></div>
              <p class="m-0 "><a href="javasript:void(0)">Excessive TT</a> </p>
            </li>
            <li>
              <div id="gpsGuage6"></div>
              <p class="m-0 "><a href="javasript:void(0)">Excessive Mileage</a></p>
            </li>
          </div>
        </div>
      </div> -->
        </section>
    </div>
</div>


<!-- ====================end of the file================== -->