<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <div class="bg-grey-l p-3">
            <div class="d-flex align-items-center height-30 payor-title">
                <h4 class="AvenirLTStd-Heavy m-0 f-size-16">Payor Plan Details</h4>
                <div class="pl-3 d-flex align-items-center justify-content-between">
                    <label class="m-0 color-black">
  Private Duty<span class="text-danger">*</span>
  </label>
                    <div class="check-box-wrapper pl-3">
                        <div class="on-off-toggle">
                            <input class="on-off-toggle__input" type="checkbox" (click)="pvtDuty($event)" id="bopis" />
                            <label for="bopis" class="on-off-toggle__slider"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-2">
                <form class="form-1-payor" [formGroup]="payorPlanForm">
                    <div class="d-flex align-items-center nav">
                        <div class="input-container-wrapper">
                            <label class="">
  Payor Plan<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <div class="ng-autocomplete" style="width: 100%;">
                                    <ng-autocomplete [data]="payorData" [searchKeyword]="payor" [itemTemplate]="itemTemplate10" formControlName="payorPlan" [class.invalid-input]="(f.payorPlan.invalid && formError)||(f.payorPlanId.invalid && formError)" (inputCleared)="getPayorCodes($event,false)"
                                        (selected)="getPayorCodes($event,true)">
                                    </ng-autocomplete>
                                    <ng-template style="width: 100%;" #itemTemplate10 let-item>
                                        <a [innerHTML]="item.planname"></a>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                        <div class="input-container-wrapper">
                            <label class="">
  Payor Code<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <input type="text" class="form-control" formControlName="payorCode" aria-label="Case Manager" disabled>

                            </div>

                        </div>
                        <div class="input-container-wrapper">
                            <label class="">
  Plan Code<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <input type="text" class="form-control" formControlName="plancode" aria-label="Case Manager" disabled>

                            </div>

                        </div>
                        <div class="input-container-wrapper d-flex pb-0 align-items-center input-wrap">
                            <div class="input-container-wrapper w-144 padding-right-0">
                                <label class="">
  Rank<span class="text-danger">*</span>
  </label>

                                <div class="input-group ">
                                    <select class="form-control" formControlName="rank" [class.is-invalid]="f.rank.invalid && formError">
  <option value="">Select</option>
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>


  </select>
                                </div>

                            </div>

                            <div class=" input-container-wrapper pr-0 w-100">
                                <label class="white-space-nowrap">
  Effective From<span class="text-danger">*</span>
  </label>

                                <div class="input-group ">
                                    <input type="text" class="form-control" formControlName="effectiveFrom" [class.is-invalid]="f.effectiveFrom.invalid && formError" placeholder="mm/dd/yyyy" bsDatepicker>
                                </div>

                            </div>
                        </div>

                        <div class=" input-container-wrapper w-160">
                            <label class="">
  Effective To
  </label>

                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="mm/dd/yyyy" formControlName="effectiveto" [class.is-invalid]="f.effectiveto.invalid && formError" bsDatepicker>
                            </div>

                        </div>
                    </div>


                </form>
                <div class="d-flex align-items-center pt-2">
                    <h4 class="py-2
  AvenirLTStd-Heavy m-0 address-title p-0 f-size-16 pr-3">Subscriber Details</h4>
                    <div class="d-flex align-items-center">
                        <label class="customcheck m-0">
  <input type="checkbox" (change)="get1($event)">
  <span class="checkmark"></span>
  </label>
                        <label for='checkbox' class="m-0">
  <span class="color-black">Self</span>
  </label>
                    </div>
                </div>
                <form class="" [formGroup]="payorPlanForm">
                    <div class="d-flex align-items-center nav">
                        <div class="input-container-wrapper">
                            <label class="">
  Relationship<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <div class="ng-autocomplete" style="width: 100%;">
                                    <ng-autocomplete #relationName [data]="relationshipList" formControlName="relationshipList" [class.invalid-input]="(f.relationshipList.invalid && formError)||(f.relationshipListId.invalid && formError)" (inputCleared)="selectChange($event,'relation',false)"
                                        (selected)="selectChange($event,'relation',true)" [searchKeyword]="Keyword" [itemTemplate]="itemTemplate1">
                                    </ng-autocomplete>
                                    <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                </div>
                            </div>

                        </div>

                        <div class=" input-container-wrapper">
                            <label class="text-capital">
  Last Name<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <input type="text" formControlName="lastName" class="form-control text-capital" [class.is-invalid]="f.lastName.invalid && formError" aria-label="Auth">
                            </div>

                        </div>
                        <div class=" input-container-wrapper">
                            <label class="text-capital">
  First Name<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <input type="text" class="form-control text-capital" aria-label="Last Name" formControlName="firstName" [class.is-invalid]="f.firstName.invalid && formError">

                            </div>
                        </div>

                        <div class=" m-0 input-container-wrapper ">
                            <label class="">Gender<span class="text-danger">*</span></label>
                            <div class="input-group ">
                                <div class="ng-autocomplete" style="width: 100%;">
                                    <ng-autocomplete [data]="genderList" [searchKeyword]="Keyword" formControlName="gender" (inputCleared)="selectChange($event,'genderId',false)" [class.invalid-input]="(f.genderId.invalid && formError)||(f.gender.invalid && formError)" (selected)="selectChange($event,'genderId',true)"
                                        [itemTemplate]="itemTemplate20">
                                    </ng-autocomplete>
                                    <ng-template style="width: 100%;" #itemTemplate20 let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class=" m-0 input-container-wrapper w-160">
                            <label class="">
  Date of Birth<span class="text-danger">*</span>
  </label>

                            <div class="input-group ">
                                <input type="text" class="form-control" [maxDate]="currentDate" [class.is-invalid]="f.dob.invalid && formError" formControlName="dob" aria-label="Case Manager" placeholder="mm/dd/yyyy " bsDatepicker>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex align-items-center nav">


                        <div class=" m-0 input-container-wrapper">
                            <label class="">
  SSN
  </label>

                            <div class="input-group ">
                                <input type="text" maxlength=11 (keyup)="PhoneNumFormat($event,'ssn')" formControlName='ssn' [class.is-invalid]="f.ssn.invalid && formError" class="form-control" aria-label="Case Manager">
                            </div>

                        </div>
                        <div class=" input-container-wrapper">
                            <label class="">
  Policy Number<span class="text-danger"></span>
  </label>
                            <div class="input-group ">
                                <input type="text" class="form-control" formControlName="policyNumber" [class.is-invalid]="f.policyNumber.invalid && formError">
                            </div>

                        </div>
                        <!-- <div class=" input-container-wrapper"></div>
  <div class=" input-container-wrapper"></div>
  <div class=" input-container-wrapper"></div> -->
                    </div>
                    <!-- <div class=" input-container-wrapper"></div>
  <div class=" input-container-wrapper"></div> -->
                </form>

                <form class="d-flex align-items-center nav justify-content-between" [formGroup]="payorPlanForm">
                    <div class="input-container-wrapper">
                        <label class="">
  Location<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <div class="ng-autocomplete" style="width: 100%;">
                                <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword" formControlName="addressTypeList" [class.invalid-input]="(f.addressTypeList.invalid && formError)||(f.addressTypeListId.invalid && formError)" (inputCleared)="selectChange($event,'addressTypeId',false)"
                                    (selected)="selectChange($event,'addressTypeId',true)" [itemTemplate]="itemTemplate">
                                </ng-autocomplete>
                                <ng-template style="width: 100%;" #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
                            </div>
                        </div>

                    </div>

                    <div class=" input-container-wrapper">
                        <label class="">
  Address Line #1<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <input type="text" formControlName="lane" [class.is-invalid]="f.lane.invalid && formError" class="form-control">
                        </div>

                    </div>
                    <div class=" input-container-wrapper">
                        <label class="">
  Address Line #2
  </label>

                        <div class="input-group ">
                            <input type="text" formControlName="lane1" class="form-control" class="form-control">
                        </div>

                    </div>
                    <div class=" input-container-wrapper">
                        <label class="">
  Zip Code<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <input type="text" class="form-control" [class.is-invalid]="f.zipcode.invalid && formError" aria-label="date" formControlName='zipcode' (keyup)="getzip()" id="autocomplete" type="text" class="form-control">

                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper phone-container">
                        <label class="">
  Phone<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <div class=" date-input d-flex align-items-center w-100">
                                <div class="ng-autocomplete phone-select">
                                    <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword" formControlName="phoneTypeList" (inputCleared)="selectChange($event, 'phoneTypeList',false)" [class.invalid-input]="(f.phoneTypeList.invalid && formError)||(f.phoneTypeListId.invalid && formError)"
                                        (selected)="selectChange($event, 'phoneTypeList',true)" placeHolder="Type" [itemTemplate]="itemTemplate">
                                    </ng-autocomplete>
                                    <ng-template style="width: 100%;" #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                </div>
                                <div class="input-group ">
                                    <input type="text" [class.is-invalid]="f.number.invalid && formError" (keyup)="PhoneNumFormat($event,'phone')" maxlength=12 formControlName="number" class="form-control">
                                    <!-- <div *ngIf="f.number.invalid && f.number.touched && f.number.errors">
  <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is required!</small>
  </div> -->
                                </div>
                            </div>
                        </div>
                        <div *ngIf="f.number.invalid && f.number.touched && f.number.errors" class="errors">
                            <!-- <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is required!</small> -->
                            <!-- <small class="text-danger" *ngIf="f.number.errors?.pattern ">Only Numbers</small>
  <small class="text-danger" *ngIf="f.number.errors?.minlength ">Digits should be 10</small>
  <small class="text-danger" *ngIf="f.number.errors?.maxlength "></small> -->
                        </div>

                    </div>
                    <div class=" m-0 input-container-wrapper pb-sm-0">
                        <label class="">City<span class="text-danger">*</span> </label>
                        <div class="input-group ">
                            <input type="text" class="form-control" [class.is-invalid]="f.city.invalid && formError" formControlName="city" aria-label="date" disabled=true>
                        </div>
                    </div>
                    <div class=" input-container-wrapper pb-sm-0">
                        <label class="">
  State <span class="text-danger">*</span>
  </label>
                        <div class="input-group ">
                            <input type="text" class="form-control " [class.is-invalid]="f.state.invalid && formError" aria-label="date" formControlName="state" disabled="true">
                        </div>
                    </div>
                    <div class=" input-container-wrapper pb-sm-0">
                        <label class="">
  County<span class="text-danger">*</span>
  </label>
                        <div class="input-group ">
                            <input type="text" class="form-control" [class.is-invalid]="f.county.invalid && formError" formControlName="county" aria-label="date" disabled="true">
                        </div>
                    </div>
                    <div class=" m-0 input-container-wrapper pb-sm-0">
                        <label class="">
  Time Zone<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <input type="text" class="form-control" [class.is-invalid]="f.timeZone.invalid && formError" formControlName="timeZone" aria-label="Case Manager" disabled="true">
                        </div>

                    </div>
                    <div class=" m-0 input-container-wrapper pb-sm-0">
                        <label class="">
  Country<span class="text-danger">*</span>
  </label>

                        <div class="input-group ">
                            <input type="text" class="form-control" [class.is-invalid]="f.country.invalid && formError" formControlName="country" aria-label="Case Manager" disabled="true">
                        </div>

                    </div>

                </form>
            </div>
            <!-- <div class="d-flex align-items-center justify-content-between mt-3">
  <div class="previous">
  <button type="button" class="btn-info btn-next prev-step" >Previous</button>
  </div>
  <div class="next">
  <button type="button" class="btn-info btn-next">Save</button>
  </div>
  </div> -->
            <div class="d-flex align-items-center justify-content-between mt-3">
                <!-- <div class="previous">
  <button type="button" class="btn-info btn-next prev-step">Previous</button>
  </div> -->
                <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step" [routerLink]="['/widgets']">Cancel</button></div>
                <div class="next">
                    <button type="button" class="btn-info btn-next next-step" (click)="onSubmit()">Save & Next</button>
                </div>
                <!-- <div class="next">
  <button type="button" class="btn-info next-step btn-next">Next</button>
  </div> -->
            </div>
        </div>
    </div>
</div>
