<app-header></app-header>

<div class="visit-review-wrapper p-2">
  <div class=" bg-blue w-100 px-4 py-2">

    <!-- <div class="position-relative form-input w-250">
      <input type="text" class="form-control " placeholder="Search....">

      <i class="fas fa-chevron-down right-icon top-0" (click)="filtermenu()"></i>
      <div class="dropdown-menu  filter-menu">
        <table class="payor-plan w-100">
          <tr>
            <td class="pr-3 pb-2">Site
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">PS
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">PS Phone#<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">DCS <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
             
                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class=" pb-2">DCS Phone#
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
          </tr>
          <tr>

            <td class="pr-3 pb-2">CSS
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">Service<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Scheduled Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
             
                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Scheduled End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class=" pb-2">Actual Scheduled Start<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
              
              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          </tr>
          <tr>

        
            <td class="pr-3 pb-2">Actual Scheduled End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Original Reported Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
          
                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Original Reported End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Adjusted Reported Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
             
                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class=" pb-2">Adjusted Reported End<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
              <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
            </div>
          </td>
          </tr>
          <tr>
       
          <td class="pr-3 pb-2">Arrival Adjust Reason<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
           
              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          <td class="pr-3 pb-2">Departure Adjust Reason<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
              <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
            </div>
          </td>
          <td class="pr-3 pb-2">Exception Details<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
      
              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          </tr>

        </table>
        
        <div class="d-flex align-items-center justify-content-between pt-2 inner-header">
          <button class="btn-common height-30 btn-blue  d-flex align-items-center justify-content-center"><span
              class=" mr-2">
              <i class="fas fa-times"></i>
            </span>Cancel</button>
         
          <button class="btn-common height-30 btn-green  d-flex align-items-center justify-content-center"><span
              class=" mr-2">
              <i class="fas fa-search"></i>
            </span>Search</button>
        </div>

      </div>



    </div> -->

    <div class="d-flex align-items-center justify-content-between">

      <div>
        <div class="d-flex justify-content-center  mb-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input " id="exampleCheck1" style="height:18px; width:18px;">
            <label class="form-check-label text-white ml-2 mt-2" for="exampleCheck1">No PS Signature</label>
          </div>
        </div>

        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="Site">
          <i class="fas fa-sitemap  ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center  mb-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input " id="exampleCheck1" style="height:18px; width:18px;">
            <label class="form-check-label text-white ml-2 mt-2" for="exampleCheck1">No DCS Signature</label>
          </div>
        </div>

        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="PS">
          <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
        </div>

      </div>

      <div>
        <div class="d-flex justify-content-center  mb-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input " id="exampleCheck1" style="height:18px; width:18px;">
            <label class="form-check-label text-white ml-2 mt-2" for="exampleCheck1">No Tasks</label>
          </div>

        </div>

        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="DCS">
          <!-- <i class="fas fa-user " data-toggle="modal" data-target="#service_popup"></i> -->
          <i class="fas fa-user-md ml-2 right-icon"></i>
        </div>

      </div>

      <div>
        <div class="d-flex justify-content-center  mb-2">
          <div class="form-check">
            <input type="checkbox" class="form-check-input " id="exampleCheck1" style="height:18px; width:18px;">
            <label class="form-check-label text-white ml-2 mt-2" for="exampleCheck1">No Progress Notes</label>
          </div>
        </div>

        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="CSS">
          <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
        </div>
      </div>


    </div>

    <div class="d-flex align-items-center justify-content-between mt-2">
      <div class="input-group form-input align-items-center header-input">
        <input type="text" class="form-control" placeholder="Service">
        <!-- <i class="fad fa-users-medical"></i> -->
        <!-- <i class="fas fa-user " data-toggle="modal" data-target="#service_popup"></i> -->
        <i class="fas fa-notes-medical ml-2 right-icon"></i>
      </div>

      <div>
        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="Scheduled Start">
          <!-- <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i> -->
          <i class="fas fa-calendar-week  ml-2 right-icon"></i>
        </div>

      </div>

      <div>
        <div class="input-group form-input align-items-center header-input">
          <input type="text" class="form-control" placeholder="Scheduled End">
          <!-- <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i> -->
          <i class="fas fa-calendar-week  ml-2 right-icon"></i>
        </div>

      </div>

      <div>
        <div class="header-input">
          <button
            class="btn-common height-30 btn-green  d-flex align-items-center justify-content-end w-80px ml-auto"><span
              class=" mr-2">
              <i class="fas fa-search"></i>
            </span>Search</button>
        </div>
      </div>

    </div>
  </div>

  <div class="table-responsive box-shadow ">
    <table class="table text-center mb-0 visit-table">
      <thead class="thead-dark">
        <tr>
          <th colspan="5" class="bg-secondary border-right">
            Client Details
          </th>
          <th colspan="8" class="bg-secondary border-right">
            Service Details
          </th>
          <th colspan="7" class="bg-secondary border-right">
            Documentation Details
          </th>
        </tr>
        <tr>
          <th class="text-center" scope="col">
            Site
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            PS / Account Number
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            DCS
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            CSS
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th scope="col" class="text-center ">
            Payor/Plan
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            Procedure Code
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th></th>
          <th class="text-center" scope="col" colspan="2">
            Scheduled Times
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col" colspan="2">
            Reported Times
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            Tasks
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            PS <i class="fas fa-file-signature ml-2"></i>
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            DCS <i class="fas fa-file-signature ml-2"></i>
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            Progress Notes
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            Exceptions
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center" scope="col">
            Approved
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1723</td>
          <td>ALFORD, TOMMIE <br> 1723000122</td>
          <td>BANKS, LYNDA</td>
          <td>Sisson, Kimberley</td>
          <td>13/10</td>
          <td>CCRN</td>
          <td>
            <i class="fas fa-clock f-18" data-toggle="modal" data-target="#timesModal"></i>
          </td>
          <td>
            8:10 AM
          </td>
          <td>10:25 AM</td>
          <td>8:10 AM</td>
          <td>10:25 AM</td>
          <td class="Tasks blue">
            <span data-toggle="modal" data-target="#exampleModal">6</span>
          </td>
          <td class="PS Sign">
            <span class=" blue" data-toggle="modal" data-target="#signModal">Yes</span>
          </td>
          <td class="DCS Sign">
            No
          </td>
          <td class="Progress Notes blue">Yes</td>
          <td class="Exception blue">
            2/5
          </td>
          <td class="Approved">No</td>
        </tr>
        <tr>
          <td>1723</td>
          <td>ALFORD, TOMMIE <br> 1723000122</td>
          <td>BANKS, LYNDA</td>
          <td>Sisson, Kimberley</td>
          <td>13/10</td>
          <td>CCRN</td>
          <td><i class="fas fa-clock f-18" data-toggle="modal" data-target="#timesModal"></i></td>
          <td>
            8:10 AM
          </td>
          <td>10:25 AM</td>
          <td>8:10 AM</td>
          <td>10:25 AM</td>
          <td class="Tasks blue">
            <span data-toggle="modal" data-target="#exampleModal">4</span>
          </td>
          <td class="PS Sign">
            <span class=" blue">No</span>
          </td>
          <td class="DCS Sign">
            No
          </td>
          <td class="Progress Notes blue">Yes</td>
          <td class="Exception blue">
            3/5
          </td>
          <td class="Approved">No</td>
        </tr>
        <tr>
          <td>1723</td>
          <td>ALFORD, TOMMIE <br> 1723000122</td>
          <td>BANKS, LYNDA</td>
          <td>Sisson, Kimberley</td>
          <td>13/10</td>
          <td>CCRN</td>
          <td><i class="fas fa-clock f-18" data-toggle="modal" data-target="#timesModal"></i></td>
          <td>
            8:10 AM
          </td>
          <td>10:25 AM</td>
          <td>8:10 AM</td>
          <td>10:25 AM</td>
          <td class="Tasks blue">
            <span data-toggle="modal" data-target="#exampleModal">2</span>
          </td>
          <td class="PS Sign">
            <span class=" blue">Yes</span>
          </td>
          <td class="DCS Sign">
            Yes
          </td>
          <td class="Progress Notes">No</td>
          <td class="Exception d-flex align-items-center">

          </td>
          <td class="Approved">Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="task-list">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered task-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Task List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="task-wrapper">
            <div class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                Dishes
                <i class="fas fa-check-circle f-18 text-success"></i>
              </span>
            </div>

            <div class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                Housework,Clean Appliances
                <i class="fas fa-times-circle f-18 text-danger"></i>
              </span>
            </div>

            <div class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                Housework,Surface
                <i class="fas fa-times-circle f-18  text-danger"></i>
              </span>
            </div>

            <div class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                Shower
                <i class="fas fa-check-circle f-18 text-success"></i>
              </span>
            </div>

            <div class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                Tub Bath
                <i class="fas fa-check-circle f-18 text-success"></i>
              </span>
            </div>
          </div>
          <!-- <table class="table table-bordered mt-2 box-shadow">
            <thead>
              <tr>
                <th scope="col" class=" bg-dark text-white">Task Codes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>Thornton</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="times">
  <div class="modal fade" id="timesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered times-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Timings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="times-wrapper box-shadow">
            <table class="table table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th colspan="2" class="text-center">Original Scheduled Times</th>
                  <th colspan="2" class="text-center">Original Reported Times</th>
                  <th colspan="2" class="text-center">Adjusted Reported Times</th>
                  <th colspan="2" class="text-center">Bill Times (Adjusted Scheduled Times)</th>
                  <th colspan="2" class="text-center">Pay Times</th>
                  <th colspan="" class="text-center">Linked Time</th>
                  <th colspan="" class="text-center">Linked By</th>
                </tr>
                <tr>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>11/24/2020 <br> 07:45 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:30 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/27/2020 <br> 04:18 AM </td>
                  <td>Hortman Merri Jo</td>
                </tr>
                <tr>
                  <td>11/24/2020 <br> 07:45 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:30 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/24/2020 <br> 07:36 AM </td>
                  <td>11/24/2020 <br> 11:15 AM </td>
                  <td>11/27/2020 <br> 04:18 AM </td>
                  <td>Hortman Merri Jo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sign">
  <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered times-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Signature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5>PS Signature</h5>
          <div class="bg-white sign-portion">
            <i class="fas fa-signature d-flex justify-content-center align-items-center " style="font-size: 100px; margin-top: 25px;"></i>
          </div>

          <h5 class="mt-4">DCS Signature</h5>
          <div class="bg-white sign-portion">
            <!-- <i class="fas fa-signature d-flex justify-content-center align-items-center " style="font-size: 100px; margin-top: 25px;"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


























<div class="modal fade" id="signature" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered task-list" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header ">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body ">
        .....




      </div>
    </div>
  </div>
</div>