<app-header></app-header>

<div class="visit-review-wrapper p-2">
  <div class="bg-blue w-100 px-4 py-2 d-flex justify-content-between align-items-end">

    <!-- <div class="position-relative form-input w-250">
      <input type="text" class="form-control " placeholder="Search....">

      <i class="fas fa-chevron-down right-icon top-0" (click)="filtermenu()"></i>
      <div class="dropdown-menu  filter-menu">
        <table class="payor-plan w-100">
          <tr>
            <td class="pr-3 pb-2">Site
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">PS
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">PS Phone#<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">DCS <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">

                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class=" pb-2">DCS Phone#
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
          </tr>
          <tr>

            <td class="pr-3 pb-2">CSS
              <div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

              </div>
            </td>
            <td class="pr-3 pb-2">Service<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Scheduled Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">

                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Scheduled End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class=" pb-2">Actual Scheduled Start<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">

              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          </tr>
          <tr>


            <td class="pr-3 pb-2">Actual Scheduled End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Original Reported Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">

                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Original Reported End<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">
                <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
              </div>
            </td>
            <td class="pr-3 pb-2">Adjusted Reported Start<div class="input-group form-input align-items-center">
                <input type="text" class="form-control">

                <i class="fas fa-user ml-2 right-icon"></i>
              </div>
            </td>
            <td class=" pb-2">Adjusted Reported End<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
              <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
            </div>
          </td>
          </tr>
          <tr>

          <td class="pr-3 pb-2">Arrival Adjust Reason<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">

              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          <td class="pr-3 pb-2">Departure Adjust Reason<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">
              <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
            </div>
          </td>
          <td class="pr-3 pb-2">Exception Details<div class="input-group form-input align-items-center">
              <input type="text" class="form-control">

              <i class="fas fa-user ml-2 right-icon"></i>
            </div>
          </td>
          </tr>

        </table>

        <div class="d-flex align-items-center justify-content-between pt-2 inner-header">
          <button class="btn-common height-30 btn-blue  d-flex align-items-center justify-content-center"><span
              class=" mr-2">
              <i class="fas fa-times"></i>
            </span>Cancel</button>

          <button class="btn-common height-30 btn-green  d-flex align-items-center justify-content-center"><span
              class=" mr-2">
              <i class="fas fa-search"></i>
            </span>Search</button>
        </div>

      </div>



    </div> -->

    <div>
      <div class="d-flex align-items-center justify-content-between">

        <div class="mr-5">
          <div class="d-flex justify-content-start  mb-2">
            <input class="form-check-input ml-2" (click)="filtertoggles('ps',$event)" type="checkbox" value=""
              id="defaultCheck4">
            <!-- <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input class="on-off-toggle__input" (click)="filtertoggles('ps',$event)" id="bopis" name='active'
                  type="checkbox" value=1 />
                <label for="bopis" class="on-off-toggle__slider"></label>
              </div>
            </div> -->
            <label class="m-0 font-size-15 text-white" style="padding-left: 25px; margin-top: 1px;">
              No PS Signature
            </label>
          </div>

          <div class="input-group form-input align-items-center header-input">
            <!-- <input type="text" [typeahead]="siteList" [(ngModel)]="psSelected" [typeaheadMinLength]='0'
              typeaheadOptionField="siteName" class="form-control" placeholder="Site"> -->
            <angular2-multiselect [data]="siteList" #ddd (onDeSelectAll)="siteDeselect()" [(ngModel)]="officelist"
              [settings]="dropdownSettings">
            </angular2-multiselect>
            <i class="fas fa-sitemap  ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
          </div>
        </div>

        <div class="mx-5">
          <div class="d-flex justify-content-start  mb-2">
            <!-- <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input class="on-off-toggle__input" id="bopis1" (click)="filtertoggles('dcs',$event)" name='active'
                  type="checkbox" value=1 />
                <label for="bopis1" class="on-off-toggle__slider"></label>
              </div>
            </div> -->
            <input class="form-check-input ml-2" (click)="filtertoggles('dcs',$event)" type="checkbox" value=""
              id="defaultCheck2">
            <label class="m-0 font-size-15 text-white" style="padding-left: 25px; margin-top: 1px;">
              No DCS Signature
            </label>
          </div>

          <div class="input-group form-input align-items-center header-input ml-2">
            <!-- <input type="text" class="form-control" placeholder="PS"> -->
            <ng-autocomplete [data]="psList" [searchKeyword]="'psName'" #autops placeHolder="PS"
              (inputCleared)="selectFilterEvent('','ps')" (selected)='selectFilterEvent($event,"ps")'
              [itemTemplate]="itemTemplateps" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template style="width: 100%;" #itemTemplateps let-item>
              <a [innerHTML]="item.psName"></a>
            </ng-template>
            <i class="fas fa-user ml-2 right-icon" (click)="openpopup('#autops')" data-toggle="modal"
              data-target="#service_popup"></i>
          </div>

        </div>

        <div class="mx-5">
          <div class="d-flex justify-content-start  mb-2">
            <!-- <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input class="on-off-toggle__input" (click)="filtertoggles('task',$event)" id="bopis2" name='active'
                  type="checkbox" value=1 />
                <label for="bopis2" class="on-off-toggle__slider"></label>
              </div>
            </div> -->
            <input class="form-check-input ml-2" (click)="filtertoggles('task',$event)" type="checkbox" value=""
              id="defaultCheck1">
            <label class="m-0 font-size-15 text-white" style="padding-left: 25px; margin-top: 1px;">
              No Tasks
            </label>
          </div>

          <div class="input-group form-input align-items-center header-input">
            <ng-autocomplete [data]="dcsList" #autodcs [searchKeyword]="'dcsName'" #autodcs placeHolder="DCS"
              (inputCleared)="selectFilterEvent('','dcs')" (selected)='selectFilterEvent($event,"dcs")'
              [itemTemplate]="itemTemplatedcs" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template style="width: 100%;" #itemTemplatedcs let-item>
              <a [innerHTML]="item.dcsName"></a>
            </ng-template>
            <!-- <input type="text" class="form-control" [(ngModel)]="dcsSelected" [typeahead]="dcsList" [typeaheadMinLength]='0' typeaheadOptionField="dcsName" placeholder="DCS"> -->
            <!-- <i class="fas fa-user " data-toggle="modal" data-target="#service_popup"></i> -->
            <i class="fas fa-user-md ml-2 right-icon"></i>
          </div>
        </div>

        <div class="mx-5">
          <div class="d-flex justify-content-start  mb-2">
            <input class="form-check-input ml-2" type="checkbox" (click)="filtertoggles('progress',$event)" value=""
              id="defaultCheck3">
            <!-- <div class="check-box-wrapper">
              <div class="on-off-toggle">
                <input class="on-off-toggle__input" id="bopis3" (click)="filtertoggles('progress',$event)" name='active'
                  type="checkbox" value=1 />
                <label for="bopis3" class="on-off-toggle__slider"></label>
              </div>
            </div> -->
            <label class="m-0 font-size-15 text-white" style="padding-left: 25px; margin-top: 1px;">
              No Progress Notes
            </label>
          </div>

          <div class="input-group form-input align-items-center header-input">
            <!-- <input type="text" class="form-control" placeholder="CSS"> -->
            <ng-autocomplete [data]="cssList" #autocss [searchKeyword]="'cssName'" #autocss placeHolder="CSS"
              (inputCleared)="selectFilterEvent('','css')" (selected)='selectFilterEvent($event,"css")'
              [itemTemplate]="itemTemplatecss" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template style="width: 100%;" #itemTemplatecss let-item>
              <a [innerHTML]="item.cssName"></a>
            </ng-template>
            <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>
          </div>
        </div>

      </div>

      <div class="d-flex align-items-center justify-content-between mt-2">
        <div class="mr-0">
          <div class="input-group form-input align-items-center header-input">
            <!-- <input type="text" class="form-control" placeholder="CSS"> -->
            <ng-autocomplete [data]="payorPlanList" [searchKeyword]="'displayName'" #autopayor placeHolder="Payor/Plan"
              (inputCleared)="selectFilterEvent('','payor')" (selected)='selectFilterEvent($event,"payor")'
              [itemTemplate]="itemTemplatepayor" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template style="width: 100%;" #itemTemplatepayor let-item>
              <a [innerHTML]="item.displayName"></a>
            </ng-template>
            <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i>

          </div>
        </div>
        <div class="mr-0 ml-1">
          <div class="input-group form-input align-items-center header-input mr-2">
            <ng-autocomplete [data]="serviceList" #autoservice [searchKeyword]="'serviceName'" #autoservice
              placeHolder="Service" (inputCleared)="selectFilterEvent('','service')"
              (selected)='selectFilterEvent($event,"service")' [itemTemplate]="itemTemplateservice"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template style="width: 100%;" #itemTemplateservice let-item>
              <a [innerHTML]="item.serviceName"></a>
            </ng-template>
            <!-- <input type="text" class="form-control" placeholder="Service"> -->
            <!-- <i class="fad fa-users-medical"></i> -->
            <!-- <i class="fas fa-user " data-toggle="modal" data-target="#service_popup"></i> -->
            <i class="fas fa-notes-medical ml-2 right-icon"></i>
          </div>
        </div>

        <div class="mr-0">
          <div class="input-group form-input align-items-center header-input">
            <input type="text" class="form-control" bsDatepicker [maxDate]="scheEndDate" (ngModelChange)="datchange()"
              [(ngModel)]=" scheBeginDate" placeholder="Scheduled Start">
            <!-- <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i> -->
            <i class="fas fa-calendar-week  ml-2 right-icon-danger "></i>
          </div>

        </div>

        <div class="mr-5">
          <div class="input-group form-input align-items-center header-input">
            <input type="text" class="form-control" bsDatepicker [minDate]="scheBeginDate" [maxDate]="systemDate"
              (ngModelChange)="datchange()" [(ngModel)]="scheEndDate" placeholder="Scheduled End">
            <!-- <i class="fas fa-user ml-2 right-icon" data-toggle="modal" data-target="#service_popup"></i> -->
            <i class="fas fa-calendar-week  ml-2 right-icon-danger "></i>
          </div>
        </div>


      </div>
    </div>

    <div>
      <div class="">
        <button (click)="applyFilters()"
          class="btn-common height-30 btn-green  d-flex align-items-center justify-content-end w-40 ml-auto">
          <i class="fas fa-search mr-2"></i>
          Go
        </button>
      </div>
    </div>

  </div>

  <div class="table-responsive box-shadow ">
    <table class="table text-center mb-0 visit-table">
      <thead class="thead-dark">
        <tr>
          <th colspan="5" class="bg-secondary border-right">
            Client Details
          </th>
          <th colspan="6" class="bg-secondary border-right">
            Service Details
          </th>
          <th colspan="7" class="bg-secondary border-right">
            Documentation Details
          </th>
        </tr>
        <tr>
          <th class="text-center border-right" scope="col">
            Site
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            PS / Account Number
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            DCS
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            CSS
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th scope="col" class="text-center border-right">
            Payor/Plan
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Procedure Code
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Scheduled Times
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Reported Times
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Tasks
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            PS <i class="fas fa-file-signature ml-2"></i>
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            DCS <i class="fas fa-file-signature ml-2"></i>
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Progress Notes
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Exceptions
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
          <th class="text-center border-right" scope="col">
            Approved
            <!-- <input type="text" class="form-control w-150 m-auto"> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visit of visitReviewListList;let i=index">
          <td>
            <div [tooltip]="sitecontent" tooltipPlacement="right">{{visit.siteCode}}
              <ng-template #sitecontent>{{visit.siteName}}</ng-template>
            </div>
          </td>
          <td>{{visit.psName}} <br> {{visit.accountNumber}}</td>
          <td>{{visit.dcsName}}</td>
          <td>{{visit.cssName}}</td>
          <td>
            <div [tooltip]="tipContent">{{visit.payorCode}}/{{visit.planCode}}<ng-template #tipContent>
                <b>{{visit.plan}}</b>
              </ng-template>
            </div>
          </td>
          <td>
            <div [tooltip]="tipContent2">
              {{visit.procedureCode}}
              <ng-template #tipContent2><b>{{visit.serviceName}}</b></ng-template>
            </div>
          </td>
          <!-- <td><i class="fas fa-clock f-18" data-toggle="modal" data-target="#timesModal"></i></td> -->
          <td>
            <!-- data-toggle="modal" data-target="#timesModal" -->
            <i class="fas fa-clock f-15 mx-2" (click)="getVisitTimes('#timesModal',visit.visitDetailsId)"></i>
            <span class="text-center">{{visit.scheduledBeginDateTime|date:'MM/dd/yyyy'}}</span><br>
            {{visit.scheduledBeginDateTime|date:'hh:mm a'}} - {{visit.scheduledEndDateTime|date:'hh:mm a'}}
          </td>
          <td>
            <span class="text-center">{{visit.reportedDate}}</span><br>
            {{visit.reportedStartTime}} - {{visit.reportedEndTime}}
          </td>
          <td class="Tasks blue">
            <!-- data-toggle="modal"data-target="#exampleModal" -->
            <span (click)="getTaskList('#exampleModal',visit.departureInfoId)">{{visit.taskCount}}</span>
          </td>
          <td class="PS Sign">
            <span [ngClass]=" visit.psSignatureAval=='Yes'?'blue':''"
              (click)="visit.psSignatureAval=='Yes'?getSignatures('#signModal',visit.arrivalInfoId,visit.departureInfoId):''">{{visit.psSignatureAval}}</span>
          </td>
          <td class="DCS Sign">
            <span [ngClass]=" visit.dcsSignatureAval=='Yes'?'blue':''"
              (click)="visit.dcsSignatureAval=='Yes'?getSignatures('#signModal',visit.arrivalInfoId,visit.departureInfoId):''">{{visit.dcsSignatureAval}}</span>
          </td>
          <td class="Progress Notes " [ngClass]="visit.progressNotesAval=='Yes'?'blue':''">
            <span
              (click)="visit.progressNotesAval=='Yes'?getProgressNotes('#progress',visit.departureInfoId,i):''">{{visit.progressNotesAval}}</span>
          </td>
          <td class="Exception " [ngClass]="visit.exceptionCount>0?'blue':''"
            (click)="visit.exceptionCount>0?correctException(i):''">
            {{visit.exceptionCount}}/5
          </td>
          <td class="Approved">{{visit.isApproved }}</td>
        </tr>
        <!-- <tr>
          <td>1723</td>
          <td>ALFORD, TOMMIE <br> 1723000122</td>
          <td>BANKS, LYNDA</td>
          <td>Sisson, Kimberley</td>
          <td>13/10</td>
          <td>CCRN</td>
          <td>
            <i class="fas fa-clock f-15 mx-2" data-toggle="modal" data-target="#timesModal"></i>
            <span class="text-center">12/08/2020</span><br>
            8:10 AM - 10:25 AM
          </td>
          <td>
            <span class="text-center">12/08/2020</span><br>
            8:10 AM - 10:25 AM
          </td>
          <td class="Tasks blue">
            <span data-toggle="modal" data-target="#exampleModal">2</span>
          </td>
          <td class="PS Sign">
            <span class=" blue">Yes</span>
          </td>
          <td class="DCS Sign blue">
            Yes
          </td>
          <td class="Progress Notes">No</td>
          <td class="Exception d-flex align-items-center">
          </td>
          <td class="Approved blue">Yes</td>
        </tr> -->
      </tbody>
    </table>
    <p *ngIf="visitReviewListList.length==0" class="no-records text-center">No Records Found</p>
  </div>
</div>

<div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2 align-items-center mb-2">
  <div class="pagination  justify-content-end pagination-button align-items-center">
    <div class="d-flex align-items-center">
      <h6 class="mx-3 my-0">Per page</h6>
      <select (change)="pageChange()" [(ngModel)]="perpage" class="border-0 box-shadow mr-3">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="30">30</option>
        <option [ngValue]="40">40</option>
        <option [ngValue]="50">50</option>
      </select>
    </div>
    <div>
      <p class="m-0">Showing {{visitReviewListList.length>0?lowerBound:'0'}} to
        {{upperBound >totalRecordsCount?totalRecordsCount:upperBound}} of {{totalRecordsCount}}</p>
    </div>
    <div class="page-item "><button [disabled]="lowerBound==1" type="button" (click)="prevpage()"
        class="btn-green btn-border text-white mx-2">Prev</button>
    </div>
    <div class="page-item "><button type="button" (click)="nextPage()" [disabled]="upperBound>totalRecordsCount"
        class="btn-green btn-border text-white mx-2">Next</button>
    </div>
  </div>
</div>

<div class="task-list">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered task-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Task List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="task-wrapper">
            <div *ngFor="let data of getTaskListresponse" class="card p-3 mb-2 box-shadow">
              <span class="d-flex justify-content-between align-items-center">
                {{data.taskName}}
                <i *ngIf="data.taskAcceptFlag==1" class="fas fa-check-circle f-18 text-success"></i>
                <i *ngIf="data.taskAcceptFlag!=1" class="fas fa-times-circle f-18 text-danger"></i>

              </span>
              <div *ngIf="data.taskAcceptFlag!=1" class="alert alert-danger mt-2" role="alert">
                {{data.taskRefusedReason}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="times">
  <div class="modal fade" id="timesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered times-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Timings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="times-wrapper box-shadow">
            <table class="table table-responsive">
              <thead class="thead-dark">
                <tr>
                  <th colspan="2" class="text-center border-right">Original Scheduled Times</th>
                  <th colspan="2" class="text-center border-right">Original Reported Times</th>
                  <th colspan="2" class="text-center border-right">Adjusted Reported Times</th>
                  <th colspan="2" class="text-center border-right">Bill Times (Adjusted Scheduled Times)</th>
                  <th colspan="2" class="text-center border-right">Pay Times</th>
                  <th colspan="" class="text-center border-right">Linked Time</th>
                  <th colspan="" class="text-center border-right">Linked By</th>
                </tr>
                <tr>
                  <th scope="col" class="border-right">Start Time</th>
                  <th scope="col" class="border-right">End Time</th>
                  <th scope="col" class="border-right">Start Time</th>
                  <th scope="col" class="border-right">End Time</th>
                  <th scope="col" class="border-right">Start Time</th>
                  <th scope="col" class="border-right">End Time</th>
                  <th scope="col" class="border-right">Start Time</th>
                  <th scope="col" class="border-right">End Time</th>
                  <th scope="col" class="border-right">Start Time</th>
                  <th scope="col" class="border-right">End Time</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{getVisitTimesresponse.originalScheduledBeginDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.originalScheduledBeginDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.originalScheduledEndDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.originalScheduledEndDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.originalReportedBeginDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.originalReportedBeginDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.originalReportedEndDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.originalReportedEndDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.adjustedReportedBeginDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.adjustedReportedBeginDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.adjustedReportedEndDate|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.adjustedReportedEndDate|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.billStartTime|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.billStartTime|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.billEndTime|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.billEndTime|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.payStartTime|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.payStartTime|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.payEndTime|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.payEndTime|date:'hh:mm
                    a'}}
                  </td>
                  <td>
                    {{getVisitTimesresponse.visitLinkedTime|date:'MM/dd/yyyy'}}<br>{{getVisitTimesresponse.visitLinkedTime|date:'hh:mm
                    a'}}
                  </td>
                  <td>{{getVisitTimesresponse.visitLinkedBy}}</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sign">
  <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered times-list" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark ">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Signature</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body d-flex">
          <div>
            <h5 class="mb-2 ml-2"><b>PS Signature</b></h5>

            <div class="bg-white sign-portion">
              <div *ngIf="(getSignaturesresponse.psSignature).trim().length>0">
                <img getSignaturesresponse.psSignature
                  [src]="('data:image/JPEG;base64,' +getSignaturesresponse.psSignature) | domsanitize"
                  class="img-fluid d-block m-auto">
              </div>
            </div>
          </div>
          <div>
            <h5 class=" mb-2 ml-2"><b>DCS Signature</b></h5>
            <div class="bg-white sign-portion">
              <div *ngIf="(getSignaturesresponse.dcsSignature).trim().length>0">

                <img getSignaturesresponse.dcsSignature
                  [src]="('data:image/JPEG;base64,' +getSignaturesresponse.dcsSignature) | domsanitize"
                  class="img-fluid d-block m-auto">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="progress" *ngIf="progressmodel">
  <div class="modal fade" id="progress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered times-list" role="document">
      <div class="modal-content" style="width: 80%;margin-bottom: 16%;">
        <div class="modal-header bg-dark">
          <h5 class="modal-title   AvenirLTStd-Heavy color-white text-center" id="exampleModalLabel">Progress</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="modelhide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body text-dark p-0">
          <div class="d-flex justify-content-between progress-title text-white">
            <h5>{{progressmodelLabel}}</h5>
            <h5>{{progressmodelprocedureLabel}}</h5>
          </div>
          <div *ngFor="let data of progressNotesList;let i=index" class="p-3">
            <div *ngIf="data.displayType=='checkbox' &&data.answerArray!=undefined" class="ml-2">
              <p class="strong mb-1"> <b>{{i+1}}.{{data.question}}</b> </p>
              <div class="d-flex " *ngFor="let option of formLovList;let j=index;">
                <input [ngClass]="data.lovId==option.lovId?'':'d-none'"
                  [checked]='data.answerArray.includes(option.lovValueId.toString())' type="checkbox" class="mt-1"
                  id="exampleCheck{{i}}{{j}}">
                <label [ngClass]="data.lovId==option.lovId?'':'d-none'" class=" text-dark mx-2"
                  for="exampleCheck{{i}}{{j}}">{{option.displayName}}</label>
              </div>
            </div>
            <div *ngIf="data.displayType=='radio'">
              <p class="strong mb-1"><b>{{i+1}}.{{data.question}}</b></p>
              <div class="" *ngFor="let option of formLovList;let j=index;">
                <input [ngClass]="data.lovId==option.lovId?'':'d-none'" [ngModel]="+(data.answer)"[value]="option.lovValueId" type="radio" id="other{{i}}{{j}}" class=""
                  name="gender" value="other{{i}}{{j}}">
                <label [ngClass]="data.lovId==option.lovId?'':'d-none'" class=" text-dark mx-2"
                  for="other{{i}}{{j}}">{{option.displayName}}</label>
              </div>
            </div>

            <div *ngIf="data.displayType=='textbox'">
              <div class="bottom-input pt-2">
                <p class="strong"> <b>{{i+1}}.{{data.question}}</b> </p>
                <input type="text" value="{{data.answer}}" />
              </div>
            </div>
            <div *ngIf="data.displayType=='textarea'">
              <div class="pt-2">
                <p class="m-0 p-0 strong"> <b>{{i+1}}.{{data.question}}</b> </p>

                <textarea rows="3" cols="35"value="{{data.answer}}">
                  </textarea>
              </div>
            </div>
            <div *ngIf="data.displayType=='selectbox'">
              <div class="pt-2">
                <p class="m-0 p-0 strong"> <b>{{i+1}}.{{data.question}}</b> </p>
                <select [ngModel]="+(data.answer)"class="form-control">
                  <option>select</option>
                  <option [value]="option.lovValueId" [ngClass]="data.lovId==option.lovId?'':'d-none'"
                    *ngFor="let option of formLovList;let j=index;" value="1">{{option.displayName}}</option>
                </select>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound" class="text-dark"></div>
</ng-template>
