<!-- <app-correctionheader></app-correctionheader> -->
<div class="user-id-wrapper">
  <div class="inner-wrapper">
    <div class="row">
      <!-- <div class="col-md-12">
                <div class="heading-wrapper">
                    <p>Visit Information</p>
                </div>
            </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <!-- <table class="table table-borderless mt-0">
                        <thead>
                            <tr>
                                <th class="pb-0">PS</th>
                                <th class="pb-0">DCS</th>
                                <th class="pb-0">Procedure Code</th>
                                <th class="pb-0">Scheduled Start </th>
                                <th class="pb-0">Scheduled End </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input [disabled]='true' type="text" name="psName" [(ngModel)]="psName" placeholder="PsName" pattern="">
                                </td>
                                <td>
                                    <input [disabled]='true' type="text" name="DcsName" [(ngModel)]="DcsName" placeholder="DCSName" pattern="">
                                </td>
                                <td>
                                    <input [disabled]='true' type="text" name="procedureCode" [ngModel]="procedureCode" placeholder="SOURPS" pattern="">
                                </td>
                                <td>
                                    <input [disabled]='true' class="input-field" type="text" name="scheduleStartDate" [(ngModel)]="scheduleStartDate" placeholder="DD/MM/YYYY" pattern="">

                                </td>
                                <td>
                                    <input [disabled]='true' class="input-field" type="text" name="scheduleEndDate" [(ngModel)]="scheduleEndDate" placeholder="DD/MM/YYYY" pattern="">

                                </td>
                            </tr>
                        </tbody>
                    </table> -->
          <ul class="nav mx-3 p-0 align-items-center modal-box-input-list my-3">
            <li class="mt-1">
              <label for="" class="m-0">PS</label>
              <input type="text" class="form-control modal-box-input" placeholder="PS" aria-label="PS"
                aria-describedby="basic-addon1" [disabled]='true' [(ngModel)]="psName" name="phone" pattern=""
                tabindex="1">
            </li>
            <li class="mt-1">
              <label for="">DCS</label>
              <input type="text" class="form-control modal-box-input" aria-label="DCS" aria-describedby="basic-addon1"
                [disabled]='true' [(ngModel)]="DcsName" name="phone" placeholder="DCS" pattern="" tabindex="2">
            </li>
            <li class="mt-1">
              <label for="">Procedure Code</label>
              <input type="text" class="form-control modal-box-input" aria-label="Procedure"
                aria-describedby="basic-addon1" [disabled]='true' [(ngModel)]="procedureCode" name="phone"
                placeholder="SOURPS" pattern="" tabindex="3">
            </li>
            <li class="mt-1">
              <label for="">Scheduled Start</label>
              <input type="text" class="form-control modal-box-input" aria-label="Schedule Start"
                aria-describedby="basic-addon1" [disabled]='true' [(ngModel)]="scheduleStartDate"
                placeholder="MM/DD/YYYY" name="startDate" tabindex="4">
            </li>
            <li class="mt-1">
              <label for="">Scheduled End</label>
              <input type="text" class="form-control modal-box-input" aria-label="End date"
                aria-describedby="basic-addon1" [disabled]='true' [(ngModel)]="scheduleEndDate" placeholder="MM/DD/YYYY"
                name="enddate" tabindex="5">
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-md-6 col-sm-12" *ngIf='arrInvalidErrView'>
        <div class="clock-detail-wrapper ml-0">
          <!-- <h3>Issue</h3>
                    <p>The Caller ID from the <b>Clock In  </b> call does not match any of the PS Phone Numbers. Accept the Caller ID exception for this Call or Update one of the PS Phone Numbers below to match the new Caller ID</p> -->
          <h4 class="my-2">Clock In Details</h4>
          <div class="caller-id">
            <p class="text-white">Caller ID: {{clockInCallerID}}</p>
          </div>
          <div class="form-group mx-2">
            <p class="text-dark mb-0 pt-0 pb-1 px-2">Clock In Comments <span class="text-danger">*</span></p>
            <textarea class="form-control" id="exampleForm" [(ngModel)]="clockInComments"></textarea>
          </div>
          <div *ngIf="clockInDCSPhoneType.length>0" class="pl-2">The Phone number used matches the DCS
            {{clockInDCSPhoneType}} Phone number.</div>

          <div class="button-wrapper d-flex mb-0 align-items-center">

              <p class="mb-0 pl-0">Verification Method <span class="text-danger">*</span> :</p>
              <div class="ng-select-verification ml-2">
                <ng-select [(ngModel)]="clockInCallerIdAccptReasonId" appendTo="body" placeholder="--Select--">
                  <ng-option *ngFor="let reason of callerIdAcceptReasonList" [value]="reason.id">{{reason.name}}</ng-option>
                </ng-select>
              </div>


            <!-- <select  [(ngModel)]="clockInCallerIdAccptReasonId"
              class="bg-white border-0 outline-0  adjust-reason ml-2">
              <option [ngValue]=0>--Select--</option>
              <option *ngFor="let reason of callerIdAcceptReasonList" [ngValue]="reason.id">{{reason.name}}</option>

            </select> -->
            <button type="button" class="btn mb-0" [disabled]="!arrInvalidErr"
              (click)="acceptCallerIdException('clockin')">Accept</button>
          </div>
        </div>
        <!-- <div class="clock-detail-wrapper">
                    <h3>Update PS Phone Number</h3>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>
                                        <select [disabled]="true" [(ngModel)]="phoneType1" class="bg-light border-0 outline-0 ml-3 p-2 ">
                                          <option [ngValue]="null">Phone Type</option>
                                        <option  *ngFor="let phone of phoneTypelist"[ngValue]="phone.value" >{{phone.label}}</option>

                                        </select>
                                    </th>
                                    <th>
                                        <select [(ngModel)]="phoneType2" class="bg-light border-0 outline-0 ml-3 p-2 ">
                                          <option [ngValue]="null||undefined">Select Type</option>
                                          <option  *ngFor="let phone of phoneTypelist"[ngValue]="phone.value" >{{phone.label}}</option>

                                        </select>
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input [disabled]="true" type="text" [(ngModel)]="phone1" placeholder="Phone1" id="usr">
                                    </td>
                                    <td>
                                        <input type="text" [(ngModel)]="phone2" placeholder="phone2" id="Mobile">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <select [(ngModel)]="phoneType3" class="bg-light border-0 outline-0 ml-3 mb-4 p-2 ">
                      <option [ngValue]="null||undefined">Select Type</option>
                      <option  *ngFor="let phone of phoneTypelist"[ngValue]="phone.value" >{{phone.label}}</option>

                    </select>
                    <div class="phone-wrapper">
                        <input type="text" [(ngModel)]="phone3" placeholder="phone3" id="user">
                    </div>
                    <div class="btn-wrapper">
                        <button type="button" class="btn" (click)="updatePSPhone()">Update</button>
                    </div>
                </div> -->
      </div>
      <div class="col-md-6 col-sm-12" *ngIf='depInvalidErrView'>
        <div class="clock-detail-wrapper ml-0">
          <!-- <h3>Issue</h3>
                    <p>The Caller ID from the <b> Clock out </b>call does not match any of the PS Phone Numbers. Accept the Caller ID exception for this Call or Update one of the PS Phone Numbers below to match the new Caller ID</p> -->
          <h4 class="my-2">Clock Out Details</h4>
          <div class="caller-id">
            <p class="text-white">Caller ID: {{clockOutCallerId}}</p>
          </div>
          <div class="form-group mx-2">
            <p class="text-dark mb-0 pt-0 pb-1 px-2">Clock Out Comments<span class="text-danger">*</span></p>
            <textarea class="form-control" [(ngModel)]="clockOutComments" id="exampleForm"></textarea>
          </div>
          <div *ngIf="clockOutDCSPhoneType.length>0" class="pl-2">The Phone number used matches the DCS
            {{clockOutDCSPhoneType}} Phone number.</div>
          <div class="button-wrapper d-flex mb-0 align-items-center">
            <p class="mb-0 pl-0">Verification Method <span class="text-danger">*</span> :</p>
            <div class="ng-select-verification ml-2">
            <ng-select [(ngModel)]="clockOutCallerIdAccptReasonId" appendTo="body" placeholder="--Select--">
              <ng-option *ngFor="let reason of callerIdAcceptReasonList" [value]="reason.id">{{reason.name}}</ng-option>
            </ng-select></div>
            <!-- <select [(ngModel)]="clockOutCallerIdAccptReasonId"
              class="bg-white border-0 outline-0 ml-2 adjust-reason">
              <option [ngValue]=0>--Select--</option>
              <option *ngFor="let reason of callerIdAcceptReasonList" [ngValue]="reason.id">{{reason.name}}</option>
            </select> -->
            <button type="button" class="btn mb-0" [disabled]="!depInvalidErr"
              (click)="acceptCallerIdException('clockout')">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-md-12 col-sm-12 ">
        <div class="clock-detail-wrapper ml-0">
          <h3>Update PS Phone Number</h3>
          <div class="table-responsive">
            <table class="table table-borderless m-0">
              <thead>
                <tr>
                  <th class="position-relative">
                    <select [(ngModel)]="phoneType1" class="bg-light border-0 outline-0 p-2 ">
                      <option [ngValue]="null">Select Type</option>
                      <option *ngFor="let phone of phoneTypelist" [ngValue]="phone.value">{{phone.label}}</option>

                    </select>
                    <!-- <label class="ml-3">
                                      {{phoneType1}}
                                    </label> -->
                  </th>
                  <th>
                    <select [(ngModel)]="phoneType2" class="bg-light border-0 outline-0 p-2 ">
                      <option [ngValue]="null||undefined">Select Type</option>
                      <option *ngFor="let phone of phoneTypelist" [ngValue]="phone.value">{{phone.label}}</option>

                    </select>
                  </th>
                  <th>
                    <select [(ngModel)]="phoneType3" class="bg-light border-0 outline-0 p-2 ">
                      <option [ngValue]="null||undefined">Select Type</option>
                      <option *ngFor="let phone of phoneTypelist" [ngValue]="phone.value">{{phone.label}}</option>

                    </select>
                  </th>
                  <th></th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>
                    <input (change)="PhoneNumFormat(phone1,'phone1')" type="text" [(ngModel)]="phone1"
                      placeholder="Phone1" id="usr">
                  </td>
                  <td>
                    <input type="text" (change)="PhoneNumFormat(phone2,'phone2')" maxlength=12 [(ngModel)]="phone2"
                      placeholder="Phone2" id="Mobile">
                  </td>
                  <td>
                    <input type="text" (change)="PhoneNumFormat(phone3,'phone3')" maxlength=12 style="font-size: 14px;"
                      [(ngModel)]="phone3" placeholder="Phone3" id="user">
                  </td>
                  <td>
                    <div class="btn-wrapper">
                      <button type="button" class="btn" (click)="validation()">Update</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
