<!-- <app-correctionheader></app-correctionheader> -->
<div class="schedule-wrapper">
    <div class="wrapper">
        <div class="row">

        </div>
        <div class="row m-0">
            <div class="col-md-12">
                <div class="table-responsive">

                    <ul class="nav mx-3 p-0 align-items-center modal-box-input-list my-3">
                        <li class="mt-1">
                            <label for="" class="m-0">PS</label>
                            <input type="text" class="form-control modal-box-input" placeholder="PS" aria-label="PS">
                        </li>
                        <li class="mt-1">
                            <label for="">DCS</label>
                            <input type="text" class="form-control modal-box-input" placeholder="DCS" aria-label="PS">
                        </li>
                        <li class="mt-1">
                            <label for="">Procedure Code</label>
                            <input type="text" class="form-control modal-box-input" placeholder="DCS" aria-label="PS">
                        </li>
                        <li class="mt-1">
                            <label for="">Scheduled Start</label>
                            <input type="text" class="form-control modal-box-input" placeholder="DCS" aria-label="PS">
                        </li>
                        <li class="mt-1">
                            <label for="">Scheduled End</label>
                            <input type="text" class="form-control modal-box-input" placeholder="DCS" aria-label="PS">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="clock-detail-wrapper">
                    <h3>Issue</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>      
                    <h3>Change the Reported Times</h3>
                    <div class="col-md-12 ">
                        <div class="row m-0">
                            <div class="col-md-6 col-sm-12 clockin-inner-wrapper mt-3 px-0 overflow-auto">
                                <p class="mr-5 mb-0 px-0">Clock In Date Time</p>
                                <div class="d-flex nav">
                                    <input type="text" class="form-control mr-2 mxw-108 mt-3" placeholder="MM/DD/YYYY">                                   
                                    <div class="mt-3">
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>HH</option>                                            
                                        </select>
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>MM</option>
                                                                                        
                                        </select>
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>AM</option>
                                            <option>PM</option>
                                        </select>
                                    </div>
                                </div>                      
                            </div>
                            <div class="col-md-6 col-sm-12 clockout-inner-wrapper mt-3 overflow-auto ">
                                <p class="mr-5 mb-0">Clock Out Date Time</p>
                                <div class="d-flex mb-1">
                                    <input type="text " class="form-control mr-2 mxw-108 mt-3"
                                        placeholder="MM/DD/YYYY">                   
                                    <div class="mt-3">
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>HH</option>
                                            
                                        </select>
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>MM</option>
                                            
                                        </select>
                                        <select class="hours bg-white border-0 outline-0 mx-1">
                                            <option>AM</option>
                                        </select>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class="col-md-5">
                            <div class="table-responsive modal-box-input-list">
                                <p class="mt-3 px-0">Original Scheduled Start</p>
                                <input type="text" class="form-control modal-box-input w-150" placeholder="token">   
                            </div>
                        </div>
                    </div>

                    <div class="button-btn-wrapper d-flex justify-content-end">
                        <button type="button" class="btn mb-2 mr-2">Accept</button>
                        <button type="button" class="second-button mb-2 mr-2">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>