<!-- <p>ps-basic works!</p> -->
<!-- <app-header></app-header> -->
<div class="container-wrapper">
    <div class="ps-registration-tabs-container">

        <div class="bg-grey-l p-3">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- <div class="d-flex align-items-center  site-form">
                    <div class="site-container d-flex align-items-center">
                        <label class="site-label color-black">
                            Site<span class="text-danger">*</span>
                        </label>
                        <div class="input-group " disabled>
                            <div class="procedurecode w-100 multiselect-angular "
                                [class.invalid-input]="siteSelectedItems.length == 0 && formError">
                                <angular2-multiselect [data]="userMappedOffices" [(ngModel)]="siteSelectedItems"
                                    (onDeSelectAll)="siteListDeSelect()" [settings]="dropdownSettings">
                                </angular2-multiselect>
                            </div>

                        </div>
                    </div>
                </div> -->
                <section class="d-flex  justify-content-between  basic-container">
                    <div>
                        <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Basic Details</h4>
                        <form class="d-flex align-items-center nav justify-content-between border-2"
                            [formGroup]="basicEditForm" (ngSubmit)="onSubmit()">


                            <div class=" basic-input-container">
                                <label class="text-capital">
                                    Last Name<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  ">
                                    <input type="text" [class.is-invalid]="f.lastName.invalid && formError"
                                        formControlName="lastName" class="form-control lastName text-capital">
                                </div>
                                <div *ngIf="f.lastName.invalid && formError" class="errors">
                                </div>
                            </div>

                            <div class=" basic-input-container">
                                <label class="text-capital">
                                    First Name<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  ">
                                    <input type="text" [class.is-invalid]="f.firstName.invalid && formError"
                                        formControlName="firstName" class="form-control firstName text-capital">

                                </div>
                                <div *ngIf="f.firstName.invalid && f.firstName.touched && f.firstName.errors"
                                    class="errors">

                                </div>
                            </div>

                            <div class="basic-input-container  nav d-flex align-items-center justify-content-between">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">
                                        Middle Name
                                    </label>
                                    <div class="input-group  ">
                                        <input type="text" [class.is-invalid]="f.middleName.invalid && formError"
                                        placeholder="" formControlName="middleName"
                                        class="form-control" aria-label="Case Manager" >
                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        Alias
                                    </label>
                                    <div class="input-group  ">
                                        <input type="text" 
                                            placeholder="" formControlName="alias"
                                            class="form-control" aria-label="Case Manager" >

                                    </div>
                                    <!-- <div *ngIf="f.alias.invalid && f.dob.touched && f.dob.errors" class="errors">
                                    </div> -->
                                </div>


                            </div>



                            <div
                                class="basic-input-container pr-sm-0 nav d-flex align-items-center justify-content-between">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">Gender<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="ng-autocomplete" style="width: 100%;"
                                            [class.invalid-input]="(f.gender.invalid && formError)||(f.genderId.invalid && formError)">
                                            <ng-autocomplete [data]="genderList" [searchKeyword]="Keyword"
                                                formControlName="gender"
                                                (inputCleared)="selectChange('','genderId',false)"
                                                (selected)="selectChange($event,'genderId',true)"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>

                                    </div>

                                    <div *ngIf="f.firstName.invalid && formError && f.firstName.errors" class="errors">
                                        <!-- <small class="text-danger" *ngIf="f.firstName.errors?.required">First Name
                                    required!</small> -->
                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        Salutation<span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group ">
                                        <div class="ng-autocomplete" style="width: 100%;"
                                            [class.invalid-input]="(f.saluation.invalid && formError)||(f.saluationId.invalid&&formError)">
                                            <ng-autocomplete #auto [data]="saluationList"
                                                (inputCleared)="selectChange('','saluationId',false)"
                                                (selected)="selectChange($event,'saluationId',true)"
                                                formControlName="saluation" [searchKeyword]="Keyword"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>


                            </div>



                            <!-- <div class=" m-0 basic-input-container ">
                               
                                <div class="input-group">
                                    <div class="ng-autocomplete" style="width: 100%;"
                                        [class.invalid-input]="(f.gender.invalid && formError)||(f.genderId.invalid && formError)">
                                        <ng-autocomplete [data]="genderList" [searchKeyword]="Keyword"
                                            formControlName="gender" (inputCleared)="selectChange('','genderId',false)"
                                            (selected)="selectChange($event,'genderId',true)"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>

                                </div>

                                <div *ngIf="f.firstName.invalid && formError && f.firstName.errors" class="errors">
                                    
                                </div>
                            </div> -->
                            <!-- <div class="basic-input-container pr-sm-0">
                              
                                <div class="input-group ">
                                    <div class="ng-autocomplete" style="width: 100%;"
                                        [class.invalid-input]="(f.saluation.invalid && formError)||(f.saluationId.invalid&&formError)">
                                        <ng-autocomplete #auto [data]="saluationList"
                                            (inputCleared)="selectChange('','saluationId',false)"
                                            (selected)="selectChange($event,'saluationId',true)"
                                            formControlName="saluation" [searchKeyword]="Keyword"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> -->

                            <div
                                class="basic-input-container pb-sm-0 nav d-flex align-items-center justify-content-between">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">
                                        Marital Status<span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group  ">
                                        <div class="ng-autocomplete" style="width: 100%;"
                                            [class.invalid-input]="(f.maritalStatus.invalid && formError)||(f.maritalStatusList.invalid && formError)">
                                            <ng-autocomplete [data]="maritalStatusList" [searchKeyword]="Keyword"
                                                formControlName="maritalStatus"
                                                (inputCleared)="selectChange('','maritalStatusList',false)"
                                                (selected)="selectChange($event,'maritalStatusList',true)"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        Date of Birth<span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group  ">
                                        <input type="text" [class.is-invalid]="f.dob.invalid && formError"
                                            placeholder="mm/dd/yyyy " [maxDate]="currentDate" formControlName="dob"
                                            class="form-control" aria-label="Case Manager" bsDatepicker>

                                    </div>
                                    <div *ngIf="f.dob.invalid && f.dob.touched && f.dob.errors" class="errors">
                                    </div>
                                </div>


                            </div>
                            <div class=" basic-input-container pb-sm-0">
                                <label class="">
                                    Race<span class="text-danger">*</span>
                                </label>
                                <div class="input-group ">
                                    <div class="ng-autocomplete" style="width: 100%;"
                                        [class.invalid-input]="(f.race.invalid && formError)||(f.raceId.invalid && formError)">
                                        <ng-autocomplete [data]="raceIdList" [searchKeyword]="Keyword"
                                            formControlName="race" (inputCleared)="selectChange('','raceId',false)"
                                            (selected)="selectChange($event,'raceId',true)"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>

                                </div>
                            </div>

                            <div class=" m-0  basic-input-container pb-sm-0 ">
                                <label class="">
                                    SSN
                                </label>

                                <div class="input-group  ">
                                    <input type="text" formControlName='ssn'
                                        [class.invalid-input]="(f.ssn.invalid && formError)"
                                        (keyup)="PhoneNumFormat($event,'ssn')" maxlength=9 class="form-control"
                                        aria-label="Case Manager">
                                </div>

                            </div>
                            <div class="basic-input-container pb-sm-0 pr-sm-0">
                                <label class="">
                                    Primary Language<span class="text-danger">*</span>
                                </label>
                                <div class="input-group ">
                                    <div class="ng-autocomplete" style="width: 100%;"
                                        [class.invalid-input]="(f.language.invalid && formError)||(f.languageId.invalid && formError)">
                                        <ng-autocomplete [data]="LanguageList" [searchKeyword]="Keyword"
                                            formControlName="language"
                                            (inputCleared)="selectChange('','languageId',false)"
                                            (selected)="selectChange($event,'languageId',true)"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                    <form [formGroup]="basicEditForm" class="mapped-site-container">
                        <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Mapped Sites</h4>
                        <div class=" border-2">



                            <div class="textarea-wrapper ">

                                <div (click)="psIdSelect(i)" class="form-check"
                                    *ngFor="let data of siteSelectedItems;let i=index">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios{{i}}" value="option1">
                                    <label class="form-check-label" for="exampleRadios{{i}}">
                                        {{data.siteName}}
                                    </label>
                                </div>

                            </div>


                        </div>
                    </form>
                </section>


                <h4 class="py-2 AvenirLTStd-Heavy m-0 address-title p-0 f-size-16">Address</h4>
                <section class="d-flex  justify-content-between  basic-container">
                    <form class="d-flex  justify-content-between border-2"
                        [formGroup]="basicEditForm">
                        <div  class="d-flex align-items-center nav justify-content-between">
                            <div class="basic-input-container">
                                <label class="">
                                    Location<span class="text-danger">*</span>
                                </label>

                                <div class="input-group ">
                                    <div class="ng-autocomplete" style="width: 100%;"
                                        [class.invalid-input]="(f.location.invalid && formError)||(f.addressTypeList.invalid && formError)">
                                        <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword"
                                            formControlName="location"
                                            (inputCleared)="selectChange('','addressTypeList',false)"
                                            (selected)="selectChange($event,'addressTypeList',true)"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>

                                </div>

                            </div>

                            <div class=" basic-input-container">
                                <label class="">
                                    Address Line #1<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  " [class.invalid-input]="(f.lane.invalid && formError)">
                                    <input type="text" formControlName="lane" class="form-control">
                                </div>

                            </div>
                            <div class=" basic-input-container">
                                <label class="">
                                    Address Line #2
                                </label>

                                <div class="input-group  ">
                                    <input type="text" formControlName="addressLine2" class="form-control">
                                </div>

                            </div>
                            <!-- <div class=" basic-input-container">
                        <label class="">
                            Zip Code<span class="text-danger">*</span>
                        </label>

                        <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                            <input type="text" class="form-control " aria-label="date" formControlName='zipcode'
                                maxlength='5' (keyup)="getzip()" id="autocomplete" type="text" class="form-control">


                        </div>
                    </div> -->

                            <div class="basic-input-container nav d-flex align-items-center justify-content-between pr-sm-0">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">
                                        Zip Code<span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                                        <input type="text" class="form-control " aria-label="date"
                                            formControlName='zipcode' maxlength='5' (keyup)="getzip()" id="autocomplete"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        Zip+4 Code
                                    </label>

                                    <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                                        <input type="text" class="form-control " aria-label="date"
                                            formControlName='zipcode' maxlength='5' (keyup)="getzip()" id="autocomplete"
                                            type="text" class="form-control">
                                    </div>
                                </div>


                            </div>
                            <div class=" m-0  basic-input-container phone-container">
                                <label class="">
                                    Phone<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  ">
                                    <div class="  date-input  d-flex align-items-center w-100">
                                        <div class="ng-autocomplete phone-select"
                                            [class.invalid-input]="(f.phonetype.invalid && formError)||(f.phoneTypeList.invalid && formError)">
                                            <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                                (inputcleared)="selectChange('', 'phoneTypeList',false)"
                                                (selected)="selectChange($event, 'phoneTypeList',true)"
                                                formControlName="phonetype" placeHolder="Type"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                                        <div class="input-group ">
                                            <input type="text" [class.is-invalid]="f.number.invalid && formError"
                                                maxlength='10' (keyup)='PhoneNumFormat($event,"phone")'
                                                formControlName="number" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div *ngIf="f.number.invalid && f.number.touched && f.number.errors" class="errors">
                                </div>
                            </div>
                            <div class=" m-0  basic-input-container phone-container">
                                <label class="">
                                    Phone 2
                                </label>

                                <div class="input-group  ">
                                    <div class="  date-input  d-flex align-items-center w-100">
                                        <div class="ng-autocomplete phone-select"
                                            [class.invalid-input]="(f.phonetype2.invalid && formError)||(f.phoneTypeList2.invalid && formError)">
                                            <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                                (inputcleared)="selectChange('', 'phoneTypeList2',false)"
                                                (selected)="selectChange($event, 'phoneTypeList2',true)"
                                                formControlName="phonetype2" placeHolder="Type"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                                        <div class="input-group ">
                                            <input type="text" [class.is-invalid]="f.number2.invalid && formError"
                                                maxlength='10' 
                                                formControlName="number2" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div *ngIf="f.number2.invalid && f.number2.touched && f.number2.errors" class="errors">
                                    <!-- <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is
                                required!</small> -->
                                </div>
                            </div>
                            <div class=" m-0  basic-input-container phone-container ">
                                <label class="">
                                    Phone 3
                                </label>

                                <div class="input-group  ">
                                    <div class="  date-input  d-flex align-items-center w-100">
                                        <div class="ng-autocomplete phone-select"
                                            [class.invalid-input]="(f.phonetype3.invalid && formError)||(f.phoneTypeList.invalid && formError)">
                                            <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                                (inputcleared)="selectChange('', 'phoneTypeList3',false)"
                                                (selected)="selectChange($event, 'phoneTypeList3',true)"
                                                formControlName="phonetype3" placeHolder="Type"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                                        <div class="input-group ">
                                            <input type="text" [class.is-invalid]="f.number3.invalid && formError"
                                                maxlength='10' 
                                                formControlName="number3" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div *ngIf="f.number3.invalid && f.number3.touched && f.number3.errors" class="errors">
                                    <!-- <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is
                                required!</small> -->
                                </div>
                            </div>


                            <div
                                class="basic-input-container nav d-flex align-items-center justify-content-between pr-sm-0">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">City<span class="text-danger">*</span> </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [class.is-invalid]="f.city.invalid && formError" formControlName="city"
                                            aria-label="date" disabled=true>

                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        State <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group ">
                                        <input type="text" class="form-control "
                                            [class.is-invalid]="f.state.invalid && formError" aria-label="date"
                                            formControlName="state" disabled="true">
                                    </div>
                                </div>
                            </div>

                            <div
                                class="basic-input-container  nav d-flex align-items-center justify-content-between pb-sm-0">
                                <div class=" w-48 pb-sm-0">
                                    <label class="">
                                        County<span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group ">
                                        <input type="text" class="form-control "
                                            [class.is-invalid]="f.county.invalid && formError" formControlName="county"
                                            aria-label="date" disabled="true">
                                    </div>
                                </div>
                                <div class="w-48">
                                    <label class="">
                                        Time Zone<span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group  ">
                                        <input type="text" class="form-control"
                                            [class.is-invalid]="f.timeZone.invalid && formError"
                                            formControlName="timeZone" aria-label="Case Manager" disabled="true">
                                    </div>
                                </div>
                            </div>


                            <!-- <div class=" m-0  basic-input-container ">
                        <label class="">City<span class="text-danger">*</span> </label>
                        <div class="input-group">
                            <input type="text" class="form-control" [class.is-invalid]="f.city.invalid && formError"
                                formControlName="city" aria-label="date" disabled=true>

                        </div>
                    </div>
                    <div class=" basic-input-container">
                        <label class="">
                            State <span class="text-danger">*</span>
                        </label>
                        <div class="input-group ">
                            <input type="text" class="form-control " [class.is-invalid]="f.state.invalid && formError"
                                aria-label="date" formControlName="state" disabled="true">
                        </div>
                    </div> -->
                            <!-- <div class=" basic-input-container">
                        <label class="">
                            County<span class="text-danger">*</span>
                        </label>
                        <div class="input-group ">
                            <input type="text" class="form-control " [class.is-invalid]="f.county.invalid && formError"
                                formControlName="county" aria-label="date" disabled="true">
                        </div>
                    </div>
                    <div class=" m-0  basic-input-container pb-sm-0">
                        <label class="">
                            Time Zone<span class="text-danger">*</span>
                        </label>

                        <div class="input-group  ">
                            <input type="text" class="form-control" [class.is-invalid]="f.timeZone.invalid && formError"
                                formControlName="timeZone" aria-label="Case Manager" disabled="true">
                        </div>

                    </div> -->
                            <div class=" m-0  basic-input-container pb-sm-0">
                                <label class="">
                                    Country<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  ">
                                    <input type="text" class="form-control"
                                        [class.is-invalid]="f.country.invalid && formError" formControlName="country"
                                        aria-label="Case Manager" disabled="true">
                                </div>

                            </div>
                            <div class=" m-0  basic-input-container pb-sm-0">
                                <label class="">
                                    Fax
                                </label>

                                <div class="input-group  ">
                                    <input type="text"  
                                         formControlName="fax"
                                        class="form-control">
                                </div>

                            </div>
                            <div class=" m-0  basic-input-container pb-sm-0 pr-sm-0">
                                <label class="">
                                    E Mail
                                </label>

                                <div class="input-group  ">
                                    <input type="text"  
                                         formControlName="email"
                                        class="form-control">
                                </div>

                            </div>
                            <!-- <div class=" m-0  basic-input-container pb-sm-0">
                        <label class="">
                           Directions
                        </label>

                        <div class="input-group  ">
                            <input type="text" [class.is-invalid]="f.number.invalid && formError" maxlength='10'
                            (keyup)='PhoneNumFormat($event,"phone")' formControlName="number"
                            class="form-control">
                        </div>

                    </div> -->
                        </div>
                        <form [formGroup]="basicEditForm" class="direction">
                            <label class="color-black">
                               Directions
                            </label>
                            <div class="">
    
    
    
                                <div class="form-input">
    
                                    <!-- <div (click)="psIdSelect(i)" class="form-check"
                                        *ngFor="let data of siteSelectedItems;let i=index">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios{{i}}" value="option1">
                                        <label class="form-check-label" for="exampleRadios{{i}}">
                                            {{data.siteName}}
                                        </label>
                                    </div> -->
                                    <textarea rows="2" class="textarea form-control"></textarea>
                                </div>
    
    
                            </div>
                        </form>
                   
                    </form>
                
                   
                    </section>
                <div class="next justify-content-between nav mt-3">
                    <div class="previous">
                        <button type="button" class="btn-info  btn-next prev-step"
                            [routerLink]="['/widgets']">Cancel</button>
                    </div>
                    <button type="button" class="next-step btn-next"
                        (click)="onSubmit()">{{popup?'Save':'Save'}}</button>

                </div>

            </div>
        </div>

    </div>
</div>
<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound" class="text-dark"></div>
</ng-template>