<app-header></app-header>
<div class="daily-stats-wrapper px-4 py-4">
  <div class="table-responsive box-shadow">
    <table class="table ">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="sticky-top">RVP</th>
          <th scope="col" class="sticky-top">ED</th>
          <th scope="col" class="sticky-top">Branch</th>
          <th scope="col" class="sticky-top">Site</th>
          <th scope="col" class="sticky-top">Site Name</th>
          <th scope="col" class="sticky-top">State </th>
          <th scope="col" class="sticky-top"> Period </th>
          <th scope="col" class="sticky-top"> Total Punches# </th>
          <th scope="col" class="sticky-top"> Telephony <br> Landline <br> Punches#</th>
          <th scope="col" class="sticky-top"> Telephony <br> App Punches# </th>
          <th scope="col" class="sticky-top"> Manual Punches# </th>
        </tr>
      </thead>
      <tbody>
        <tr style="white-space: nowrap;">
          <th scope="row">Pacific</th>
          <td>ED: RCHC WA SOUTH KING COUNTY</td>
          <td>BR: RCHC FL BONITA SPRINGS</td>
          <td>1244</td>
          <td> RCHC GA AGUSHTA REG </td>
          <td>GA </td>
          <td>January </td>
          <td>7645 </td>
          <td>1240 </td>
          <td>5046 </td>
          <td>1179 </td>

        </tr>
        <tr style="white-space: nowrap;">
          <th scope="row">Pacific</th>
          <td>ED: RCHC WA SOUTH KING COUNTY</td>
          <td>BR: RCHC FL BONITA SPRINGS</td>
          <td>1244</td>
          <td> RCHC GA AGUSHTA REG </td>
          <td>GA </td>
          <td>January </td>
          <td>7645 </td>
          <td>1240 </td>
          <td>5046 </td>
          <td>1179 </td>

        </tr>
        <tr style="white-space: nowrap;">
          <th scope="row">Pacific</th>
          <td>ED: RCHC WA SOUTH KING COUNTY</td>
          <td>BR: RCHC FL BONITA SPRINGS</td>
          <td>1244</td>
          <td> RCHC GA AGUSHTA REG </td>
          <td>GA </td>
          <td>January </td>
          <td>7645 </td>
          <td>1240 </td>
          <td>5046 </td>
          <td>1179 </td>

        </tr>
        <tr style="white-space: nowrap;">
          <th scope="row">Pacific</th>
          <td>ED: RCHC WA SOUTH KING COUNTY</td>
          <td>BR: RCHC FL BONITA SPRINGS</td>
          <td>1244</td>
          <td> RCHC GA AGUSHTA REG </td>
          <td>GA </td>
          <td>January </td>
          <td>7645 </td>
          <td>1240 </td>
          <td>5046 </td>
          <td>1179 </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2 align-items-center mb-2">
  <div class="pagination  justify-content-end pagination-button align-items-center">
    <div class="d-flex align-items-center">
      <h6 class="mx-3 my-0">Per page</h6>
      <select class="border-0 box-shadow mr-3">
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="30">30</option>
        <option [ngValue]="40">40</option>
        <option [ngValue]="50">50</option>
      </select>
    </div>
    <div>
      <p class="m-0">Showing 10 to
        10 of 100</p>
    </div>
    <div class="page-item "><button  type="button"
        class="btn-green btn-border text-white mx-2">Prev</button>
    </div>
    <div class="page-item "><button type="button"
        class="btn-green btn-border text-white mx-2">Next</button>
    </div>
  </div>
</div>
