.box-shadow {
  box-shadow: 2px 2px 10px #ccc;
}

.visit-table {
  td {
    padding: 0.25rem;
  }
}

.notification {
  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu.show {
    height: 300px;
    display: block;
    width: 500px;
    position: absolute;
    overflow-y: auto;
    will-change: transform;
    top: 0px;
    left: -135px !important;
    transform: translate3d(-203px, 23px, 0px);
  }

  .badge-danger {
    left: 21px;
    top: -4px;
  }

  .dropdown-item {
    font-size: 14px;
    padding: 20px;
    margin: 10px 10px;
    box-shadow: 2px 2px 10px #ccc;
    width: 96%;
    white-space: normal;

    &:active {
      background-color: transparent;
      color: #000;
    }
  }

  // .dropdown a:hover {
  //     background-color: $section-bg !important;
  // }
  .dropdown-open {
    width: 40%;
    background: #fff;
    overflow-y: auto;
    top: 77%;
    right: 10%;
    z-index: 99;
    height: 70vh;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 15px;
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
    }
  }
}

/* Font Styles Files */

/* Font Styles Files */

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}

/*====== Common classes start=====================================*/

.mxw-108 {
  max-width: 108px;
}

.w-150 {
  width: 150px !important;
}

.f-12 {
  font-size: 12px;
}

.f-15 {
  font-size: 15px;
}

.w-39 {
  width: 39% !important;
}

.f-25 {
  font-size: 25px;
}

.w-58 {
  width: 58% !important;
}

.w-48 {
  width: 48% !important;
}

.w-70 {
  width: 70%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.mt-31 {
  margin-top: 31px;
}

.f-size-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px;
}

.w-120 {
  width: 120px !important;
}

.width-180 {
  width: 180px !important;
}

.w-80px {
  width: 80px !important;
}

.width-190 {
  width: 190px;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.height-50 {
  height: 50px;
}

.material-icons {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer !important;
}

.visibility-hidden {
  visibility: hidden;
}

.min-w-16 {
  min-width: 16% !important;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.bg-grey-l {
  background-color: #f7fafc !important;
}

.bg-white {
  background: $white;
}

.bg-blue {
  background-color: #1690d1;
}

.bg-blue-light {
  background: #00adf0 !important;

  &:hover {
    background: #00adf0 !important;
  }
}

.f-size-16 {
  font-size: 16px !important;
}

.width-180 {
  width: 180px !important;
}

.width-190 {
  width: 190px;
}

.padding-left-15 {
  padding-left: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.visibility-hidden {
  visibility: hidden;
}

.height-50 {
  height: 50px;
}

.height-30 {
  height: 30px;
}

.ml-negative {
  margin-left: -60px;
}

.border-1 {
  border: 1px solid #dee2e6;
}

.border-2 {
  border: 2px solid #dee2e6;
  padding: 8px;
}

.w-144 {
  width: 144px !important;
}

.w-160 {
  width: 160px !important;
}

.min-w-160 {
  min-width: 160px !important;
}

.pb-8 {
  padding-bottom: 8px;
}

.w-50 {
  width: 50% !important;
}

.w-42 {
  width: 42% !important;
}

.w-auto {
  width: auto !important;
}

/*========Common classes End=======*/

/* Common Styles Start from Here */

html {
  font-size: 13px;
}

body {
  @include margin(0, 0, 0, 0);
  @include size(null, 100vh);
  font-family: "AvenirLTSTD-Roman", sans-serif;
  // font-family: AvenirLTStd-Black;
  background-color: #e0e1e2;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

button {

  &:focus,
  &:active {
    outline: none !important;

    .customcontainer {
      position: relative;
      top: -100px;
    }

    box-shadow: none !important;
  }
}

.second-button {
  border: 0;
  padding: 0.35em;
}

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}

.AvenirLTStd-BookOblique {
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}

.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}

.AvenirLTStd-Heavy {
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}

.AvenirLTStd-Light {
  font-family: "AvenirLTStd-Light", sans-serif !important;
}

.AvenirLTStd-HeavyOblique {
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}

.AvenirLTStd-LightOblique {
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}

.AvenirLTStd-Medium {
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}

.AvenirLTStd-Oblique {
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}

.AvenirLTStd-Roman {
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}

.header-wrapper {
  .navbar {
    @include size(100%, null);
    @include padding(null, 1.3125rem, null, 1.3125rem);

    .navbar-brand {
      button.btn.dropdown-toggle {
        color: $test-button;
      }

      img {
        @include size(12.625rem, 2.5625rem);
      }

      .dropdown {

        // .button {
        // }
        .richard-img {
          img {
            @include size(3.125rem, 3.125rem);
          }
        }
      }
    }
  }
}

@media (max-width: $screen-size-xs) {
  .clockin-wrapper {
    .header-wrapper {
      .navbar {
        @include size(100%, 8.375rem);

        .navbar-brand {
          @include margin(0rem, auto, 0rem, auto);
        }
      }
    }
  }
}

@media (max-width: $screen-size-xs) {
  .clockout-wrapper {
    .header-wrapper {
      .navbar {
        @include size(100%, 4.375rem);
        @include padding(null, 3.3125rem, null, 3.3125rem);

        .navbar-brand {
          @include margin(0rem, auto, 0rem, auto);

          button.btn.dropdown-toggle {
            color: $test-button;
          }

          img {
            @include size(12.625rem, 2.5625rem);
          }

          .dropdown {
            .richard-img {
              img {
                @include size(3.125rem, 3.125rem);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .button-btn-wrapper {
    flex-direction: column;
    max-width: 180px;
  }

  .header-wrapper {
    .navbar {
      flex-direction: column;
    }
  }

  .pr-0-sm {
    padding-right: 0 !important;
  }
}

.outline-0 {
  outline: none;
}

// ** common table start from here**
table {
  thead {
    tr {
      th {
        font-size: 15px;
        font-weight: 500;
        @include padding(0px, null, 0px, 13px);
      }
    }
  }

  tbody {
    tr {
      td {
        // @include size(160px,
        // 12px);
        @include margin(0px, 12px, 0px, 12px);
        @include padding(0px, 0px, 0px, 12px);
        border: none;

        input {
          outline: none;
          height: 30px;
          @include size(null, 12px);
          font-size: 12px;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          box-shadow: none;
          border: none;
          height: 35px;
          @include padding(null, 0px, null, 10px);
          @include margin(0px, 10px, null, null);
          @include border-radius(0px, 8px, 0px, 8px);
          background-color: $button-bg-color;
          width: 100%;
        }

        .input-field {
          @include size(100%, null);
        }
      }
    }
  }
}

.override-input {
  outline: none;
  height: 30px;
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  box-shadow: none;
  border: none;
}

// ** common table end here**
// ** common radio button start from here**
// ...
*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label:before {
  content: "";
  /* create custom radiobutton appearance */
  @include size(null, 14px);
  @include padding(2px, 2px, 2px, 2px);
  @include margin(null, 5px, null, 3px);
  width: 14px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid $login-text;
  // background-color: $text;
  @include border-radius(50%, 50%, 50%, 50%);
}

/* appearance for checked radiobutton */

input[type="radio"]:checked+label:before {
  background-color: $button;
  border: 2px solid $button;
  color: $button;
}

/* optional styles, I'm using this for centering radiobuttons */

label {
  display: flex;
  align-items: center;
  @include margin(null, 10px, null, 0px);
  font-size: 15;
  color: $text;
}

// ** common radio button end here**
// ** common button start from here
.global-button {
  font-size: 14px;
  // @include margin(20px, null, null, null);
  color: $white;
  background-color: $button;
  @include border-radius(null, 8px, null, 8px);
}

.summary-wrapper {
  .table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;

    //overflow: auto;
    //height: 380px;
    table {
      width: 100%;
      min-width: 1280px;
      margin: auto;
      border-collapse: separate;
      border-spacing: 0;
    }

    thead {
      th {
        color: $white;
        // position: -webkit-sticky;
        // position: sticky;
      }
    }
  }

  .table-wrap {
    position: relative;
  }

  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    vertical-align: top;
  }

  thead {
    th {
      color: $white;
      // position: -webkit-sticky;
      // position: sticky;
    }
  }
}

.table-wrap {
  position: relative;
}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  vertical-align: top;
}

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  // position: -webkit-sticky;
  // position: sticky;
  bottom: 0;
  color: $white;
  z-index: 4;
}

th {
  &:first-child {
    // position: -webkit-sticky;
    // position: sticky;
    left: 0;
    z-index: 2;
  }
}

select {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  outline: none;
  border: 0;
}

.selected-list {
  .c-list {
    float: left;
    padding: 0;
    margin: 0;
    width: calc(100% - 20px);
    width: 51px;
    display: flex;
    overflow: hidden;
    margin-right: 36px;

    .c-token {
      .c-label {
        display: block;
        white-space: nowrap;
        float: left;
        width: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #7a7a7a;
      }
    }
  }

  .c-btn {
    background-color: $white;
    color: #7a7a7a;
    width: 100px !important;
    outline: 0;
    min-height: 30px;
  }
}

.table-sm {
  width: 99%;
}

.profile-dropdown {
  .dropdown-menu {
    left: 5px !important;
  }
}

.header-wrapper {
  .user-profile {
    .dropdown-toggle::after {
      display: none;
    }
  }
}

modal-container {
  background-color: rgba(0, 0, 0, 0.75);
}

.btn {

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

.font-title {
  background-color: $white;
  margin-left: 20px;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $white;
    left: 40px;
    top: 3px;
  }
}

.table-responsive {
  overflow: auto;
}

.correction-heading {
  color: $white;

  .modal-title {
    padding-left: 3.3125rem;

    img {
      height: 35px;
      width: 35px;
    }
  }
}

.costum-conainer .Resolution-outer-wrapper .Resolution-wrapper table tbody tr td input {
  margin: 0 !important;
}

.clockin-and-out-wrapper .costum-conainer .Resolution-outer-wrapper .Resolution-wrapper table tbody tr td input {
  margin: 0 !important;
}

.close {
  color: $white;
  text-shadow: 0;
  opacity: 1;

  &:hover {
    color: $white;
    text-shadow: 0 !important;
    opacity: 1 !important;
  }
}

.modal-box-input-list {
  justify-content: space-between;

  .modal-box-input {
    outline: none;
    height: 30px;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: none;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 8px;
    background-color: #e0e3e4;
  }
}

@media (max-width: 568px) {
  .modal-box-input-list {
    justify-content: center;

    li {
      width: 100%;
    }
  }

  .item-wrapper {
    margin-right: 5px !important;
  }

  .correction-heading {
    padding-left: 0 !important;

    .modal-title {
      padding-left: 0 !important;
    }

    h4 {
      font-size: 15px;
    }

    button {
      padding: 8px !important;
    }
  }

  form {
    .w-50-sm {
      width: 50% !important;
    }
  }
}

// ==========================sessiontimeoutstyles=====================
.timepopup {
  .modal-header {
    background-color: #343a40;
    color: #fff;
    position: sticky;
  }

  .modal-content {
    width: 25%;
    @include margin(null, null, null, null);
    height: 25vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f7fafc;
  }

  button {
    @include border-radius(null, 8px, null, 8px);
  }
}

@media (max-width: 768px) {
  .clock-detail-wrapper {
    input {
      width: auto !important;
    }
  }
}

//saichand

.psDisabled {
  cursor: not-allowed;
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.container-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: 170px;
  height: 30px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: rgb(128 128 128 / 0.8) !important;
  color: $white;
  position: relative;
}

.edit-ps-container {

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {

    // background: linear-gradient(to bottom right, #00aeef 0%, #76bc43 100%) !important;
    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0px;
      border-top: solid 13px #f7fafc;
      border-left: solid 13px transparent;
      border-right: solid 13px transparent;
      transform: rotate(180deg);
    }
  }
}

.tab-list-content {
  cursor: inherit;

  &:hover {}
}

.material-icons {
  cursor: pointer;
}

.create-ps-button {
  width: 140px;
  height: 31px;
  background: none;
  background-color: rgba(111, 139, 164, 0.2);
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  color: #145194 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bg-none {
  background: none;
}

.right-icon {
  position: absolute;
  right: 0;
  /* top: 5px; */
  z-index: 9;
  color: #f7fafc;
  width: 30px;
  height: 32px;
  background: #145194;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-icon-danger {
  position: absolute;
  right: 0;
  /* top: 5px; */
  z-index: 9;
  color: #f7fafc;
  width: 30px;
  height: 30px;
  background: #e72e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0;
  cursor: pointer;
}

.right-icon-cancel {
  position: absolute;
  right: 35px;
  /* top: 5px; */
  z-index: 9;
  top: 6px;
  cursor: pointer;
}

.top-0 {
  top: 0 !important;
}

.filter-menu {
  width: 950px;
  padding: 10px;
  // right: 0 !important;
  top: 31px;
  left: -135%;
  box-shadow: 2px 2px 20px #908f8f;
  border: 0;
}

// .right {
//     position: absolute;
//     right: 0;
//     top: 3px;
//     background: #76bd43;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #ffffff;
//     z-index: 5;
//   }
// ng-autocomplete code
.co-ordinator {
  .ng-autocomplete {
    z-index: 1025;
  }
}

.input-container-wrapper,
.basic-input-container,
.telephony-input .form-input {
  .autocomplete-container {
    box-shadow: none;
    height: 30px;
  }

  .autocomplete-container .input-container input {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: #e9ecef;
    // color: rgba(0,0,0,.87);
    width: 100%;
    padding: 0 11px;
    line-height: 35px;
    height: 30px;
    box-shadow: 2px 2px 3px #ccc;
    color: #808080 !important;
  }

  .autocomplete-container .suggestions-container ul li a {
    padding: 3px 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
  }

  .autocomplete-container .input-container .x {
    right: 0px;
  }

  .phone-select {
    .autocomplete-container .input-container input {
      padding: 0 5px 0 13px;
    }
  }

  option {
    background: white;
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: #d2d2d2;
    opacity: 1;
  }
}

// inpu  type number css
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.icons {
  cursor: pointer;
  background-color: #145194;
  color: #fff;
  width: 30px;
  height: 30px;
  // font-size: 15px;
  border-radius: 2px;
  background-color: #e0e3e4;
  color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-space-nowrap {
  white-space: nowrap;
}

.width-200 {
  width: 200px;
}

// ==================scroll styles=================

/* width & height*/

::-webkit-scrollbar {
  width: 7px !important;
  height: 7px;
}

// / Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(226, 226, 226);
  border-radius: 10px;
}

// / Handle /
::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201);
  border-radius: 10px;
}

// / Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

.delete-option,
.edit-option {
  width: 65px !important;
}

.title-button {
  background: none;
  color: #ffffff;
  font-size: 14px;
}

.no-data-text {
  font-size: 18px;
  font-weight: bold;
}

.blue-btn {
  height: 32px;
  background-color: #00adf0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 8px;
}

.select-input {
  height: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media (max-width: 945px) {
  .display-none-sm {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .d-none-sm {
    display: none;
  }
}

@media (max-width: 420px) {
  .container-wrapper {
    padding: 0;
  }
}

.visit-review-wrapper {
  table {
    thead {
      th {
        font-size: 13px;
      }
    }

    tbody {
      background-color: #f7fafc;
    }
  }

  .box-shadow {
    box-shadow: 2px 2px 10px #737373;
  }

  .table-responsive {
    overflow: auto;
    height: 62vh;
  }

  th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  th[scope="row"] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  .ng-autocomplete {
    width: 88%;
  }

  .autocomplete-container .input-container input {
    font-size: 12px !important;
    height: 30px !important;
    padding: 0 10px !important;
    text-transform: capitalize;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .autocomplete-container {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .form-input .form-control {
    background-color: #fff;
  }
}

// ===================
.visit-review-wrapper {
  .check-box-wrapper {
    cursor: pointer;

    .on-off-toggle {
      width: 40px;
      height: 23px;
      position: relative;
      display: inline-block;
    }

    .on-off-toggle__slider {
      width: 42px;
      height: 22px;
      display: block;
      border-radius: 34px;
      background-color: #5a5a5a;
      transition: background-color 0.4s;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        background-color: #fff;
        // box-shadow: 0 0 0 1px #949494;
        bottom: 4px;
        height: 16px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 16px;
        z-index: 5;
        border-radius: 100%;
      }

      &:after {
        display: block;
        line-height: 22px;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bold;
        content: "No";
        color: #ffff;
        padding-left: 23px;
        transition: all 0.4s;
      }
    }

    .on-off-toggle__input {
      position: absolute;
      opacity: 0;
    }

    .on-off-toggle__input:checked+.on-off-toggle__slider {
      background-color: #76bd43;

      &:before {
        transform: translateX(20px);
      }

      &:after {
        content: "Yes";
        color: #ffffff;
        padding-left: 6px;
      }
    }
  }

  angular2-multiselect.custom-class {
    -webkit-border-top-left-radius: 50px !important;
    -webkit-border-bottom-left-radius: 50px !important;
    -moz-border-radius-topleft: 50px !important;
    -moz-border-radius-bottomleft: 50px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
  }

  .list-area {
    width: 218px;
  }

  .selected-list {
    .c-list {
      .c-token {
        .c-label {
          display: block;
          white-space: nowrap;
          float: left;
          width: 150px;
          overflow: visible;
          text-overflow: ellipsis;
          color: #7a7a7a;
        }
      }
    }

    .c-btn {
      width: 220px !important;
      -webkit-border-top-left-radius: 50px !important;
      -webkit-border-bottom-left-radius: 50px !important;
      -moz-border-radius-topleft: 50px !important;
      -moz-border-radius-bottomleft: 50px !important;
      border-top-left-radius: 50px !important;
      border-bottom-left-radius: 50px !important;
    }
  }
}

.header-input {
  width: 250px;

  .form-control {
    border-radius: 20px 20px 20px 20px !important;
  }

  .right-icon {
    border-radius: 0px 20px 20px 0;
  }
}

th {
  white-space: nowrap;
}

// =========

.sign-portion {
  width: 400px;
  height: 213px;
  border: 1px solid #acacac;
  margin-right: 20px;
}

.btn-border {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 8px;
}

.tooltip {
  left: 3px !important;

  .tooltip-arrow {
    &::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #145194;
    }
  }

  .tooltip-inner {
    /* max-width: 200px; */
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 800;
    border-radius: 0.25rem;
    background-color: #145194;
    color: $white;
    display: flex;
    align-items: center;
  }
}

.w-40 {
  width: 51px !important;
  font-size: 13px !important;
}

.gps-modal {
  .modal-dialog {
    max-width: 550px;
  }
}

.compliance-content-wrapper {
  padding: 15px;
  border: 2px solid #343a40;
  position: relative;

  .table td,
  .table th {
    padding: .55rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .modal-open .modal {
    background-color: #000000bf;
  }
}

.screen-name {
  width: auto;
  background-color: #343a40;
  padding: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -19px;
  right: 30px;
  color: #fff;
}

.percentage-pill {

  padding: 2px;
  border-radius: 500px;
  width: 80px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;

}

.measures-wrapper {
  .card-header {
    background-color: #1a5092;
    color: $white;
  }
}

app-header {

  a:hover {
    background-color: none;
  }

  .navbar .dropdown-toggle,
  .navbar .dropdown-menu a {
    cursor: pointer;
  }

  .navbar .dropdown-item.active,
  .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }

  // .navbar-dark .navbar-nav .nav-link:hover {

  //   color: transparent !important;

  // }

  .dropdown a:hover {
    background-color: transparent;
  }

  .navbar .dropdown-item:focus,
  .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  @media (min-width: 767px) {
    // .navbar .dropdown-toggle:not(.nav-link)::after {
    //     display: inline-block;
    //     width: 0;
    //     height: 0;
    //     margin-left: .5em;
    //     vertical-align: 0;
    //     border-bottom: .3em solid transparent;
    //     border-top: .3em solid transparent;
    //     border-left: .3em solid;
    // }
  }

}

.color-rep-table {
  .color-div {
    height: 20px;
    width: 22px;
    border: 1px solid #ccc;
    background-color: #449d44;
  }

  .color-div-yellow {
    height: 20px;
    width: 22px;
    border: 1px solid #ccc;
    background-color: #ec971f;
  }

  .color-div-red {
    height: 20px;
    width: 22px;
    border: 1px solid #ccc;
    background-color: #d9534f;
  }

  // .input-box{

  // }
}

.color-div {
  height: 20px;
  width: 22px;
  border: 1px solid #ccc;
  background-color: #449d44;
}

.color-div-yellow {
  height: 20px;
  width: 22px;
  border: 1px solid #ccc;
  background-color: #ec971f;
}

.color-div-red {
  height: 20px;
  width: 22px;
  border: 1px solid #ccc;
  background-color: #d9534f;
}

.input-box {
  width: 50px;
}


app-analytics,
app-maintainence {
  .table-responsive {
    .table {
      background: #fff;
    }
  }
}

.utilization-table {
  .table-responsive{
    height: 76vh;
    background: #fff;
    table {
      background: #fff;
      thead {
        th {
          font-size: 12px;
          vertical-align: middle;
        }
      }
    }
  }

}
.bg-light-grey{
  background: #e9ecef !important;
  }
  .measures-filter{
    .modal-content{
      height: auto !important;
      overflow: hidden !important;
    }

  }
  .border-radius-curved{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 8px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 8px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-bottom-left-radius: 8px !important;
  }
  .text-decoration-underline{
    text-decoration: underline;
  }
  .download-icon{
    font-size: 25px;
    margin-bottom: 5px;
    color: green;
  }
  .filter{
    font-size: 20px;
    margin-bottom: 5px;
    color: #343a40;


  }
.progress-modal{
  .nav-tabs{
    justify-content: center;
    border: 0;
    .nav-link{
      border-top-left-radius: 0px !important;
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 8px !important;
      -webkit-border-top-left-radius: 0px !important;
      -webkit-border-top-right-radius: 8px !important;
      -webkit-border-bottom-right-radius: 0px !important;
      -webkit-border-bottom-left-radius: 8px !important;
      background: rgb(0 117 255) !important;
      margin: 10px;
      color: #fff;
      &.active{
        background: #343a40 !important;
      } 
    }
    
  }
}