.daily-stats-wrapper {
  .table-responsive {
    background-color: white;
    height: 75vh;
    overflow-y: auto;
    .table .thead-dark th{
      z-index: 1;
      font-family: "AvenirLTStd-Medium", sans-serif !important;
    }
  }
  .table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #666;
  color: $white;
  z-index:4;
}
}
.daily-stats-table{
  th{
    left: auto;
  }
}

tfoot.daily-report-foot td:first-child{
z-index: 999;
}
 tfoot.daily-report-foot td {
  position: sticky;
  bottom: 0;
  background: #666;
  color: $white;
  z-index: 995;
}
tfoot.daily-report-foot td{
  background: #666;
  color: $white;
}