// table {
//     display: block;
//     overflow: auto;    
// }

// tbody {
//     display: block;
//     max-height: 100px;

// }

// thead, tbody tr {
//     display: table;
//     width: 100%;

// }
.edit-options-table-container {
  margin: 0 auto;
  height: 16vh;

  .edit-options-table {
      margin: 0;
    td {
      background: $section-bg;
    //   text-align: center;
      padding: 0 10px;
      vertical-align: middle;
    }

    .edit-table-th {
      padding: 6px 20px !important;
      background: #145194;
      color: #ffff;
    }
  }
}
.ps {
  background: linear-gradient(to bottom right, #1a5092 0%, #9a709a 100%);
}
.guarantor {
  background: linear-gradient(to bottom right, #00aeef 0%, #76bc43 100%);
}
.contact{
  
    background: linear-gradient(to bottom right, #75bb43 0%, #939393 100%);

}
.bg-light-grey{
  background-color: #e9ecef;
}