.registration-modal-container {
  max-width: 75%;

  // margin: 0 auto;
  .container-wrapper {
    padding: 0;

    .ps-registration-tabs-container {
      margin-bottom: 0;
    }
  }

  .registration-modal-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343a40;
    color: #ffffff;
  }

  .listing-table {
    height: 63vh;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    height: 100% !important;
  }

  label {
    margin-bottom: 0 !important;
    font-size: 15px;
    color: #212529;
  }

  .search-input {
    padding: 10px 32px 10px 7px;
  }
}

@media(max-width:576px) {
  .registration-modal-container {
    max-width: 95%;
    // margin: 0 auto;


  }
}

.modal-dialog-centered.modal-dialog-scrollable.registration-modal-container {

  height: auto !important;
}


.times-list {
  width: 100%;

  .modal-content {
    width: 95%;
    height: 335px !important;
  }

}

.sign {
  .modal-content {
    width: 60%;
  }
}

.progress {
  .modal-content {

    width: 80%;
    height: calc(100vh - 52px) !important;
    overflow-y: auto;
  }

  .modal-body {
    height: calc(100vh - 48px) !important;
    overflow-y: auto;
  }

  font-size: 16px;
}

.progress-title {
  background-color: #1690d1;
  padding: 5px 5px 5px 5px;

}

.task-list {
  max-width: 500px !important;

  .modal-content {
    height: auto !important;
  }

  // table{

  // }
}

td {
  vertical-align: middle !important;
}

.bottom-input {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(172, 172, 172);
    width: 100%;
  }
}

div#progress {
  background: #000000b5;
}

div#signModal {
  background: #000000b5;
}

div#timesModal {
  background: #000000b5;
}

div#exampleModal {
  background: #000000b5;
}

.ppHistory {
  width: 95% !important;
  max-width: 95% !important;

  .modal-content {
    width: 100% !important;
    height: auto !important;
  }
}

.physian-input {
  // background: white;
  width: 40%;
  padding: 20px;
  margin: 0 20px;
}

.editdig-modal {
  .modal-content {
    height: auto !important;
  }
}

.schedule-items-container {
  height: 52vh;
  overflow: auto;
}

.schedule-items-container-right {
  height: 40vh;
  overflow: auto;
}

.create-contact-popup {
  width: 95%;
  max-width: 95%;

  .modal-content {
    width: auto;
  }

  .slack-icon {
    display: none;
  }

  .table-responsive {
    display: none;
  }

  .visit-information {
    margin-left: 1.5rem !important;
    border: 0;
    padding: 0;
    margin: 10px;

    .visit-info-text {
      display: none;
    }
  }

  .container-wrapper {
    padding: 0;
  }

  .modal-contact-wrapper {
    width: 40% !important;
  }
}

.modal-dialog-payor {
  .modal-content {
    height: auto !important;
  }

  .container-wrapper {
    padding: 0;
  }
}

.edit-subscriber-modal {
  .modal-content {
    height: auto !important;
  }

  .container-wrapper {
    padding: 0;
  }
  .ps-registration-tabs-container{
    .payor-title {
      display: none !important;
    }

    .form-1-payor {
      display: none;
    }
  }

}
.p-dialog .p-dialog-header{
  padding: 10px !important;
}
.p-dropdown-panel {

  z-index: 11111 !important;
}
