.registration-modal-container {
  max-width: 75%;

  // margin: 0 auto;
  .container-wrapper {
    padding: 0;

    .ps-registration-tabs-container {
      margin-bottom: 0;
    }
  }

  .registration-modal-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343a40;
    color: #ffffff;
  }

  .listing-table {
    height: 63vh;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    height: 100% !important;
  }

  label {
    margin-bottom: 0 !important;
    font-size: 15px;
    color: #212529;
  }
  .search-input{
    padding: 10px 32px 10px 7px;
  }
}

@media(max-width:576px) {
  .registration-modal-container {
    max-width: 95%;
    // margin: 0 auto;


  }
}
.modal-dialog-centered.modal-dialog-scrollable.registration-modal-container {

  height: auto !important;
}


.times-list{
 width: 100%;

 .modal-content {
  width: 91%;
 }

}
.sign{
  .modal-content {
    width: 20%;
   }
}

.progress{
  .modal-content {
    width: 30%;
   }
   font-size: 16px;
}
.progress-title{
  background-color: #1690d1;
  padding: 5px 5px 5px 5px;
}
.task-list{
  max-width: 500px !important;

  .modal-content{
    height: auto !important;
  }
  // table{
  
  // }
}
td{
  vertical-align: middle !important;
}

.bottom-input{
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(172, 172, 172);
    width: 100%;
  }
}
