.ps-edit-tabs {
  .nav-tabs {
    border-top: 1px solid #dee2e6;
  }

  .nav-link {
    padding: 5px 10px;
    font-size: 12px;
    font-family: "AvenirLTStd-Light", sans-serif !important;
    color: black;
    position: relative;

    &.active {
      color: $white;
      background-color: #a88746 !important;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      // bottom: 50%;
      width: 1px;
      height: 65%;
      background: #dee2e6;
    }
  }

  .nav-item {
    &:first-child {
      .nav-link {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          // bottom: 50%;
          width: 1px;
          height: 65%;
          background: #dee2e6;
        }
      }
    }
  }

  .basic-input-container label,
  .telephony-input label,
  .input-container-wrapper label {
    font-size: 12px;
  }
}

@media(max-width:1400px) {
  .mh-90 {
    min-height: 90vh;
  }
}

@media(min-width:1400px) {
  .mh-90 {
    height: 100%;
  }
}

.ng-auto-style {
  .p-autocomplete {
    width: 100%;

    .p-inputtext {
      width: 100%;
      background: #e9ecef;
      /* color: black; */
      height: 30px !important;
      background-color: #e9ecef;
      border: 0;
      font-size: 15px;
      box-shadow: 2px 2px 3px #ccc;
      color: #808080 !important;
      font-family: "AvenirLTSTD-Roman", sans-serif;
    }
  }
}


.contacts-section{
  .p-multiselect{
    min-width: 15rem;
    width: 18rem;
  }
}