
.edit-option{


    .share-button {
      position: relative;
      width: 70px;
    
    
      &-input:checked+.toggle,
      &-input:hover+.toggle {
    
        // Cross Icon Bars
        &:after,
        &:before {
          background-color: #ffffff;
          content: "";
          height: 3px;
          width: 19px;
          position: absolute;
          left: 5px;
          top: 14px;
        }
    
        // Bar 1
        &:after {
          transform: rotate(45deg);
          // animation: bar1 0.3s forwards;
        }
    
        // Bar 2
        &:before {
          transform: rotate(-45deg);
          // animation: bar2 0.3s forwards;
        }
      }
    }
    
    // Toggle Button
    .toggle {
      position: relative;
      width: 30px;
      height: 30px;
      z-index: 10;
      display: block;
      border-radius: 25px;
      cursor: pointer;
      color: #ffffff;
      // box-shadow: inset 0 0 0 1px #C8C7C0;
      background: #76bc43;
    
      // Toggle Button Hover
      &:hover {
        // box-shadow: inset 0 0 0 2px $toggle;
      }
    
      // Share Icon
      &:after {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        font-family: "FontAwesome";
        content: "\f4ff";
        line-height: 30px;
        font-size: 15px;
        text-align: center;
        // left: -2px;
        font-family: "Font Awesome 5 Free";
    
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
    
      }
    
      // Hidden input to toggle state
      &-input {
        display: none;
      }
    
    
    }
    
    
    // Twitter
    .twitter {
      a:before {
        font-family: "Font Awesome 5 Free";
        content: "\f007";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #343a40;
    
      }
    
      a:hover:before {
        //   box-shadow: inset 0 0 0 2px $twitter;
      }
    }
    
    // Facebook
    .facebook {
      a:before {
        font-family: "Font Awesome 5 Free";
        content: "\f500";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #343a40;
      }
    
      a:hover:before {
        //   box-shadow: inset 0 0 0 2px $facebook;
      }
    }
    
    // google Plus
    .googleplus {
      a:before {
        font-family: "Font Awesome 5 Free";
        content: "\f19c";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #343a40;
      }
    
      a:hover:before {
        //   box-shadow: inset 0 0 0 2px $googleplus;
      }
    }
    //user-search
    .user-search{
      &::before{
        font-family: 'Material Icons';
        content: "link";
       -webkit-font-feature-settings: 'liga';
       font-weight: 600;
      }
    }
    .user{
      &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f007";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #fff;
      }
    }
    .list{
      &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f022";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #fff;
      }
    }
    .assign{
      &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f14b";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #fff;
      }
    }
    .search{
      &::before{
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
        // padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        color: #fff;
      }
    }
    
    ul {
      list-style: none;
    }
    
    ul li {
      width: 30px;
      height: 30px;
      position: relative;
      
      border-radius: 50%;
    }
    
    ul li .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: #fff;
    }
    
    ul li.facebook {
      // background: #76bc43;
    }
    
    
    
    ul li.facebook div.slider {
      // background: #76bc43;
    }
    
    
    
    .slider {
      content: "";
      position: absolute;
      top: -3px;
      left: 30px;
      width: 0px;
      height: 36px;
      // background: #76bc43;
      border-radius: 3px;
      transition: all 0.5s 0.3s ease;
    }
    
    .slider p {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 900;
      color: #fff;
      text-align: center;
      line-height: 50px;
      opacity: 0;
      transition: all 0.05s ease;
      margin: 0;
      border-radius: 50%;
      // background: #ffffff;
      // widows: 35px;
      // height: 35px;
      background: white;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    ul li:hover .slider {
      width: 140px;
      transition: all 0.5s ease;
    }
    
    ul li:hover .slider p {
      opacity: 1;
      transition: all 1s 0.02s ease;
    }
    }