<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header registration-modal-header d-flex justify-content-between align-items-center">
            <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Service on Hold </h4>
            <button type="button" class="pull-right close-x" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

        </div>
    </div>

</div>