<div class="modal-dialog assignDcs modalcontent-wrapper">
    <div class="modal-content">
        <div class="modal-header registration-modal-header d-flex justify-content-between align-items-center">
            <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Visit Times</h4>
            <button type="button" class="pull-right close-x" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex align-items-center mb-2">
                <h4 class="AvenirLTStd-Heavy mr-2">PS Name:</h4>
                <h4 class="AvenirLTStd-Heavy "> BANKS, MARGARET</h4>
            </div>
            <div class="table-responsive box-shadow height-67">
                <table class="table text-center mb-0 visit-table availabilityTable">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan="13" class="bg-secondary border-right">
                                Visit Times
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center border-right align-middle border-bottom" colspan="2" rowspan="1" scope="col">Original <br />Scheduled Times</th>
                            <th class="text-center border-right align-middle  border-bottom" colspan="2" rowspan="1" scope="col">Original <br />Reported Times</th>
                            <th class="text-center border-right align-middle  border-bottom" colspan="2" rowspan="1" scope="col">Adjusted <br />Reported Times</th>
                            <th class="text-center border-right align-middle  border-bottom" colspan="2" rowspan="1" scope="col">Bill Times(Adjusted<br /> Scheduled Times)</th>
                            <th class="text-center border-right align-middle  border-bottom" colspan="2" rowspan="1" scope="col">Pay Times</th>
                                <th class="text-center border-right align-top "  rowspan="3" scope="col">Linked Time</th>
                                    <th class="text-center border-right align-top "  rowspan="3" scope="col">Linked By</th>
                        </tr>
                        <tr>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">Start Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">End Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">Start Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">End Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">Start Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">End Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">Start Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">End Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">Start Time</th>
                            <th class="text-center border-right align-middle"  rowspan="2" scope="col">End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                            <td>10/03/2020 04:00 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
                <button class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
                </button>
            </div>
        </div>
    </div>

</div>