<app-header></app-header>
<div class="charts-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 p-0 side-bar">
        <ul>
          <li><a class="text-white">Compliance Measures</a></li>
          <li><a class="text-white">Maintenance</a></li>
          <!-- <li><a >Admission</a></li>
                  <li><a >Auths</a></li>
                  <li><a >PS</a></li>
                  <li><a >DCS</a ></li> -->
        </ul>
      </div>

      <div class="col-md-10 chart-content p-0 col-xs-12 bg-light">
        <div class="px-5 pt-3">
          <div class="navigation d-flex justify-content-center">
            <ul class="nav nav-pills mb-3">
              <li class="nav-item mx-3">
                <a class="nav-link active" href="#">1</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link disabled" href="#">2</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link disabled" href="#">3</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link disabled" href="#">4</a>
              </li>
            </ul>
          </div>

          <div class="compliance-content-wrapper">
            <div class="screen-name">Compliance Measures</div>

            <div class="radio-wrapper d-flex justify-content-center mb-3">
              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Management
                </label>
              </div>
              <div class="form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Parameter
                </label>
              </div>
            </div>

            <div class="table-responsive">
              <!-- <table class="table box-shadow text-center mb-1">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col ">Process
                      <i class="fas fa-filter ml-2"></i>
                    </th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody >
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>
                      <div class="percentage-pill bg-primary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>
                      <div class="percentage-pill bg-danger">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-secondary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-danger">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-primary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-primary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-danger">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">
                        Otto
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table> -->

              <!-- <table class="table box-shadow text-center mb-1">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Site
                      <i class="fas fa-filter ml-2"></i>
                    </th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody >
                  <tr>
                    <th scope="row">1</th>

                    <td>
                      <div class="percentage-pill bg-primary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>

                    <td>
                      <div class="percentage-pill bg-danger">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>

                    <td>
                      <div class="percentage-pill bg-secondary">
                        Otto
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>

                    <td>
                      <div class="percentage-pill bg-danger">
                        Otto
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table> -->

              <!-- <table class="table box-shadow text-center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col ">
                      Description
                      <i class="fas fa-filter ml-2"></i>
                    </th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td># of templates using scheduled area</td>
                    <td>
                      <div class="percentage-pill bg-primary">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td># of templates using no overridden pay rate</td>
                    <td>
                      <div class="percentage-pill bg-danger">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-secondary">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-danger">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-primary">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-primary">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-danger">Otto</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="percentage-pill bg-success">Otto</div>
                    </td>
                  </tr>
                </tbody>
              </table> -->

              <table class="table box-shadow text-center">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col ">
                      Description
                      <i class="fas fa-filter ml-2" data-toggle="modal" data-target=".bd-example-modal-lg"></i>
                    </th>
                    <th scope="col">Totals</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td># of templates using scheduled area</td>
                    <td>
                      <div class="">980</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td># of templates using no overridden pay rate</td>
                    <td>
                      <div class="">580</div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>
                      <div class="">47</div>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="exampleModalLabel">Template Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table box-shadow">
          <thead class="thead-dark">
            <tr>
              <th scope="col">PS</th>
              <th scope="col">Procedure Code</th>
              <th scope="col">Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
            <tr>
              <th scope="row">AN HOB</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>03/16/2020</td>
              <td>08/15/2020</td>
              <td>Irregular</td>
            </tr>
          </tbody>
        </table>

        <button type="button" class="btn-primary pagination-btn ml-0">Prev</button>
        <button type="button" class="btn-primary pagination-btn ml-0">Next</button>
      </div>
    </div>
  </div>
</div>
