<div class="css-dashboard-wrapper">
  <!-- home-inner-wrapper -->
  <div class="home-inner-wrapper d-flex">
    <!-- Content-wrapper -->
    <section class="content-wrapper pl-3 pt-2 pb-0 d-flex">
      <div class="content-inner-wrapper">
        <div class="d-flex">
          <div class="cards-content w-100">
            <div class="row m-0">
              <ng-container>
                <div class="col-lg-6 col-xs-12 pl-0 pb-2 pt-0 mr-0">
                  <ngx-spinner [name]="'spinner1'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                  <div class="widget-block h-auto">
                    <div class="widget-header  blue-bg text-center">
                      <!-- <div class="col-md-4 col-0"></div> -->
                      <h5 class="text-white m-0  ">App Approvals</h5>

                      <div class="d-flex justify-content-end align-items-center right-filter-icons">
                        <!-- <ng-autocomplete class="w-150" placeHolder="Search DCS">
                        </ng-autocomplete>
                        <ng-template style="width: 100%;" let-item>
                          <a [innerHTML]="item.PSName"></a>
                        </ng-template> -->
                        <div class="btn-group" #filter="bs-dropdown"  dropdown [autoClose]="false" [insideClick]="true"
                           placement="left" container="body">
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter"></i>
                          </span>
                          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-filter-menu">
                            <div class="form-group form-input  alert-dropdown ">
                              <p-dropdown [options]="alertDefinitionList" [showClear]="true" placeholder="DCS"  [filter]="true" filterBy="name" optionLabel="name" optionValue="id"></p-dropdown>
                            </div>
                            <div class="form-group form-input  alert-dropdown">
                              <p-dropdown [options]="approvalTypeFilterList" [showClear]="true"  placeholder="Approval Type"  [filter]="true" filterBy="name" optionLabel="name" optionValue="id"></p-dropdown>
                            </div>
                            <div class="form-group form-input">
                              <input type="text" bsDaterangepicker [(ngModel)]="date" readonly
                                placeholder="Requested On" class="form-control">
                            </div>
                            <div class="form-group form-input  alert-dropdown">
                              <p-dropdown [options]="appAprovalStatusList" [showClear]="true"  placeholder="Status"  [filter]="true" filterBy="name" optionLabel="name" optionValue="id"></p-dropdown>
                            </div>
                            <div class="text-right">
                              <button type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"
                                (click)="appApprovalsFilter(filter)"><i class="pi pi-search mr-2"></i>Search</button>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-compress-alt min-1 px-2" (click)="widgetReSize(false,'ps',$event)"></i>
                          <i class="fas fa-expand max-1 px-2" (click)="widgetReSize(true,'ps',$event)"></i>
                        </div>
                      </div>
                    </div>

                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th class=""></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">DCS Name</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Approval Type</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Requested On</th>
                              <!-- <th class="align-middle AvenirLTStd-Heavy color-black">End Date & Time</th> -->
                              <th class="align-middle AvenirLTStd-Heavy color-black">Status</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="">
                                    <div class="">
                                      <!-- <span class="material-icons add-bg" (click)="showPositionDialog('left')">
                                        add_circle
                                      </span> -->
                                      <span class="material-icons-outlined add-bg material-icons" (click)="showPositionDialog('left')">
                                        edit
                                        </span>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                              <td>AAA,FULTRON</td>
                              <td >Edited Punch</td>
                              <td>04/06/2021 12:15</td>

                              <td>Pending</td>
                            </tr>
                            <tr>
                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="">
                                    <div class="">
                                      <!-- <span class="material-icons add-bg" (click)="showcreateExceptionDialog('left')">
                                        add_circle
                                      </span> -->
                                      <span class="material-icons-outlined add-bg material-icons" (click)="showcreateExceptionDialog('left')">
                                        edit
                                        </span>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                              <td>AAA,FULTRON</td>
                              <td  >Create Exception</td>
                              <td>04/06/2021 12:15</td>
                              <td>Pending</td>
                            </tr>
                            <tr>
                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="">
                                    <div class="">
                                      <!-- <span class="material-icons add-bg" (click)="showcreateAvailabilityDialog('left')">
                                        add_circle
                                      </span> -->
                                      <span class="material-icons-outlined add-bg material-icons" (click)="showcreateAvailabilityDialog('left')">
                                        edit
                                        </span>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                              <td>AAA,FULTRON</td>
                              <td  >Create Availability</td>
                              <td>04/06/2021 12:15</td>
                              <td>Pending</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="pager d-flex justify-content-end mt-2">
                        <div class="c">
                          <span class="mr-2">Per page</span>
                          <select class="border-0 mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>

                          </select>
                          <span class="mr-2">showing 10 of
                            20
                          </span>

                          <button type="button" class="btn-common-small mx-2">Prev</button>
                          <button type="button" class="btn-common-small mx-2">Next</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
              <!-- =========================================== 2nd Widget============================= -->
              <ng-container>
                <div class="col-lg-6 col-xs-12 pr-3 pl-0 pb-2 pt-0 mr-0 xs-pad">
                  <div class="widget-block h-auto xs-mar">
                    <div class="widget-header peach-bg m-0 text-center">
                      <!-- <div class="col-md-4"></div> -->
                      <h5 class="text-white m-0  ">DCS Messages</h5>
                      <div class="d-flex justify-content-end align-items-center right-filter-icons">



                        <div class="btn-group" #filter1="bs-dropdown"  dropdown [autoClose]="false" container="body" [insideClick]="true"
                           placement="left" >
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter"></i>
                          </span>
                          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-filter-menu">
                            <div class="form-group form-input">
                              <input type="text" placeholder="DCS Name" class="form-control">
                            </div>

                            <div class="form-group form-input">
                              <input type="text" bsDaterangepicker [(ngModel)]="date" readonly
                                placeholder="Requested On" class="form-control" placement="left">
                            </div>

                            <div class="text-right">
                              <button type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"
                                (click)="appApprovalsFilter(filter1)"><i class="pi pi-search mr-2"></i>Search</button>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-compress-alt min-1 px-2"
                            (click)="widgetReSize(false,'admissions',$event)"></i>
                          <i class="fas fa-expand max-1 px-2" (click)="widgetReSize(true,'admissions',$event)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th scope="col"></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Site</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">DCS Name</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Message Text</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Last Received</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="" (click)="op.toggle($event)">
                                    <!-- <div class="share-button"  >
                                    <input class="toggle-input" id="toggle-input1" type="checkbox"  />
                                    <label for="toggle-input1" class="toggle"  ></label>
                                  </div> -->
                                    <div class="">
                                      <span class="material-icons add-bg" (click)="op.toggle($event)">
                                        add_circle
                                      </span>
                                    </div>
                                    <!-- <div class="slider d-flex align-items-center">

                                    <p class="blue-bg googleplus">
                                      <span>
                                        <a class="text-white" title="Authorizations">
                                        </a>
                                      </span>
                                    </p>
                                  </div> -->
                                  </li>
                                </ul>
                              </td>
                              <td>1724</td>
                              <td>Abay,George</td>
                              <td>Is my 2pm visit going to be rescheduled today ?</td>
                              <td>04/03/2021 12:15 </td>
                              <td class="position-relative"><span class="material-icons">
                                  chat_bubble_outline
                                </span>
                                <span class="notification-badge">1</span>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                        <!-- <div class="text-center no-data-text" >
                          No Data To Display
                        </div> -->
                      </div>
                      <div class="pager mt-2 d-flex justify-content-end">

                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select class="border-0 mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                          </select>
                          <span class="mr-2">showing
                            10
                            of 100 </span>
                          <button type="button" class="btn-common-small mx-2">Prev</button>
                          <button type="button" class="btn-common-small mx-2">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="row m-0">
              <ng-container>
                <div class="col-lg-6 col-xs-12 pl-0 pb-2 pt-0 mr-0">
                  <ngx-spinner [name]="'spinner3'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                  <div class="widget-block h-auto">
                    <div class="widget-header  lightblue-bg ">

                      <h5 class="text-white m-0 text-center">Point of Care Release
                        Notes/Training</h5>
                      <div class=" d-flex justify-content-end align-items-center right-filter-icons">
                        <div class="btn-group" #filterPOC="bs-dropdown"  dropdown [autoClose]="false" container="body" [insideClick]="true"
                        placement="left" >
                       <span class="mx-2" dropdownToggle>
                         <i class="pi pi-filter"></i>
                       </span>
                       <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-filter-menu">


                         <div class="form-group form-input">
                           <input type="text" [bsConfig]="{ adaptivePosition: true }" bsDaterangepicker [(ngModel)]="pointofCareDates" readonly
                             placeholder="Requested On" class="form-control" placement="left">
                         </div>

                         <div class="text-right">
                           <button type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"
                             (click)="getPocReleaseNotesList(filterPOC)"><i class="pi pi-search mr-2"></i>Search</button>
                         </div>
                       </div>
                     </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-compress-alt min-1 px-2" (click)="widgetReSize(false,'authorization')"></i>
                          <i class="fas fa-expand max-1 px-2" (click)="widgetReSize(true,'authorization')"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th class="align-middle AvenirLTStd-Heavy color-black ">Notification</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black ">Published On </th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Message</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of pocReleaseNotesList">

                              <td>{{item.notification}}</td>
                              <td>{{item.publishedOn}}</td>
                              <td ><span (click)="getPocReleaseNotesFile(item.attachmentId)" [tooltip]="item.fileName" class="material-icons color-light-blue" container="body" (click)="showBasicDialog()">
                                  description
                                </span>
                               <!-- <a [href]="'data:application/octet-stream;base64,' + pocReleaseNotesFile | domsanitize" download='file.pdf'>
                                <i class="fa fa-download blueanchor ml-2" style="font-size: 22px;" aria-hidden="true"></i>
                              </a> -->
                              </td>

                            </tr>
                          </tbody>
                        </table>
                        <!-- <div class="text-center no-data-text" *ngIf="authorizationtotalRecordsCount==0"> No Data To
                          Display </div> -->
                      </div>
                      <div class="pager mt-2 d-none justify-content-between">
                        <div>
                        </div>
                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select class="border-0 mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                          </select>
                          <span class="mr-2">showing
                            10
                            of 20 </span>
                          <button type="button" class="btn-common-small mx-2">Prev</button>
                          <button type="button" class="btn-common-small mx-2">Next</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container>
                <div class="col-lg-6 col-xs-12 pr-3  pl-0  pb-2 pt-0 mr-0 xs-pad">
                  <ngx-spinner [name]="'amsspinner'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

                  <div class="widget-block h-auto">
                    <div class="widget-header  green-bg text-center">
                      <!-- <div class="col-md-4"></div> -->
                      <h5 class="text-white m-0 ">AMS Alerts</h5>
                      <div class=" d-flex justify-content-end align-items-center right-filter-icons">
                        <!-- <ng-autocomplete class="w-150" placeHolder="Search..">
                        </ng-autocomplete> -->
                        <ng-template style="width: 100%;">
                          <a></a>
                        </ng-template>

                        <div class="btn-group" #filter2="bs-dropdown" [autoClose]="false"  dropdown container="body" insideClick="false">
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter"></i>
                          </span>
                          <div id="dropdown-basic"   *dropdownMenu class="dropdown-menu  alert-filter-dropdown-menu">
                            <div class="row">
                              <div class="form-group form-input col-6">
                                <input type="text" bsDaterangepicker readonly [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="amsDateFilter" placeholder="Start & End Date" class="form-control">

                              </div>
                              <div class="form-group form-input col-6">
                                <input type="text" [(ngModel)]="amsSearchBy" placeholder="Search By" class="form-control">

                              </div>
                              <!-- <div class="form-group form-input col-6">
                                <input type="text" placeholder="-Select-" class="form-control">
                              </div> -->
                              <div class="form-group form-input col-6 alert-dropdown">
                                <p-dropdown [options]="applicationList" placeholder="Select Application" [(ngModel)]="applicationId" [filter]="true" filterBy="name" optionLabel="name" optionValue="id"></p-dropdown>

                              </div>
                              <div class="form-group form-input col-6 alert-dropdown">
                                <p-dropdown [options]="alertDefinitionList" placeholder="Select Alert Defination" [(ngModel)]="alertDefinationId" [filter]="true" filterBy="name" optionLabel="name" optionValue="id"></p-dropdown>
                              </div>
                              <div class="text-right col-12">
                                <button (click)="onAmsSearch(filter2)"  type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"><i
                                    class="pi pi-search mr-2"></i>Search</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-compress-alt min-1 px-2" (click)="widgetReSize(false,'dcs')"></i>
                          <i class="fas fa-expand max-1 px-2" (click)="widgetReSize(true,'dcs')"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Alert Type</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Alert Message </th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Recieved Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of amsAlertList" >
                              <td class="align-middle color-black">
                                <div class="position-relative hover-btn">
                                  <span class="material-icons">
                                    more_vert
                                  </span>

                                  <div class=" align-items-center btn-hover-content">
                                    <div *ngFor="let button of alertbuttons;let i=index" class="mr-2">
                                      <button  pButton type="button" [label]="button"
                                      class="p-button-secondary p-button "></button>
                                    </div>


                                  </div>
                                </div>
                              </td>
                              <td>{{item.subject}}</td>
                              <td><p [innerHTML]="item.message"></p></td>
                              <td>{{item.groupBy}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center no-data-text" *ngIf="amsAlertList.length==0"> No Data To Display </div>
                      </div>
                      <div class="pager d-none
                       justify-content-between mt-2">
                        <div>
                        </div>
                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select class="border-0 mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                          </select>
                          <span class="mr-2">showing 20
                            of
                            100 </span>
                          <button type="button" class="btn-common-small mx-2">Prev</button>
                          <button type="button" class="btn-common-small mx-2">Next</button>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- ====================end of the file================== -->
<!-- Edited Punch -->
<p-dialog [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '70%'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center "></div>
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15">PS:</p>
      <p class="mb-0 title-font ml-2">Doe,Jane</p>
    </div>
    <div class="d-flex align-items-center mx-2">
      <p class="mb-0 title-font f-15">DCS:</p>
      <p class="mb-0 title-font ml-2">PS,PS</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 title-font f-15">Service:</p>
      <p class="mb-0 title-font ml-2">[CCRN] ATC-ATTENDANT CARE</p>
    </div>
  </ng-template>
  <div class="border-5"></div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Arrival Time:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Departure Time:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Updated Arrival Time:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Updated Departure Time:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Arrival Diff:</p>
      <p class="mb-0 title-font ml-2">0.0 Mins</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Departure Diff:</p>
      <p class="mb-0 title-font ml-2">-60.0 Mins</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Arrival Adjusted Reason:</p>
      <p class="mb-0 title-font ml-2"></p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Departure Adjusted Reason:</p>
      <p class="mb-0 title-font ml-2">DCS Called Early/Late</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Comments<span class="text-danger"> *</span> :</p>
      <textarea rows="3" cols="30" pInputTextarea></textarea>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Status:</p>
      <div class="col-6 p-0">
        <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
          optionLabel="name" [appendTo]="'body'"></p-dropdown>

      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-save" (click)="displayPosition=false" label="Save" styleClass="p-button-raised"></p-button>
  </ng-template>
</p-dialog>
<!-- Create Exception -->
<p-dialog [(visible)]="createException" [position]="position" [modal]="true" [style]="{width: '60%'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <!-- DCS Exceptions -->
    <div class="d-flex align-items-center ">
      <h3 class="mb-0 AvenirLTStd-Heavy ml-5">DCS Exceptions</h3>
      <!-- <p class="mb-0 title-font ml-2">Doe,Jane</p> -->
    </div>
  </ng-template>
  <div class="border-5"></div>
  <div class="row">
    <div class="d-flex align-items-center  col-12 col-md-6">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">DCS:</p>
      <p class="mb-0 title-font ml-2">PS,PS</p>
    </div>
    <div class="col-md-6 col-12"></div>
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Start Date:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">End Date:</p>
      <p class="mb-0 title-font ml-2">04/07/2021 06:00 PM</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Exception Type:</p>
      <p class="mb-0 title-font ml-2">Paid Time Off</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Exception Comments:</p>
      <p class="mb-0 title-font ml-2">Paid Time Off</p>
    </div>
  </div>

  <div class="row">
    <div class="d-flex   col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Status:</p>
      <div class="col-6 p-0">
        <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
          optionLabel="name" [appendTo]="'body'"></p-dropdown>
      </div>
    </div>
    <div class="d-flex  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Comments<span class="text-danger"> *</span> :</p>
      <textarea rows="3" cols="30" pInputTextarea></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-save" (click)="createException=false" label="Save" styleClass="p-button-raised"></p-button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="createAvailability" [position]="position" [modal]="true" [style]="{width: '60%'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" >
  <ng-template pTemplate="header">
    <!-- DCS Exceptions -->
    <div class="d-flex align-items-center ">
      <h4 class="mb-0  AvenirLTStd-Heavy ml-5">DCS Availability</h4>
    </div>
  </ng-template>
  <div class="border-5"></div>
  <div class="row">
    <div class="d-flex align-items-center  col-12 col-md-6">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">DCS:</p>
      <p class="mb-0 title-font ml-2">PS,PS</p>
    </div>
    <div class="d-flex align-items-center  col-12 col-md-6">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Day(s)</p>
      <p class="mb-0 title-font ml-2">Wed</p>
    </div>
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Start Date:</p>
      <p class="mb-0 title-font ml-2">04/07/2021</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">End Date:</p>
      <p class="mb-0 title-font ml-2">04/07/2021</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Start Time1:</p>
      <p class="mb-0 title-font ml-2">07:00 AM</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">End Time1:</p>
      <p class="mb-0 title-font ml-2">07:00 AM</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-center col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">Start Time2:</p>
      <p class="mb-0 title-font ml-2">07:00 AM</p>
    </div>
    <div class="d-flex align-items-center  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right">End Time2:</p>
      <p class="mb-0 title-font ml-2">07:00 AM</p>
    </div>
  </div>
  <div class="row">
    <div class="d-flex   col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Status:</p>
      <div class="col-6 p-0">
        <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
          optionLabel="name" [appendTo]="'body'"></p-dropdown>
      </div>
    </div>
    <div class="d-flex  col-md-6 col-12">
      <p class="mb-0 title-font f-15 col-6 p-0 text-right mr-2">Comments<span class="text-danger"> *</span> :</p>
      <textarea rows="3" cols="30" pInputTextarea></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-save" (click)="createAvailability=false" label="Save" styleClass="p-button-raised"></p-button>
  </ng-template>
</p-dialog>
<p-overlayPanel #op [style]="{width: '40%'}">

  <ng-template pTemplate>
    <div class="position-relative d-flex align-items-center justify-content-center mb-2">
      <div class="border-5 m-0"></div>
      <p class="mb-0 mx-2">Today</p>
      <div class="border-5 m-0"></div>
    </div>
    <div class="">
      <div class="bg-color">
        <p class="mb-0 AvenirLTStd-Heavy l-height-21">Abbay, George<span class="AvenirLTStd-Light"> 2:21 PM</span></p>
        <p class="mb-0 mb-0 AvenirLTStd-Medium">Is my 2pm visit going to be rescheduled today ?</p>
      </div>
      <div class="bg-color-right">
        <p class="mb-0 AvenirLTStd-Heavy l-height-21">Abbay, George<span class="AvenirLTStd-Light"> 2:21 PM</span></p>
        <p class="mb-0 mb-0 AvenirLTStd-Medium">Is my 2pm visit going to be rescheduled today ?</p>
      </div>
    </div>
    <span class="p-input-icon-right w-100 mt-2">
      <i class="pi pi-send send-msg-icon"></i>
      <input type="text" pInputText class="w-100" />
    </span>
  </ng-template>
</p-overlayPanel>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>



<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p>{{pocReleaseNotesFile}}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<button type="button" class="btn btn-primary" (click)="openModal(availability)">Create template modal</button>
<button type="button" class="btn btn-primary" (click)="openModal(editDetails)">Create template modal</button>
<button type="button" class="btn btn-primary" (click)="openModal(exception)">Create template modal</button>

<!-- Visit Edit Details for Approval -->
<ng-template #editDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visit Edit Details for Approval</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">PS:</p>
      <p class="mb-0 title-font ">Doe,Jane</p>
    </div>
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">PS,PS</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 title-font f-15 p-0 w-45">Service:</p>
      <p class="mb-0 title-font ">[CCRN] ATC-ATTENDANT CARE</p>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Arrival Time:</p>
        <p class="mb-0 title-font  ">04/07/2021 06:00 PM</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Time:</p>
        <p class="mb-0 title-font ">04/07/2021 06:00 PM</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Updated Arrival Time:</p>
        <p class="mb-0 title-font ">04/07/2021 06:00 PM</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Updated Departure Time:</p>
        <p class="mb-0 title-font ">04/07/2021 06:00 PM</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Arrival Diff:</p>
        <p class="mb-0 title-font ">0.0 Mins</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Diff:</p>
        <p class="mb-0 title-font ">-60.0 Mins</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Arrival Adjusted Reason:</p>
        <p class="mb-0 title-font "></p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Adjusted Reason:</p>
        <p class="mb-0 title-font ">DCS Called Early/Late</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0  w-45">Status:</p>
        <div class="col-6 p-0">
          <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
            optionLabel="name" [appendTo]="'body'"></p-dropdown>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
        <textarea rows="3" cols="30" pInputTextarea></textarea>
      </div>
     
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <p-button icon="pi pi-save" (click)="displayPosition=false" label="Save" styleClass="p-button-raised"></p-button>

    </div>
  </div>
</ng-template>
<!-- DCS Exceptions -->
<ng-template #exception>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Exceptions</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">PS,PS</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 title-font f-15 w-45">Start Date:</p>
      <p class="mb-0 title-font ">04/07/2021 06:00 PM</p>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">End Date:</p>
        <p class="mb-0 title-font  ">04/07/2021 06:00 PM</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Exception Type:</p>
        <p class="mb-0 title-font ">Paid Time Off</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Exception Comments:</p>
        <p class="mb-0 title-font ">Paid Time Off</p>
      </div>
    </div>


    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0  w-45">Status:</p>
        <div class="col-6 p-0">
          <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
            optionLabel="name" [appendTo]="'body'"></p-dropdown>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
        <textarea rows="3" cols="30" pInputTextarea></textarea>
      </div>
     
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <p-button icon="pi pi-save" (click)="displayPosition=false" label="Save" styleClass="p-button-raised"></p-button>

    </div>
  </div>
</ng-template>
<!-- DCS Availability -->
<ng-template #availability>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Availability</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">PS,PS</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 w-45">Start Date:</p>
      <p class="mb-0 title-font ">04/07/2021</p>
    </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">End Date:</p>
        <p class="mb-0 title-font  ">04/07/2021</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 w-45">Start Time 1:</p>
        <p class="mb-0 title-font "> 06:00 PM</p>
      </div>
        <div class="d-flex align-items-center mb-2">
          <p class="mb-0 title-font f-15 p-0 w-45">End Time 1:</p>
          <p class="mb-0 title-font  "> 06:00 PM</p>
        </div>
        <div class="d-flex align-items-center mb-2">
          <p class="mb-0 title-font f-15 w-45">Start Time 2:</p>
          <p class="mb-0 title-font "> 06:00 PM</p>
        </div>
          <div class="d-flex align-items-center mb-2">
            <p class="mb-0 title-font f-15 p-0 w-45">End Time 2:</p>
            <p class="mb-0 title-font  "> 06:00 PM</p>
          </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Day(s):</p>
        <p class="mb-0 title-font ">Wed</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0  w-45">Status:</p>
        <div class="col-6 p-0">
          <p-dropdown inputId="state" [options]="[]"  placeholder="Select"
            optionLabel="name" [appendTo]="'body'"></p-dropdown>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
        <textarea rows="3" cols="30" pInputTextarea></textarea>
      </div>
    <div class="d-flex align-items-center justify-content-end">
      <p-button icon="pi pi-save" (click)="displayPosition=false" label="Save" styleClass="p-button-raised"></p-button>
    </div>
  </div>
</ng-template>