<div class="css-dashboard-wrapper">
  <!-- home-inner-wrapper -->
  <div class="home-inner-wrapper d-flex">
    <!-- Content-wrapper -->
    <section class="content-wrapper pl-3 pt-2 pb-0 d-flex">
      <div class="content-inner-wrapper">
        <div class="d-flex">
          <div class="cards-content w-100">
            <div class="row m-0">
              <ng-container>
                <div class="col-lg-6 col-xs-12 pl-0 pb-2 pt-0 mr-0">
                  <ngx-spinner [name]="'spinner1'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
                    App Approval loding...
                  </ngx-spinner>
                  <div class="widget-block h-auto">
                    <div class="widget-header  blue-bg text-center">
                      <!-- <div class="col-md-4 col-0"></div> -->
                      <h5 class="text-white m-0  ">App Approvals</h5>

                      <div class="d-flex justify-content-end align-items-center right-filter-icons">
                        <!-- <ng-autocomplete class="w-150" placeHolder="Search DCS">
                        </ng-autocomplete>
                        <ng-template style="width: 100%;" let-item>
                          <a [innerHTML]="item.PSName"></a>
                        </ng-template> -->
                        <div class="btn-group" #filter="bs-dropdown" dropdown [autoClose]="false" [insideClick]="true"
                          placement="left" container="body">
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter" title="Filter"></i>
                          </span>
                          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-filter-menu">
                            <div class="form-group form-input  alert-dropdown ">
                              <p-dropdown [(ngModel)]="dcsFilterId" [options]="appApprovalDCSList"
                                [virtualScroll]="true" [itemSize]="31" [showClear]="true" placeholder="DCS"
                                [filter]="true" filterBy="dcsName" optionLabel="dcsName" optionValue="dcsId">
                              </p-dropdown>
                            </div>
                            <div class="form-group form-input  alert-dropdown">
                              <p-dropdown [(ngModel)]="approvalTypeId" [options]="approvalTypeList" [showClear]="true"
                                placeholder="Approval Type" [filter]="true" filterBy="name" optionLabel="name"
                                optionValue="id"></p-dropdown>
                            </div>
                            <div class="d-flex align-items-center">
                              <div class="form-group form-input mr-2">
                                <input type="text" [(ngModel)]="appApprovalStartDate" bsDatepicker
                                  [bsConfig]="{ adaptivePosition: true }" placeholder="Start Date" class="form-control">
                              </div>
                              <div class="form-group form-input">
                                <input type="text" [(ngModel)]="appApprovalEndDate" bsDatepicker
                                  [bsConfig]="{ adaptivePosition: true }" placeholder="End Date" class="form-control">
                              </div>
                            </div>

                            <div class="form-group form-input  alert-dropdown">
                              <p-dropdown [(ngModel)]="statusId" [options]="appAprovalStatusList" [showClear]="true"
                                placeholder="Status" [filter]="true" filterBy="name" optionLabel="name"
                                optionValue="id"></p-dropdown>
                            </div>
                            <div class="text-right">
                              <!-- <button (click)="appaprovalInint(true,filter)" type="submit" class="btn btn-common bg-blue-light mr-2 w-auto h-30 color-white"><i
                                  class="fas fa-sync mr-2"></i>Reset</button> -->
                              <button type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"
                                (click)="onAppApprovalSearch(filter)"><i class="pi pi-search mr-2"></i>Search</button>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-sync px-2" (click)="getAppApprovals()" title="Refresh"></i>
                          <i class="fas fa-compress-alt min-1 px-2" title="Minimize"
                            (click)="widgetReSize(false,'ps')"></i>
                          <i class="fas fa-expand max-1 px-2" title="Maximize"
                            (click)="widgetReSize(true,'ps')"></i>
                        </div>
                      </div>
                    </div>

                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th class=""></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">DCS Name</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Approval Type</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Requested On</th>
                              <!-- <th class="align-middle AvenirLTStd-Heavy color-black">End Date & Time</th> -->
                              <th class="align-middle AvenirLTStd-Heavy color-black">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of appApprovalList;let i=index">
                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="">
                                    <div class="">
                                      <!-- <span class="material-icons add-bg" (click)="showPositionDialog('left')">
                                        add_circle
                                      </span> -->
                                      <span class="material-icons-outlined add-bg material-icons"
                                        (click)="item.appApprovalTypeId==1?getAppEditPunchList(item,editDetails):item.appApprovalTypeId==2?getAppAvailabilityList(item,availability):getAppExceptionList(item,exception)">
                                        edit
                                      </span>
                                    </div>
                                  </li>
                                </ul>
                              </td>
                              <td>{{item.dcsName}}</td>
                              <td>{{item.appApprovalType}}</td>
                              <td>{{item.requestedOn}}</td>
                              <td>{{item.approvalStatus}}</td>
                            </tr>

                          </tbody>
                        </table>
                        <div *ngIf="appApprovalList.length==0" class="text-center no-data-text">
                          No Data To Display
                        </div>
                      </div>
                      <div class="pager mt-2 d-flex justify-content-end mt-2">
                        <div>
                        </div>
                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select (change)="approvalpageReset()" [(ngModel)]="approvalperPage" class="border-0 mr-2">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="20">20</option>
                          </select>
                          <span class="mr-2">Showing {{appApprovalList.length>0?approvalLowerBound:'0'}} to
                            {{approvalUpperBound >approvalTotalCount?approvalTotalCount:approvalUpperBound}} of
                            {{approvalTotalCount}} </span>
                          <button type="button" [disabled]="approvalLowerBound==1" class="btn-common-small mx-2"
                            (click)="approvalPrevPage()">Prev</button>
                          <button type="button" [disabled]="approvalUpperBound>approvalTotalCount"
                            class="btn-common-small mx-2" (click)="approvalNextPage()">Next</button>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
              <!-- =========================================== 2nd Widget============================= -->
              <ng-container>
                <div class="col-lg-6 col-xs-12 pr-3 pl-0 pb-2 pt-0 mr-0 xs-pad">
                  <div class="widget-block h-auto xs-mar">
                    <div class="widget-header peach-bg m-0 text-center">
                      <!-- <div class="col-md-4"></div> -->
                      <h5 class="text-white m-0  ">DCS Messages</h5>
                      <div class="d-flex justify-content-end align-items-center right-filter-icons">
                        <ngx-spinner [name]="'dcsSpinner'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
                          DCS Messages loding...
                        </ngx-spinner>
                       <div class="btn-group" #dcsfilter="bs-dropdown" dropdown [autoClose]="false" container="body"
                          [insideClick]="true" placement="left">
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter" title="Filter"></i>
                          </span>
                          <div id="dropdown-basic"  *dropdownMenu class="dropdown-menu dropdown-filter-menu">
                            <div class="form-group form-input  alert-dropdown ">
                              <p-dropdown [(ngModel)]="messageDcsId" [options]="appApprovalDCSList"
                                [virtualScroll]="true" [itemSize]="31" [showClear]="true" placeholder="DCS"
                                [filter]="true" filterBy="dcsName" optionLabel="dcsName" optionValue="dcsId">
                              </p-dropdown>
                            </div>
                            <div class="d-flex align-items-center">
                              <div class="form-group form-input mr-2">
                                <input type="text" bsDatepicker [(ngModel)]="dcsStartDate" [bsConfig]="{ adaptivePosition: true }"
                                  placeholder="Start Date" class="form-control">
                              </div>
                              <div class="form-group form-input">
                                <input type="text" bsDatepicker [(ngModel)]="dcsEndDate" [bsConfig]="{ adaptivePosition: true }"
                                  placement="left" placeholder="End Date" class="form-control">
                              </div>
                            </div>
                            <!-- <div class="form-group form-input">
                              <input type="text" bsDaterangepicker [(ngModel)]="date" readonly
                                placeholder="Requested On" class="form-control" placement="left">
                            </div> -->

                            <div class="text-right">
                              <!-- <button type="submit" class="btn btn-common bg-blue-light mr-2 w-auto h-30 color-white"><i
                                  class="fas fa-sync mr-2"></i>Reset</button> -->
                              <button (click)="onDcsSearch(dcsfilter)" type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"><i
                                  class="pi pi-search mr-2"></i>Search</button>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-sync px-2" (click)="getAllDcsWithRecentMessage()" title="Refresh"></i>
                          <i class="fas fa-compress-alt min-1 px-2" title="Minimize"
                            (click)="widgetReSize(false,'admissions')"></i>
                          <i class="fas fa-expand max-1 px-2" title="Maximize"
                            (click)="widgetReSize(true,'admissions')"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th scope="col"></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">DCS Name</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Message Text</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Last Received</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of allDcsWithRecentMessage;let i=index;">

                              <td class="">
                                <ul class="m-0 p-0">
                                  <li class="">
                                     <div class="">
                                      <span class="material-icons add-bg" (click)="getDcsMessagesForUser(item,i,op,$event)">
                                        add_circle
                                      </span>
                                    </div>

                                  </li>
                                </ul>
                              </td>
                              <td>{{item.dcsName}}</td>
                              <td>{{item.message}}</td>
                              <td>{{item.createdOn}} </td>
                              <td class="position-relative"><span class="material-icons">
                                  chat_bubble_outline
                                </span>
                                <span *ngIf="item.unreadMessageCount>0" class="notification-badge">{{item.unreadMessageCount>0?item.unreadMessageCount:''}}</span>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                        <div *ngIf="allDcsWithRecentMessage.length==0" class="text-center no-data-text" >
                          No Data To Display
                        </div>
                      </div>
                      <div class="pager mt-2 d-flex justify-content-end">

                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select (change)="dcsPageReset()" [(ngModel)]="dcsPerPage" class="border-0 mr-2">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="20">20</option>
                          </select>
                          <span class="mr-2">Showing {{allDcsWithRecentMessage.length>0?dcsLowerBound:'0'}} to
                            {{dcsUpperBound >dcsTotalRecordCount?dcsTotalRecordCount:dcsUpperBound}} of
                            {{dcsTotalRecordCount}} </span>
                            <button type="button" [disabled]="dcsLowerBound==1" class="btn-common-small mx-2"
                            (click)="dcsPrevPage()">Prev</button>
                          <button type="button" [disabled]="dcsUpperBound>dcsTotalRecordCount"
                            class="btn-common-small mx-2" (click)="dcsNextPage()">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="row m-0">
              <ng-container>
                <div class="col-lg-6 col-xs-12 pl-0 pb-2 pt-0 mr-0">
                  <ngx-spinner [name]="'spinner3'" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
                  </ngx-spinner>
                  <div class="widget-block h-auto">
                    <div class="widget-header  lightblue-bg ">

                      <h5 class="text-white m-0 text-center">Point of Care Release
                        Notes/Training</h5>
                      <div class=" d-flex justify-content-end align-items-center right-filter-icons">
                        <div class="btn-group" #filterPOC="bs-dropdown" dropdown [autoClose]="false" container="body"
                          [insideClick]="true" placement="left">
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter" title="Filter"></i>
                          </span>
                          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-filter-menu">

                            <div class="d-flex align-items-center">
                              <div class="form-group form-input mr-2">
                                <input type="text" bsDatepicker [(ngModel)]="pointofCareStartDate"
                                  [bsConfig]="{ adaptivePosition: true }" placeholder="Start Date" class="form-control">
                              </div>
                              <div class="form-group form-input">
                                <input type="text" bsDatepicker [(ngModel)]="pointofCareEndDate"
                                  [bsConfig]="{ adaptivePosition: true }" placeholder="End Date" class="form-control">
                              </div>
                            </div>
                            <!-- <div class="form-group form-input">
                           <input type="text" [bsConfig]="{ adaptivePosition: true }" bsDaterangepicker [(ngModel)]="pointofCareDates" readonly
                             placeholder="Requested On" class="form-control" placement="left">
                         </div> -->

                            <div class="text-right">
                              <!-- <button type="submit" (click)="pocFilterReset(filterPOC)"
                                class="btn btn-common bg-blue-light mr-2 w-auto h-30 color-white"><i
                                  class="fas fa-sync mr-2"></i>Reset</button> -->
                              <button type="submit" class="btn btn-common bg-dark w-auto h-30 color-white"
                                (click)="onPocSearch(filterPOC)"><i class="pi pi-search mr-2"></i>Search</button>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-sync px-2" (click)="getPocReleaseNotesList()" title="Refresh"></i>
                          <i class="fas fa-compress-alt min-1 px-2" title="Minimize"
                            (click)="widgetReSize(false,'authorization')"></i>
                          <i class="fas fa-expand max-1 px-2" title="Maximize"
                            (click)="widgetReSize(true,'authorization')"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th class="align-middle AvenirLTStd-Heavy color-black ">Notification</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black ">Published On </th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Message</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of pocReleaseNotesList">

                              <td>{{item.notification}}</td>
                              <td>{{item.publishedOn}}</td>
                              <td><span (click)="getPocReleaseNotesFile(item.attachmentId,item.fileName)" [tooltip]="item.fileName"
                                  class="material-icons color-light-blue" container="body">
                                  description
                                </span>
                                <!-- <a [href]="'data:application/octet-stream;base64,' + pocReleaseNotesFile | domsanitize" download='file.pdf'>
                                <i class="fa fa-download blueanchor ml-2" style="font-size: 22px;" aria-hidden="true"></i>
                              </a> -->
                              </td>

                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center no-data-text" *ngIf="pocReleaseNotesList.length ==0"> No Data To
                          Display </div>
                      </div>
                      <div class="pager mt-2 d-flex justify-content-between">
                        <div>
                        </div>
                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select (change)="pocpageReset()" [(ngModel)]="pocperPage" class="border-0 mr-2">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="20">20</option>
                          </select>
                          <span class="mr-2">Showing {{pocReleaseNotesList.length>0?pocLowerBound:'0'}} to
                            {{pocUpperBound >pocTotalRecordsCount?pocTotalRecordsCount:pocUpperBound}} of
                            {{pocTotalRecordsCount}} </span>
                          <button type="button" [disabled]="pocLowerBound==1" class="btn-common-small mx-2"
                            (click)="pocPrevPage()">Prev</button>
                          <button type="button" [disabled]="pocUpperBound>pocTotalRecordsCount"
                            class="btn-common-small mx-2" (click)="PocNextPage()">Next</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container>
                <div class="col-lg-6 col-xs-12 pr-3  pl-0  pb-2 pt-0 mr-0 xs-pad">
                  <ngx-spinner [name]="'amsspinner'" [fullScreen]="false" type="ball-clip-rotate-multiple"
                    size="medium"></ngx-spinner>

                  <div class="widget-block h-auto">
                    <div class="widget-header  green-bg text-center">
                      <!-- <div class="col-md-4"></div> -->
                      <h5 class="text-white m-0 ">AMS Alerts</h5>
                      <div class=" d-flex justify-content-end align-items-center right-filter-icons">
                        <!-- <ng-autocomplete class="w-150" placeHolder="Search..">
                        </ng-autocomplete> -->
                        <ng-template style="width: 100%;">
                          <a></a>
                        </ng-template>

                        <div class="btn-group" #filter2="bs-dropdown" [autoClose]="false" [insideClick]="true"  dropdown container="body"
                          >
                          <span class="mx-2" dropdownToggle>
                            <i class="pi pi-filter" title="Filter"></i>
                          </span>
                          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu  alert-filter-dropdown-menu">
                            <div class="row mr-0">
                              <div class="d-flex align-items-center col-6 pr-0">
                                <div class="form-group form-input mr-2">
                                  <input type="text" bsDatepicker [(ngModel)]="amsDateFilter[0]"
                                    [bsConfig]="{ adaptivePosition: true }" placeholder="Start Date"
                                    class="form-control">
                                </div>
                                <div class="form-group form-input">
                                  <input type="text" bsDatepicker [(ngModel)]="amsDateFilter[1]"
                                    [bsConfig]="{ adaptivePosition: true }" placeholder="End Date" class="form-control">
                                </div>
                              </div>
                              <!-- <div class="form-group form-input col-6">
                                <input type="text" bsDaterangepicker readonly [bsConfig]="{ adaptivePosition: true }" [(ngModel)]="amsDateFilter" placeholder="Start & End Date" class="form-control">

                              </div> -->
                              <div class="form-group form-input col-6 pr-0">
                                <input type="text" [(ngModel)]="amsSearchBy" placeholder="Search By"
                                  class="form-control">

                              </div>
                              <!-- <div class="form-group form-input col-6">
                                <input type="text" placeholder="-Select-" class="form-control">
                              </div> -->
                              <div class="form-group form-input col-6 alert-dropdown pr-0">
                                <p-dropdown [options]="applicationList" placeholder="Select Application"
                                  [(ngModel)]="applicationId" (ngModelChange)="onApplicationIdChange()" [showClear]="true" [filter]="true" filterBy="name" optionLabel="name"
                                  optionValue="id"></p-dropdown>

                              </div>
                              <div class="form-group form-input col-6 alert-dropdown pr-0">
                                <p-dropdown [options]="alertDefinitionList" placeholder="Select Alert Definition"
                                  [(ngModel)]="alertDefinationId" [showClear]="true" [filter]="true" filterBy="name" optionLabel="name"
                                  optionValue="id"></p-dropdown>
                              </div>
                              <div class="text-right col-12 pr-0">
                                <!-- <button type="submit"
                                  class="btn btn-common bg-blue-light mr-2 w-auto h-30 color-white"><i
                                    class="fas fa-sync mr-2" (click)="onAmsReset(filter2)"></i>Reset</button> -->
                                <button (click)="onAmsSearch(filter2)" type="submit"
                                  class="btn btn-common bg-dark w-auto h-30 color-white"><i
                                    class="pi pi-search mr-2"></i>Search</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ico d-flex align-items-center">
                          <i class="fas fa-sync px-2" (click)="getAlertsForDevices()" title="Refresh"></i>
                          <i class="fas fa-compress-alt min-1 px-2" title="Minimize"
                            (click)="widgetReSize(false,'dcs')"></i>
                          <i class="fas fa-expand max-1 px-2" title="Maximize" (click)="widgetReSize(true,'dcs')"></i>
                        </div>
                      </div>
                    </div>
                    <div class="widget-inner p-2">
                      <div class="table-responsive communication-table alert-responsive">
                        <table class="table position-relative">
                          <thead class="thead-light no-wrap">
                            <tr>
                              <th></th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Alert Type</th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Alert Message </th>
                              <th class="align-middle AvenirLTStd-Heavy color-black">Received Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of amsAlertList">
                              <td class="align-middle color-black">
                                <div class="position-relative hover-btn">
                                  <span class="material-icons">
                                    more_vert
                                  </span>

                                  <div class=" align-items-center btn-hover-content">
                                    <div *ngFor="let button of item.buttonsNameArray;let i=index" class="mr-2">
                                      <button *ngIf="button!='Close'" (click)="processDynamicAlert(item,i)" pButton type="button"
                                        [label]="button" class="p-button-secondary p-button "></button>
                                    </div>


                                  </div>
                                </div>
                              </td>
                              <td>{{item.subject}}</td>
                              <td>
                                <p [innerHTML]="item.message"></p>
                              </td>
                              <td>{{item.groupBy +' '+ item.alertSendDate }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center no-data-text" *ngIf="amsAlertList.length==0"> No Data To Display </div>
                      </div>
                      <div class="pager d-none
                       justify-content-between mt-2">
                        <div>
                        </div>
                        <div class="nav">
                          <span class="mr-2">Per page</span>
                          <select class="border-0 mr-2">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                          </select>
                          <span class="mr-2">showing 20
                            of
                            100 </span>
                          <button type="button" class="btn-common-small mx-2">Prev</button>
                          <button type="button" class="btn-common-small mx-2">Next</button>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- ====================end of the file================== -->


<!-- messaage overlay  -->
<p-overlayPanel (onHide)="sendmessagecount>0?getAllDcsWithRecentMessage():''"   #op [style]="{width: '40%'}" [baseZIndex]="0">

  <ng-template id="message" pTemplate>
    <div  *ngFor="let item of dcsMessagesForUser;let i=index">
    <div class="position-relative d-flex align-items-center justify-content-center mb-2">
      <!-- <div class="border-5 m-0"></div> -->
      <p *ngIf="i==0?true:dcsMessagesForUser[i-1].date!=item.date" class="mb-0 mx-2 today-text">{{item.createdOn|date:'MMM d y'}} </p>
      <!-- <div class="border-5 m-0"></div> -->
    </div>
    <div class="">
      <!-- reciever -->
      <div *ngIf="item.isDcsMessage!='No'" class="bg-color">
        <!-- <p class="mb-0 AvenirLTStd-Heavy l-height-21 color-green-dark">{{currentDcs.dcsName}}</p> -->
        <p class="mb-0 mb-0 AvenirLTStd-Medium">{{item.message}}<span
            class="AvenirLTStd-Light time-stamp">{{item.createdOn|date:'hh:mm a'}}</span></p>
      </div>

    </div>
    <!-- <div class="position-relative d-flex align-items-center justify-content-center mb-2 mt-2 box-shadow">
      <p class="mb-0 mx-2 white-space-nowrap unread-text AvenirLTStd-Heavy">3 Unread Messages</p>
    </div> -->
    <div *ngIf="item.isDcsMessage=='No'" style="background-color: #addfc2 !important;" class="bg-color-right">
      <!-- <p class="mb-0 AvenirLTStd-Heavy l-height-21 color-text-message">{{userDetails.userName}}</p> -->
      <p class="mb-0 mb-0 AvenirLTStd-Medium">{{item.message}}<span
          class="AvenirLTStd-Light time-stamp"> {{item.createdOn|date:'hh:mm a'}}</span></p>
    </div>
  </div>
    <div class=" w-100 pt-2 p-message-input d-flex">
      <!-- <i class="pi pi-send "></i> -->

      <input type="search" placeholder="Type a message" (search)="currentMessage.trim().length!=0?saveDcsMessage():''"  [(ngModel)]="currentMessage" pInputText class=" input-message ml-2 w-100 mr-2" />
      <span *ngIf="currentMessage.trim().length!=0" (click)="saveDcsMessage()" title="click to send"  class="material-icons send-msg-icon mr-2">
        send
      </span>
    </div>
  </ng-template>
</p-overlayPanel>



<!-- Visit Edit Details for Approval -->
<ng-template #editDetails>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Visit Edit Details for Approval</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">PS:</p>
      <p class="mb-0 title-font ">{{appEditPunchList.psName}}</p>
    </div>
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">{{appEditPunchList.dcsName}}</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 title-font f-15 p-0 w-45">Service:</p>
      <p class="mb-0 title-font ">{{appEditPunchList.service}}</p>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Arrival Time:</p>
        <p class="mb-0 title-font  ">{{appEditPunchList.oldArrivalDateTime}}</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Time:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.oldDepartureDateTime}}</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Updated Arrival Time:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.updatedArrivalDateTime}}</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Updated Departure Time:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.updatedDepartureDateTime}}</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Arrival Diff:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.arrivalDiff}}</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Diff:</p>
        <p class="mb-0 title-font ">-6{{appEditPunchList.departureDiff}}</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Arrival Adjusted Reason:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.arrilvalAdjustedReason}}</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Departure Adjusted Reason:</p>
        <p class="mb-0 title-font ">{{appEditPunchList.departureAdjustedReason}}</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0  w-45">Status<span class="text-danger"> *</span>:</p>
        <div class="col-6 p-0">
          <p-dropdown [(ngModel)]="currentStatus" [options]="appAprovalStatusList" [showClear]="true"
            placeholder="Status" [filter]="true" filterBy="name" optionLabel="name" appendTo="body" optionValue="id">
          </p-dropdown>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
        <textarea rows="3" cols="30" [(ngModel)]="currentApprovedComments"
          class="p-inputtextarea p-inputtext p-component"></textarea>
      </div>

    </div>
    <!-- <div class="d-flex align-items-center justify-content-end">
      <p-button icon="pi pi-save" label="Save" styleClass="p-button-raised"></p-button>
    </div> -->
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button (click)="modalRef.hide()" class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
      </button>
      <button *ngIf="appEditPunchList.status=='1'" (click)="approvingEditPunch()"
        class="btn-common btn-green d-flex align-items-center justify-content-center"> Proceed<span
          class="material-icons ml-2">
          navigate_next
        </span>
      </button>
    </div>
  </div>
</ng-template>
<!-- DCS Exceptions -->
<ng-template #exception>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Exceptions</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center ">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">{{appExceptionList.dcsName}}</p>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 title-font f-15 w-45">Start Date:</p>
      <p class="mb-0 title-font ">{{appExceptionList.startDate}}</p>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">End Date:</p>
        <p class="mb-0 title-font  ">{{appExceptionList.endDate}}</p>
      </div>
      <div class="d-flex align-items-center  mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Exception Type:</p>
        <p class="mb-0 title-font ">{{appExceptionList.exceptionType}}</p>
      </div>
    </div>
    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15  p-0 w-45">Exception Comments:</p>
        <p class="mb-0 title-font ">{{appExceptionList.exceptionComments}}</p>
      </div>
    </div>


    <div class="">
      <div class="d-flex align-items-center mb-2">
        <p class="mb-0 title-font f-15 p-0  w-45">Status:</p>
        <div class="col-6 p-0">
          <p-dropdown [(ngModel)]="currentStatus" [options]="appAprovalStatusList" [showClear]="true"
            placeholder="Status" [filter]="true" filterBy="name" optionLabel="name" optionValue="id" appendTo="body">
          </p-dropdown>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
        <textarea rows="3" [(ngModel)]="currentApprovedComments" cols="30"
          class="p-inputtextarea p-inputtext p-component"></textarea>
      </div>

    </div>
    <!-- <div class="d-flex align-items-center justify-content-end">
      <p-button icon="pi pi-save" (click)="displayPosition=false" label="Save" styleClass="p-button-raised"></p-button>

    </div> -->
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button (click)="modalRef.hide()"  class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
      </button>
      <!-- <button *ngIf="appExceptionList.status=='1'"
        (click)="currentStatus!='2'?approveAppDCSException():getAppExceptionEffectedVisits(appExceptionList,dcsSchedules)"
        class="btn-common btn-green d-flex align-items-center justify-content-center">Proceed<span
          class="material-icons ml-2">
          navigate_next
        </span>
      </button> -->
    </div>
  </div>
</ng-template>
<!-- DCS Availability -->
<ng-template #availability>

  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Availability</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">DCS:</p>
      <p class="mb-0 title-font ">{{appAvailabilityList.dcsName}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 w-45">Start Date:</p>
      <p class="mb-0 title-font ">{{appAvailabilityList.startDate}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">End Date:</p>
      <p class="mb-0 title-font  ">{{appAvailabilityList.endDate}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 w-45">Start Time 1:</p>
      <p class="mb-0 title-font "> {{appAvailabilityList.startTime1}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">End Time 1:</p>
      <p class="mb-0 title-font  "> {{appAvailabilityList.endTime1}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 w-45">Start Time 2:</p>
      <p class="mb-0 title-font "> {{appAvailabilityList?.startTime2}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">End Time 2:</p>
      <p class="mb-0 title-font  "> {{appAvailabilityList?.endTime2}}</p>
    </div>
    <div class="d-flex align-items-center  mb-2">
      <p class="mb-0 title-font f-15  p-0 w-45">Day(s):</p>
      <p class="mb-0 title-font ">{{appAvailabilityList.dayOfWeek}}</p>
    </div>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 title-font f-15 p-0  w-45">Status<span class="text-danger"> *</span> :</p>
      <div class="col-6 p-0">
        <p-dropdown [(ngModel)]="currentStatus" [options]="appAprovalStatusList" [showClear]="true" placeholder="Status"
          [filter]="true" filterBy="name" optionLabel="name" optionValue="id" appendTo="body"></p-dropdown>
      </div>
    </div>
    <div class="d-flex mb-2">
      <p class="mb-0 title-font f-15 p-0 w-45">Comments<span class="text-danger"> *</span> :</p>
      <textarea rows="3" [(ngModel)]="currentApprovedComments" cols="30"
        class="p-inputtextarea p-inputtext p-component"></textarea>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button (click)="modalRef.hide()" class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
      </button>
      <!-- <button *ngIf="appAvailabilityList.status=='1'"
        class="btn-common btn-green d-flex align-items-center justify-content-center"
        (click)=" currentStatus!='2'?approveAppDCSAvailability(true): validateAPPAvailability(appAvailabilityList,schedules)">Proceed<span
          class="material-icons ml-2">
          navigate_next
        </span>
      </button> -->
    </div>
  </div>
</ng-template>
<!-- DCS Schedules -->
<ng-template #schedules>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Schedules</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dcsmodelRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <p class="text-visits-modal my-1 d-flex align-items-center justify-content-between">Visits That will be Affected
      With the change in Availability <span class="material-icons color-green">
        file_download
      </span></p>
    <div class="table-responsive box-shadow height-67 bg-white">
      <table class="table text-center mb-0  ">
        <thead class="thead-dark">

          <tr>
            <th class="text-center border-right align-middle" scope="col">PS</th>
            <th class="text-center border-right align-middle" scope="col">Service</th>
            <th class="text-center border-right align-middle w-150" scope="col">Start Date</th>
            <th class="text-center border-right align-middle w-150" scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.appAvailabilityEffectedVisitsResponse.effectedVisitsList">
            <td class="text-center border-right align-middle">{{item.psName}}</td>
            <td class="text-center border-right align-middle">{{item.serviceName}}</td>
            <td class="text-center border-right align-middle">{{item.startDate}}</td>
            <td class="text-center border-right align-middle">{{item.endDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button (click)="dcsmodelRef.hide()" class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
      </button>
      <button (click)="availbilityAlert('availbility')"
        class="btn-common btn-green d-flex align-items-center justify-content-center">Proceed<span
          class="material-icons ml-2">
          navigate_next
        </span>
      </button>
    </div>
  </div>

</ng-template>
<!-- <button>save</button> -->
<ng-template #dcsSchedules>
  <div class="modal-header">
    <h4 class="modal-title pull-left">DCS Schedules</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dcsExceptionModelRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-visits-modal my-1 d-flex align-items-center justify-content-between">Visits that are found during the
      Unavailable dates <span class="material-icons color-green">
        file_download
      </span></p>
    <div class="table-responsive box-shadow height-67 bg-white">
      <table class="table text-center mb-0  ">
        <thead class="thead-dark">
          <tr>
            <th class="text-center border-right align-middle w-150" scope="col">Start Date</th>
            <th class="text-center border-right align-middle w-150" scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.appExceptionEffectedVisitsResponse.effectedVisitsList">

            <td class="text-center border-right align-middle">{{item.startDate|date:'MM/dd/yyyy hh:mm a' }}</td>
            <td class="text-center border-right align-middle">{{item.endDate|date:'MM/dd/yyyy hh:mm a' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button (click)="dcsExceptionModelRef.hide()" class="btn-common btn-green bg-dark"><i
          class="fas fa-times mr-1 "></i> Close
      </button>
      <button (click)="availbilityAlert('exception')"
        class="btn-common btn-green d-flex align-items-center justify-content-center"> Proceed<span
          class="material-icons ml-2">
          navigate_next
        </span>
      </button>
    </div>
  </div>
</ng-template>
