.title-font
  color: black
  font-size: 15px
  font-family: "AvenirLTStd-Medium"
.f-15
  font-size:15px !important
:host ::ng-deep .p-dropdown
    width: 14rem
.border-5
    border-top: 2px solid #ced4da
    width: 95%
    margin: 0 auto 10px auto
.bg-color
  background: #f5f5f5
  padding: 5px 10px
  max-width: 60%
  border-radius: 20px
.l-height-21
 line-height:21px
.bg-color-right
 background: #dbf4fd
 padding: 5px 10px
 max-width: 60%
 border-radius: 20px
 margin: 10px 0 auto auto
.send-msg-icon
    width: 31px
    height: 33px
    background: #343a40
    color:#fff !important
    padding: 9px
    right:0 !important
    top:7px !important
.notification-badge
  position: absolute
  top: 2px
  background: red
  border-radius: 20px
  font-size: 12px
  color: #fff
  text-align: center
  height: 16px
  width: 16px
  margin-left: -10px
.color-black 
  color: #000 !important
.notification
  width: 22%
.publish
  width:26%