<div class="modal-dialog modal-dialog-centered find-dcs" role="document">
    <div class="modal-content dcs-content">
        <div class="modal-header  registration-modal-header ">
            <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Visit Attributes</h4>
            <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <div class="d-flex align-items-center">
                <h4 class="AvenirLTStd-Heavy mr-2">PS Name:</h4>
                <h4 class="AvenirLTStd-Heavy "> BANKS, MARGARET</h4>
            </div>
            <div class="pt-2 mb-2">
                <label class="color-black">Primary Diagnosis Code</label>
                <div class=" form-input ">
                   <select class="form-control">
                       <option>Default</option>
                   </select>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pt-2">
                <button class="btn-common btn-blue  d-flex align-items-center justify-content-center bg-dark"><i
                        class="fas fa-times mr-1 "></i>Close</button>
                <button class="btn-common btn-green  d-flex align-items-center justify-content-center">Save</button>
            </div>
        </div>
    </div>
</div>