<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Case Manager </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="d-flex py-2 form-input">
                <label for="">Search</label>
                <input type="text" class="modal-box-input form-control">
            </div>

            <div class="d-flex py-2">
                <label for="">Active</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">All</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">No</label>
                </div>
                <button class="btn-common btn-green"> Go</button>
            </div>

            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center bg-dark text-white">Case Manager</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>the Bird</td>

                    </tr>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>Thornton</td>

                    </tr>
                    <tr>
                        <td><i class="fas fa-info-circle text-dark"></i></td>
                        <td>the Bird</td>

                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button class="btn-common  bg-dark h-35 w-auto px-3"><i class="fas fa-times mr-1 "></i> Close
                </button>
                <!-- <button class="btn-common btn-green">Reset</button> -->
                <button class="btn-common btn-green h-35 w-auto px-3">Clear</button>
            </div>
        </div>
    </div>
</div>