<div class="modal-header  registration-modal-header d-flex justify-content-between align-items-center">
  <div class="nav-item dropdown user-symbol">
    <a class="nav-link dropdown-toggle symbol p-0 d-flex align-items-center " (click)="dropdown()"
      href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <span class="material-icons user">
        person
      </span>
    </a>
    <div class="dropdown-menu dashboard-nav-dropdown p-0" aria-labelledby="navbarDropdown" style="width: 500px;">
      <div class="d-flex justify-content-center align-items-center">
        <table class="table box-shadow bg-white box-shadow mb-0">
          <tbody>
            <tr>
              <td>PS</td>
              <td>BANKS, LOUISE </td>
            </tr>
            <tr>
              <td>Payor Plan</td>
              <td>PCARE-CSRA(1190/801)</td>
            </tr>
            <tr>
              <td>Service[Procedure Code]</td>
              <td>[AGEPS] AGEPS - PERSONAL SUPPORT GRANT </td>
            </tr>
            <tr>
              <td>Visit Start Date</td>
              <td>04/20/2020 02:00 AM </td>
            </tr>
            <tr>
              <td>Visit End Date</td>
              <td>04/20/2020 02:30 AM </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Assign DCS</h4>
  <button type="button" class="pull-right close-x" aria-label="Close" (click)="modelHide()" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="assign-dcs-wrapper" *ngIf="availabilityCheck">
  <div class="container mt-3">
    <!-- <div class="d-flex justify-content-end mb-3">
                        <a href="javascript:void(0)" class=" pointer schedule-btn" data-toggle="modal"
                            data-target="#scheduleCriteria">
                            <span class="material-icons mr-1">
                                schedule
                            </span>Schedule
                            Criteria</a>
                    </div> -->
    <div class="table-container ">
      <div class="table-container-header d-flex p-2 justify-content-between nav align-items-center mb-2">
        <a href="javascript:void(0)"  (click)="openschedleTemplate(schedleTemplate)" class=" pointer schedule-btn" data-toggle="modal" data-target="#scheduleCriteria">
          <span class="material-icons mr-1">
            schedule
          </span>Schedule
          Criteria</a>
        <div class="d-flex  nav align-items-center">
          <div class="input d-flex">
            <label for="exampleInputEmail1" class="text-white px-2 mb-0">Search</label>
            <input type="search" class="form-control w-200">
          </div>
          <div class="input d-flex mx-3">
            <label for="exampleInputEmail1" class="text-white px-2 mb-0">Active</label>
            <select class="h-30">
              <option class="default" selected disabled>--Select--</option>
              <option>All</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
          <button class="btn-common btn-green"> Go </button>
        </div>
      </div>
      <div class="p-2 h-52vh">
        <table class="table box-shadow mb-0">
          <thead class="thead-dark">
            <tr>
              <th colspan="2"></th>
              <th>
                <input type="checkbox" class="form-control">
              </th>
              <th>DCS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of assignDCSList" >
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><i class="far fa-calendar-alt f-18"></i></td>
              <td><input type="checkbox"></td>
              <td>{{item.dcsName}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between m-2">
        <button class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
        </button>
        <button class="btn-common btn-green f-12 w-auto" (click)="checkAvailability()"><i
            class="fas fa-user-tag mr-1"></i> Check Availability</button>
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="!availabilityCheck" class="m-3">
  <div class="table-responsive box-shadow height-67">
    <table class="table text-center mb-0 visit-table availabilityTable">
      <thead class="thead-dark">
        <tr>
          <th colspan="13" class="bg-secondary border-right">
            Schedule DCS
          </th>
        </tr>
        <tr>
          <th class="text-center border-right align-middle" scope="col"></th>
          <th class="text-center border-right align-middle" scope="col"></th>
          <th class="text-center border-right align-middle" scope="col">DCS Name</th>
          <th class="text-center border-right align-middle" scope="col"></th>
          <th class="text-center border-right align-middle" scope="col"></th>
          <th class="text-center border-right align-middle" scope="col">Scheduled</th>
          <th class="text-center border-right align-middle" scope="col">Qualifications</th>
          <th class="text-center border-right align-middle" scope="col">
            <div class="d-flex align-items-center">Preferences% <i class="fas fa-sort ml-1"></i></div>
          </th>
          <th class="text-center border-right align-middle" scope="col">Previously<br /> Served
          </th>
          <th class="text-center border-right align-middle" scope="col">
            <div class="d-flex align-items-center">Shared<br /> DCS <i class="fas fa-sort ml-1"></i></div>
          </th>
          <th class="text-center border-right align-middle" scope="col">Preferred <br /> By DCS
          </th>
          <th class="text-center border-right align-middle" scope="col">Family Serving<br />
            Family</th>
          <th class="text-center border-right align-middle" scope="col">
            <div class="d-flex align-items-center">Assign<br /> DCS<i class="fas fa-sort ml-1"></i></div>
          </th>
        </tr>
      </thead>
      <tbody>

        <!-- {
          "dcsId": 14634,
          "totalVisits": 1,
          "previouslyServed": "Yes",
          "preferences": "Yes",
          "prefColorFlag": 0,
          "overtimeFlag": 1,
          "dcsName": "ADAMS, CAMILLE",
          "preference": 0,
          "familyServingFamily": "No",
          "unAvailableVisitCount": 0,
          "resourceNumber": "112233446",
          "preferedPS": "",
          "unAvailableDCS": 1,
          "countOfVisits": 1,
          "qualifications": "Yes",
          "visitCount": "1/1",
          "sharedDCS": "No",
          "availableVisitCount": 0,
          "previouslyServedCount": 32,
          "visitIds": "4688270",
          "conflict": "No"
          }, -->
        <tr *ngFor="let item of availableDCSList;let i=index">
          <td>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault{{i}}" id="flexRadioDefault{{i}}">
              <label class="form-check-label" for="flexRadioDefault{{i}}">
              </label>
            </div>
          </td>
          <td>
            <input type="checkbox">
          </td>
          <td>{{item.dcsName}}</td>
          <td class="margin-projection" data-toggle="modal" title="MarginProtection" (click)="openMarginProtection(marginprojection)">
            <span class="material-icons">
              analytics
            </span>
          </td>
          <td>
            <span class="material-icons">
              today
            </span>
          </td>
          <td>{{item.unAvailableDCS==1?'Yes':'No'}}</td>
          <td>{{item.qualifications}}</td>
          <td>{{item.preference}}</td>
          <td>{{item.previouslyServed}}</td>
          <td>{{item.sharedDCS}}</td>
          <td>{{item.preferedPS}}</td>
          <td> {{item.familyServingFamily}}</td>
          <td [ngClass]="{'green-child' : item.conflict === 'Yes' , 'red-child' : item.conflict === 'No'}">{{item.conflict}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-between mt-3">
    <button class="btn-common btn-green bg-dark"><i class="fas fa-times mr-1 "></i> Close
    </button>
    <button class="btn-common btn-blue f-12 w-auto" (click)="back()"><i class="fas fa-arrow-left"></i>
      Back</button>
    <button class="btn-common btn-green f-12 w-auto d-flex align-items-center justify-content-center"
      (click)="checkAvailability()"> Schedule<span class="material-icons ml-1">
        schedule_send
      </span></button>
  </div>
</div>





<!-- Schedule Criteria -->

<ng-template #schedleTemplate>
    <div class="modal-header">
      <h4 class="modal-title">Schedule Criteria </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsmodelRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table box-shadow">
        <tbody>
          <tr *ngFor="let item of criteriaList">
            <td>
              <div class="">
                <input type="checkbox" [checked]="item.enabled==1" />
              </div>
            </td>
            <td>{{item.criteriaName}} </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <button class="btn-common btn-green w-auto px-3 bg-dark"><i class="fas fa-times mr-1 "></i>Close</button>
        <button class="btn-common btn-green bg-blue-light w-auto px-3"><i class="fas fa-sync-alt mr-1"></i>
          Reset</button>
        <button class="btn-common btn-green w-auto px-3"><i class="fas fa-save mr-1"></i> Save</button>
      </div>
    </div>
</ng-template>

<!-- Margin Projection -->
<ng-template #marginprojection>
  <div class="modal-header  registration-modal-header ">
    <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Margin Projection</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsmodelRef.hide()" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body schedule-management-wrapper p-0">
    <div class="container-fluid m-0 px-4 py-2">

      <!-- <div class="d-flex justify-content-center align-items-center">
      <table class="table box-shadow bg-white" style="width: 50%;">
        <tbody>
          <tr>
            <td>PS</td>
            <td>BANKS, LOUISE </td>
          </tr>
          <tr>
            <td>Payor Plan</td>
            <td>PCARE-CSRA(1190/801)</td>
          </tr>
          <tr>
            <td>Service[Procedure Code]</td>
            <td>[AGEPS] AGEPS - PERSONAL SUPPORT GRANT </td>
          </tr>
          <tr>
            <td>Visit Start Date</td>
            <td>04/20/2020 02:00 AM </td>
          </tr>
          <tr>
            <td>Visit End Date</td>
            <td>04/20/2020 02:30 AM </td>
          </tr>
        </tbody>
      </table>
    </div> -->
      <div class="table-name d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h4 class="AvenirLTStd-Heavy mr-2 mb-0">PS Name:</h4>
          <h4 class="AvenirLTStd-Heavy mb-0"> BANKS, MARGARET</h4>
        </div>
        <div class="d-flex align-items-center">
          <h4 class="AvenirLTStd-Heavy mr-2 mb-0">DCS Name:</h4>
          <h4 class="AvenirLTStd-Heavy mb-0">Test, DCS 1</h4>
        </div>
      </div>

      <div class="table-responsive visits-casemanager margin-table height-67">
        <table class="table">
          <thead class="">
            <tr>
              <th class="align-middle border-right" rowspan="2"></th>
              <th class="align-middle border-right" rowspan="2">Start Date Time</th>
              <th class="align-middle border-right" rowspan="2">End Date Time</th>
              <th class="align-middle border-right" rowspan="2">Hours</th>
              <th class="align-middle border-right" rowspan="2">Pay Rate Type </th>
              <th class="align-middle border-right border-bottom" rowspan="1" colspan="2">
                Billing
              </th>
              <th class="align-middle border-right border-bottom" rowspan="1" colspan="6">
                Pay
              </th>
              <th class="align-middle" rowspan="2">Revenue</th>
            </tr>
            <tr>
              <th colspan="1" class="border-right">
                Rate
              </th>
              <th colspan="1" class="border-right">
                Amount
              </th>
              <th colspan="1" class="border-right">
                Pay
              </th>
              <th colspan="1" class="border-right">Week End</th>
              <th colspan="1" class="border-right">Holiday</th>
              <th colspan="1" class="border-right">Extra</th>
              <th colspan="1" class="border-right">OT</th>
              <th colspan="1">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="no-wrap">
              <td class="position-relative border-right">
                <span (click)="openPaydetails(paydetails)" ><i class="fas fa-calendar-week"></i></span>
              </td>
              <td class="position-relative border-right">
                10/06/2020 12:30 AM
              </td>
              <td class="position-relative border-right">
                10/06/2020 12:30 AM
              </td>
              <td class="border-right">No</td>
              <td class="border-right">Yes</td>
              <td class="border-right ">
                Rate
              </td>
              <td class="border-right">Amount</td>
              <td class="border-right ">1</td>
              <td class="border-right">2</td>
              <td class="border-right ">3</td>
              <td class="border-right ">4</td>
              <td class="border-right ">5</td>
              <td class=" border-right">6</td>
              <td>
                29.00
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="margin-projection">
        <div class="float-right color-green mr-2"> Margin:<span class="color-red">29.00</span></div>
        <div>
          <div class="float-right color-green mr-3"> Margin Percentage:<span class="color-red">89.23%</span></div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end pagination nav  mt-2">
        <button type="button" class="pagination-btn btn next-btn primary-button add">Refresh</button>
        <button type="button " class="pagination-btn btn next-btn primary-button">Reset</button>
        <div class="pr-2 pagination-add-close  justify-content-end">
          <div>
            <span class="footer-text">Per Page</span>
            <select class="pagination-select border-0">
              <option>
                10
              </option>`
            </select>
            <span class="footer-text">Showing <span>10</span> to
              <span>
                20 </span> of
              <span>30</span></span>
            <!-- <button type="button " class="pagination-btn ml-0" class="pagination-btn">Prev</button>
          <button type="button " class="pagination-btn ml-0" id="next-btn" class="pagination-btn">Next</button> -->
            <button type="button" class="pagination-btn">Prev</button>
            <button type="button " class="pagination-btn btn next-btn primary-button">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- pay Details -->
<ng-template #paydetails>
  <div class="modal-header  registration-modal-header ">
    <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Pay Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsmodelRef.hide()" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body schedule-management-wrapper p-0">
    <div class="container-fluid m-0 px-4 py-2">
        <div class="table-name d-flex align-items-center justify-content-between mb-2">
            <div class="d-flex align-items-center pr-2">
                <h4 class="AvenirLTStd-Heavy mr-2 mb-0">PS Name:</h4>
                <h4 class="AvenirLTStd-Heavy mb-0"> BANKS, MARGARET</h4>
            </div>
            <div class="d-flex align-items-center">
                <h4 class="AvenirLTStd-Heavy mr-2 mb-0">DCS Name:</h4>
                <h4 class="AvenirLTStd-Heavy mb-0">Test, DCS 1</h4>
            </div>
        </div>

        <div class="table-responsive visits-casemanager margin-table">
            <table class="table mb-0">

                <tbody>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">
                            Overridden Avg Pay Rate
                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">

                            DCS Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">

                            Payor Plan Service Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">

                            Site Service Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Site Base Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Effective Base Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Extra Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Holiday Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Holiday Pay Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Weekend Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Weekend Pay Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Day Shift Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Day Shift Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Evening Shift Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Evening Shift Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Night Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Night Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Travel Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Site Travel Pay Rate

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Over Time Hours

                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>
                    <tr class="no-wrap">
                        <td class="position-relative border-right">


                            Over Time Rate
                        </td>

                        <td class="position-relative ">
                            55.66
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between pt-2">
            <button class="btn-common btn-blue  d-flex align-items-center justify-content-center"><i
                    class="fas fa-times mr-1 "></i>Cancel</button>

        </div>
    </div>

</div>
</ng-template>

