<!-- <p>side-bar works!</p> -->

<div class="sidebar-container ">
    <span class="material-icons arrow-forward open" id="close">
        arrow_forward
        </span>
    <div class="sidebar-wrapper">
        <ul class="p-0 list-container">
            <li class="list-content pt-1"><a class="list-title"><span class=" AvenirLTStd-Heavy">Home</span> <span class="material-icons close close-left" >
                arrow_back
                </span></a></li>
            <li class="list-content toggle-div  py-1">
                <a class="AvenirLTStd-Heavy d-flex align-items-center justify-content-between list-title ">Client <span class="material-icons">
                    chevron_left
                    </span></a>

                    <ul class="p-0 m-0 sidebar-submenu">
                        <li class="pt-1"><a class="subtitle AvenirLTStd-Heavy  pl-4">Search Client</a></li>
                        <li class="pt-1"><a class="subtitle AvenirLTStd-Heavy  pl-4">Authorizations</a></li>
                        <li class="pt-1"><a class="subtitle AvenirLTStd-Heavy  pl-4">Admissions</a></li>
                    </ul>
                
                </li>
                <li class="list-content toggle-div pb-1">
                    <a class="AvenirLTStd-Heavy d-flex align-items-center justify-content-between list-title">Caregiver <span class="material-icons">
                        chevron_left
                        </span></a>
    
                        <ul class="p-0 m-0 sidebar-submenu">
                            <li class="pt-1"><a class="subtitle AvenirLTStd-Heavy ">Home</a></li>
                        </ul>
                    
                    </li>
            <!-- <li class="list-content AvenirLTStd-Heavy"><a class="list-title ">Caregiver</a></li> -->
        </ul>
    </div>
</div>