<!-- <app-header></app-header> -->
<div class="container-wrapper">
    <div class="mt-2">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" [routerLink]="['/registration-re/child-basic']" routerLinkActive="active" [ngClass]="activeArray[0]?'active':''" role="tab" aria-controls="home" aria-selected="true">Basic Information</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content" [routerLink]="['/registration-re/child-guarantor']" routerLinkActive="active" [ngClass]="activeArray[1]?'active':''">Guarantor Details</a>
            </li>
            <li class="nav-item tab-list disabled">
                <a class="nav-link tab-list-content" [routerLink]="['/registration-re/child-admission']" routerLinkActive="active" [ngClass]="activeArray[2]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Admission Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" [routerLink]="['/registration-re/child-payorplan']" routerLinkActive="active" [ngClass]="activeArray[3]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Payor/Plan Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" [routerLink]="['/registration-re/child-authorization']" routerLinkActive="active" [ngClass]="activeArray[4]?'active':''" role="tab" aria-controls="contact" aria-selected="false">Authorization Details</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet> </router-outlet>
