<!-- <p>utilization-stats works!</p> -->
<app-header></app-header>

<div class="utilization-table mt-5 mx-5">
    <div class="d-flex align-items-center justify-content-end">
        <i class="fas fa-filter ml-2 filter" ></i>
        <i class="fas fa-file-download ml-2 download-icon"></i>
        
      </div>
    <div class="table-responsive box-shadow " >
        <table class="table  text-center mb-1 ng-star-inserted">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="sticky-top" style="z-index: 5;">OPR</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SITE#</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">RVP</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ED</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">BRANCH</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">STATE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PS<br/> COORDINATOR</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PSNAME</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ACCT#</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PAYOR<br/> CODE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PLAN<br/> CODE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PAYOR<br/> CLASS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PAYOR<br/> PLAN</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SERVICE<br/> CODE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SERVICE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SERVICE <br/>TYPE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">PERIOD</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">AUTH START<br/> DATE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">AUTH END<br/> DATE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">AUTH SERVICE <br/>COMMENTS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">HOSPITALIZATION<br/> DATE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">TIME OF<br/> PROCEDURE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">VISITS#</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">TOTAL<br/> UNITS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">DP<br/> DAILY</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">DP <br/>WEEKLY</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">DP <br/>MONTHLY</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">DP<br/> YEARLY</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">MEASURABLE</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">AUTHORIZED<br/> HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SCHEDULED<br/> HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SCHEDULED HOURS <br/>WITH DCS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SCHEDULED HOURS <br/>WITH NO DCS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">CANCELLED <br/>HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SCHEDULED LESS<br/> CANCELLED</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">SERVICED <br/>HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">OVER UNDER <br/>SCHEDULED HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">OVER UNDER<br/> SERVICED HOURS</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ACTUAL SCHEDULE<br/> UTILIZATION %</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ADJUSTED SCHEDULE<br/> UTILIZATION %</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ACTUAL SERVICED<br/> UTILIZATION %</th>
                    <th scope="col" class="sticky-top" style="z-index: 5;">ADJUSTED SERVICED <br/>UTILIZATION %</th>
                </tr>
            </thead>
            <tbody>
                <tr class="ng-star-inserted">
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                    <td class="utilization-table-td">1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2 align-items-center mb-2">
    <div class="pagination  justify-content-end pagination-button align-items-center">
      <div class="d-flex align-items-center">
        <h6 class="mx-3 my-0">Per page</h6>
        <select class="border-0 box-shadow mr-3">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      <div>
        <p class="m-0">Showing 10 to
          10 of 100</p>
      </div>
      <div class="page-item "><button  type="button" 
          class="btn-green btn-border text-white mx-2">Prev</button>
      </div>
      <div class="page-item "><button type="button" 
          class="btn-green btn-border text-white mx-2">Next</button>
      </div>
    </div>
  </div>