<div class="component-wrapper">
  <div class="header-wrapper">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
      <div class="user-profile">
        <a class="navbar-brand">
          <div class="dropdown d-flex">
            <!-- <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-list" aria-hidden="true" style="font-size: 20px;"></i>
            </button> -->
            <!-- <div class="dropdown-menu">
              <a routerLinkActive="active" *ngIf="userDetailService.checkUser('ceat')" class="dropdown-item"
                [routerLink]="['/widgets']"> POC
                Home </a>
              <a *ngIf="userDetailService.checkUser('schedule')" routerLinkActive="active" class="dropdown-item"
                style="color: black;" [routerLink]="['/summary']">POC Call
                Management</a>
              <a *ngIf="userDetailService.checkUser('schedule')" routerLinkActive="active" class="dropdown-item"
                [routerLink]="['/charts']"> POC
                DashBoard</a>
              <a routerLinkActive="active" class="dropdown-item" [routerLink]="['/visitreview']"> Visit Review </a>

              <ul routerLinkActive="active" class="dropdown-item" [routerLink]="['/analytics']">
                Analytics
              </ul>
            </div> -->


            <ul class="navbar-nav mr-auto root-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown-menu">
                    <i class="fa fa-list" aria-hidden="true" style="font-size: 20px;"></i>
                  </button>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                  <li *ngIf="userDetailService.checkUser('ceat')"  class="dropdown-item" [ngClass]="errorlog.isActive?'active':''" [routerLink]="['/ps-edit/widgets']">
                    <a>Home</a>
                  </li>
                  <li class="dropdown-item" *ngIf="userDetailService.checkUser('schedule')" [ngClass]="dashboard.isActive?'active':''" [routerLink]="['/summary']">
                    <a> Call
                      Management</a>
                  </li>
                  <li class="dropdown-item" *ngIf="userDetailService.checkUser('schedule')"  [ngClass]="activity.isActive?'active':''" [routerLink]="['/chart-layout']"><a>CSM
                      DashBoard</a>
                  </li>
                  <li class="dropdown-item" [ngClass]="interface.isActive?'active':''" [routerLink]="['/visitreview']">
                    <a>Visit Review </a>
                  </li>
                  <li class="dropdown-item" [ngClass]="communication.isActive?'active':''" [routerLink]="['/communication-dashboard']">
                    <a>Communication Dashboard </a>
                  </li>

                  <li class="  dropdown-item dropdown side-menu-analytics"
                    [ngClass]="analytics.isActive||maintaince.isActive||dailyReports.isActive||telephony.isActive||utilization.isActive?'active':''">
                    <a class="dropdown-toggle side-menu-link" id="dropdown1-1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Analytics</a>

                    <ul class=" dropdown-menu side-menu" aria-labelledby="dropdown1-1">
                      <!-- <li class="  dropdown-item side-menu-item" [ngClass]="analytics.isActive?'active':''"
                        [routerLink]="['/analytics']"><a>Compliance</a>
                      </li>
                      <li class="dropdown-item side-menu-item" [ngClass]="maintaince.isActive?'active':''"
                        [routerLink]="['/maintaince']">
                        <a>Maintainence</a>
                      </li> -->
                      <li class="dropdown-item side-menu-item" [ngClass]="dailyReports.isActive?'active':''"
                        [routerLink]="['/daily-reports']"><a>Daily Reports</a>
                      </li>
                      <li class="dropdown-item side-menu-item" [ngClass]="telephony.isActive?'active':''"
                        [routerLink]="['/telephony']"><a>Telephony Stats</a>
                      </li>
                      <!-- <li class=" s dropdown-item side-menu-item" [ngClass]="utilization.isActive?'active':''"
                        [routerLink]="['/utilization']"><a>Utilization Stats</a>
                      </li> -->
                    </ul>
                  </li>
                  <li [ngClass]="scheduling.isActive||mapspsdcs.isActive||locateDCS.isActive||dcsroute.isActive?'active':''" class=" d-none dropdown-item dropdown side-menu-analytics">
                    <a class=" d-none dropdown-toggle side-menu-link" id="dropdown1-1" data-toggle="dropdown"
                      aria-haspopup="true"  aria-expanded="false">POC Scheduling</a>

                    <ul class="dropdown-menu side-menu" aria-labelledby="dropdown1-1">
                      <li class="dropdown-item side-menu-item" [ngClass]="scheduling.isActive?'active':''" [routerLink]="['/schedulingmodule/scheduling']">
                        <a>Scheduling</a>
                      </li>
                      <li class="dropdown-item map-menu-item p-0">
                        <ul class="p-0">
                          <li class="dropdown-item dropdown map-menu-analytics" [ngClass]="mapspsdcs.isActive||locateDCS.isActive||dcsroute.isActive?'active':''">
                            <a class="dropdown-toggle map-menu-link" id="dropdown1-1" data-toggle="dropdown"
                              aria-haspopup="true"  aria-expanded="false">Maps</a>

                            <ul class="dropdown-menu map-menu w-160" aria-labelledby="dropdown1-1">
                              <li class="dropdown-item map-menu-item" [ngClass]="mapspsdcs.isActive?'active':''" [routerLink]="['/schedulingmodule/maps/ps-dcs']"><a>PS/DCS
                                  Distribution</a>
                              </li>
                              <li class="dropdown-item map-menu-item" [ngClass]="locateDCS.isActive?'active':''" [routerLink]="['/schedulingmodule/maps/locate-dcs']"><a>Locate
                                  DCS</a>
                              </li>
                              <li class="dropdown-item map-menu-item" [ngClass]="dcsroute.isActive?'active':''" [routerLink]="['/schedulingmodule/maps/dcs-map']"><a>DCS Route
                                  Map</a>
                              </li>

                            </ul>
                          </li>
                        </ul>

                      </li>

                    </ul>
                  </li>
                  <!-- <li class="dropdown-item dropdown side-menu-analytics" >
                          <a class="dropdown-toggle side-menu-link" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POC Scheduling</a>
                          <ul class="dropdown-menu side-menu w-100" aria-labelledby="dropdown1-1">
                              <li class="dropdown-item side-menu-item"  [routerLink]="['/maps/ps-dcs']"><a>Scheduling</a></li>
                              <li class="dropdown-item side-menu-item"  [routerLink]="['/maps/locate-dcs']" routerLinkActive ><a>Maps</a></li>

                          </ul>
                      </li> -->
                  <!-- <li class="dropdown-item dropdown side-menu-analytics" [ngClass]="scheduling.isActive?'active':''" >
                          <a class="dropdown-toggle side-menu-link" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POC
                          Scheduling</a>
                          <ul class="dropdown-menu side-menu w-100" aria-labelledby="dropdown1-1">
                            <li class="dropdown-item side-menu-item"  [routerLink]="['/schedulingmodule/scheduling']"><a>Scheduling</a></li>
                            <li class="dropdown-item side-menu-item"   ><a>Maps</a></li>

                              </ul>

                        </li> -->

                </ul>
              </li>
            </ul>




          </div>
        </a>

        <a class="navbar-brand">
          <img src="assets/images/all-ways-caring-logo@2x.png" class="img-fluid">
        </a>
      </div>
      <div class="logo-cms ml-negetive">
        <div class="d-flex mr-n5">
          <img src="assets/images/Icon.svg" style="height:50px; width:50px;" alt="logo" class="p-2">
          <h3 class="text-white mt-3">
            <span routerLink="/chart-layout" routerLinkActive #activity="routerLinkActive">
              {{activity.isActive ? "CSM DashBoard" : null}}
            </span>
            <span routerLink="/summary" routerLinkActive #dashboard="routerLinkActive">
              {{dashboard.isActive ? "Call Management" : null}}
            </span>
            <span routerLink="/ps-edit/widgets" routerLinkActive #errorlog="routerLinkActive">
              {{errorlog.isActive ? "POC Home" :null}}
            </span>
            <span routerLink="/visitreview" routerLinkActive #interface="routerLinkActive">
              {{interface.isActive ? 'Visit Review' : null}}
            </span>
            <span routerLink="/analytics" routerLinkActive #analytics="routerLinkActive">
              {{analytics.isActive ? 'SP Compliance Measures Overview' : null}}
            </span>
            <span class="ml" routerLink="/maintaince" routerLinkActive #maintaince="routerLinkActive">
              {{maintaince.isActive ? 'Maintainence' : null}}
            </span>
            <span class="ml" routerLink="/daily-reports" routerLinkActive #dailyReports="routerLinkActive">
              {{dailyReports.isActive ? 'Daily Reports' : null}}
            </span>
            <span class="ml" routerLink="/telephony" routerLinkActive #telephony="routerLinkActive">
              {{telephony.isActive ? 'Telephony Stats' : null}}
            </span>
            <span class="ml" routerLink="/utilization" routerLinkActive #utilization="routerLinkActive">
              {{utilization.isActive ? 'Utilization Stats' : null}}
            </span>
            <span class="ml" routerLink="/schedulingmodule/scheduling" routerLinkActive #scheduling="routerLinkActive">
              {{scheduling.isActive ? 'Schedule Management' : null}}
            </span>
            <span class="ml" routerLink="/schedulingmodule/maps/locate-dcs" routerLinkActive #locateDCS="routerLinkActive">
              {{locateDCS.isActive ? 'Locate DCS ' : null}}
            </span><span class="ml" routerLink="/schedulingmodule/maps/ps-dcs" routerLinkActive #mapspsdcs="routerLinkActive">
              {{mapspsdcs.isActive ? 'PS/DCS Distribution ' : null}}
            </span>
            <span class="ml" routerLink="/schedulingmodule/maps/dcs-map" routerLinkActive #dcsroute="routerLinkActive">
              {{dcsroute.isActive ? 'DCS Route Map ' : null}}
            </span>
            <span class="ml" routerLink="/communication-dashboard" routerLinkActive #communication="routerLinkActive">
              {{communication.isActive ? "Communication Dashboard" : ''}}
            </span>
            <span style="margin-right: 8rem!important;" routerLink="/admission/edit-admission" routerLinkActive #admission="routerLinkActive">
              {{admission.isActive ? 'Admissions ' : ''}}
            </span>

          </h3>
        </div>
      </div>
      <div class=" d-flex align-items-center nav ">
        <a class="navbar-brand">
          <div class="right d-flex">
            <div class="dropdown d-flex profile-dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                {{userName}}
              </button>
              <div class="dropdown-menu" style="z-index: 99999;">
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>

            </div>
          </div>
        </a>
      </div>
    </nav>
  </div>
</div>
<style>
  .active {
    background-color: #00aeee !important;
    color: #fff !important;
  }
</style>
