<!-- <p>add-visits works!</p> -->
<div class="modal-dialog modal-dialog-centered find-dcs" role="document">
    <div class="modal-content dcs-content">
        <div class="modal-header  registration-modal-header ">
            <h4 id="dialog-child-name" class="modal-title pull-left AvenirLTStd-Heavy">Change Status

            </h4>
            <button type="button" class="close pull-right" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <form class="visit-information">
                
                <table class="payor-plan">
                    <tr>
                        <td>Change Status</td>
                        <td>
                            <div class="input-group form-input mb-2">
                                <select class="form-control">
                                    <option default selected>None</option>
                                    <option>Pencilled-in</option>
                                    <option>Confirmed</option>
                                    <option>Denied</option>
                                    <option>Left Message</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                   

                </table>
            </form>


            <div class="d-flex align-items-center justify-content-between pt-2">
                <button
                    class="btn-common btn-blue  d-flex align-items-center justify-content-center">Cancel</button>
                <!-- <button class="btn-common btn-green  d-flex align-items-center justify-content-center">Save</button> -->
            </div>
        </div>
    </div>
</div>