<div class="widget-block">
  <div class="widget-header row align-items-center blue-bg m-0 nav">
    <div class="col-md-4 col-0"></div>
    <h5 class="text-white m-0 text-center col-md-3 col-12">Person Served</h5>
    <div class="col-md-5 col-12 d-flex justify-content-end align-items-center  filter-dropdown">
      <!-- <ng-autocomplete class="w-150" [data]="psService.PsList" [searchKeyword]="'PSName'" #autops
          placeHolder="Search PS"  [itemTemplate]="itemTemplateps">
        </ng-autocomplete>
        <ng-template style="width: 100%;" #itemTemplateps let-item>
          <a [innerHTML]="item.PSName"></a>
        </ng-template> -->
      <p-dropdown [(ngModel)]="psId" [resetFilterOnHide]="true" (ngModelChange)="pspagereset()" [options]="psService.PsList" [virtualScroll]="true" [itemSize]="20"
        [showClear]="true" placeholder="Search Ps" [filter]="true" filterBy="PSName" optionLabel="PSName" appendTo="body"
        optionValue="PSId">
      </p-dropdown>
      <div class="ico d-flex align-items-center">
        <i class="fas fa-compress-alt min-1 px-2" (click)="maximize=false"></i>
        <i class="fas fa-expand max-1 px-2" (click)="maximize=true"></i>
      </div>
    </div>
  </div>

  <div class="widget-inner p-2">
    <div class="table-responsive">
      <table class="table position-relative">
        <thead class="thead-light no-wrap">
          <tr>
            <th class=""></th>
            <th class="align-middle">PS Name</th>
            <th class="align-middle">Home Site</th>
            <th class="align-middle">MRN</th>
            <th *ngIf="maximize" class="align-middle">SSN</th>
            <th *ngIf="maximize" class="align-middle">City</th>
            <th *ngIf="maximize" class="align-middle">State</th>
            <th *ngIf="maximize" class="align-middle">Zip code</th>
            <th *ngIf="maximize" class="align-middle">Phone</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor='let ps of psList; let i=index;'>
            <td class="position-relative edit-option">
              <ul class="m-0 p-0">
                <li class="">
                  <div class="share-button">
                    <input class="toggle-input" id="toggle-input" type="checkbox" />
                    <label for="toggle-input" class="toggle"></label>
                  </div>
                  <div class="slider d-flex align-items-center">
                    <!-- <p class="blue-bg twitter mr-2" title="Update PS">
                        <span>
                          <a class="text-white" (click)="updatePS(i)"
                            title="Edit PS">

                          </a>
                        </span>
                      </p> -->
                    <p (click)="onAdmission(ps.PSId)" class="blue-bg facebook mr-2" title="Admission">
                      <span>
                        <a class="text-white" title="Admissions"></a>
                      </span>
                    </p>
                    <p (click)="onAuthorization(ps.PSId)" class="blue-bg googleplus mr-2" title="Authorizations">
                      <span>
                        <a class="text-white" title="Authorizations">

                        </a>
                      </span>
                    </p>
                    <!-- <p (click)="onEdit()"  class="blue-bg edit mr-2" title="Authorizations">
                      <span>
                        <a class="text-white" title="Edit PS">

                        </a>
                      </span>
                    </p>-->
                  </div>
                </li>
              </ul>
            </td>
            <td (click)="onMinMize()">{{ps.PSName}}</td>
            <td>{{ps.homeSite}}</td>
            <td>{{ps.mrn}}</td>
            <td *ngIf="maximize">{{ps.ssn}}</td>
            <td *ngIf="maximize">{{ps.city}}</td>
            <td *ngIf="maximize">{{ps.state}}</td>
            <td *ngIf="maximize">{{ps.zipCode}}</td>
            <td *ngIf="maximize">{{ps.phone}}</td>
            <!-- <td>{{x.name}}</td>
              <td>{{x.name}}</td>
              <td>{{x.name}}</td> -->
          </tr>
        </tbody>
      </table>
      <div class="text-center no-data-text" *ngIf="pstotalRecordsCount==0"> No Data To Display </div>

    </div>
  </div>
  <div class="pager d-flex justify-content-between">
    <button type="button" class="btn-create text-white mx-2" *ngIf="userDetailService.checkUser('ceat')"
      [routerLink]='["/registration/basic"]'> <i class="fas fa-plus-circle mr-2 mt-0"></i>Create</button>
    <div *ngIf="!userDetailService.checkUser('ceat')" class="text-white mx-2">
    </div>

    <div class="c">
      <span class="mr-2">Per page</span>
      <select (change)="pspagereset()" [(ngModel)]='psPerPage' class="border-0 mr-2">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>

      </select>
      <span class="mr-2">showing {{pstotalRecordsCount !=0? psLowerBound:0}} to
        {{psUpperBound>=pstotalRecordsCount?pstotalRecordsCount:psUpperBound}} of
        {{pstotalRecordsCount}}
      </span>

      <button type="button" class="btn-common-small mx-2" [ngClass]=" psLowerBound==1?'psDisabled' :'' "
        [disabled]='psLowerBound==1' (click)="this.psPagePrev()">Prev</button>
      <button type="button" class="btn-common-small mx-2"
        [ngClass]=" psUpperBound>=pstotalRecordsCount?'psDisabled' :'' " [disabled]="psUpperBound>=pstotalRecordsCount"
        (click)="this.psPageNext()">Next</button>
    </div>
  </div>
</div>
