<div class="bg-white mh-90 py-3">

    <div class="px-3">
        <div class="visit-information position-relative border-2 rounded my-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                Admission Info ( To be Exported )
            </p>
            <div class="container-wrapper p-0">
                <div class="ps-registration-tabs-container mb-0">
                    <div class="">
                        <form class="d-flex   justify-content-between ">
                            <div class="d-flex nav">
                                <div class="input-container-wrapper">
                                    <label class="">
                                        PS Name<span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="input-container-wrapper">
                                    <label class="">
                                        MRN
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" />
                                    </div>
                                </div>
                                <div class="input-container-wrapper">
                                    <label class="text-capital">
                                        Account #
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="input-container-wrapper">
                                    <label class="text-capital">
                                        Admission Date<span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="input-container-wrapper">
                                    <label class="text-capital">
                                        Guarantor<span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Last Name" />
                                    </div>
                                </div>
                                <div class="input-container-wrapper ">
                                    <label class="text-capital">
                                        Initial Onset Date
                                    </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Last Name" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class=""> Case Manager </label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Case Manager" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">First Visit Date<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <label class="">Client Type<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <label class="">Coordinator <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">Client Class<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">Care Level<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <div class="check-box-wrapper">
                                        <label class="">Motor Vehicle Accident<span class="text-danger">*</span></label>
                                        <div class="on-off-toggle">
                                            <input class="on-off-toggle__input" type="checkbox" id="bopis" />
                                            <label for="bopis" class="on-off-toggle__slider"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <label class="">Motor State<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <div class="check-box-wrapper">
                                        <label class="">Other Accident</label>
                                        <div class="on-off-toggle">
                                            <input class="on-off-toggle__input" type="checkbox" id="bopis1" />
                                            <label for="bopis1" class="on-off-toggle__slider"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper">
                                    <div class="check-box-wrapper">
                                        <label class="">Workers Compensation</label>
                                        <div class="on-off-toggle">
                                            <input class="on-off-toggle__input" type="checkbox" id="bopis2" />
                                            <label for="bopis2" class="on-off-toggle__slider"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">Referral Source<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">Referral Date <span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <label class="">Admission Source</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                                    </div>
                                </div>
                                <div class="m-0 input-container-wrapper ">
                                    <div class="check-box-wrapper">
                                        <label class="">Prior Hospitalization</label>
                                        <div class="on-off-toggle">
                                            <input class="on-off-toggle__input" type="checkbox" id="bopis4" />
                                            <label for="bopis4" class="on-off-toggle__slider"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-50">
                                <div class="">
                                    <div class="form-group">
                                        <label class="mb-0 color-black"> Comments</label>
                                        <div class="input-group form-group">
                                            <textarea rows="5" class="form-control bg-light-grey"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group mb-0">
                                        <label class="mb-0 color-black">Description</label>
                                        <div class="input-group form-group">
                                            <textarea rows="5" class="form-control bg-light-grey"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <!-- <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="previous">
                                <button type="button" class="btn-common btn-green w-auto px-3 bg-dark">
                                    <i class="fas fa-times mr-2"></i>Close
                                </button>
                            </div>
                            <div class="reset">
                                <button type="button" class="btn-common btn-green w-auto px-3 bg-blue-light">
                                    <i class="fas fa-sync mr-2"></i>Reset
                                </button>
                            </div>
                            <div class="next">
                                <button type="button" class="btn-common btn-green w-auto px-3">
                                    <i class="fas fa-save mr-2"></i>Save
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="visit-information position-relative border-2 rounded my-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                Payor/Plan
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white middle-item text-blue-link" (click)="guarantorlogdata(guarantorlog)">
                <span class="material-icons">
                    list
                    </span>
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white right-item text-blue-link">
                <span class="material-icons">
                    history
                    </span>
            </p>
          <div class="table-responsive mt-2 px-md-5">
              <table class="table box-shadow">
                  <thead class="thead-dark">
                      <tr>
                          <th class="f-14">Rank</th>
                          <th class="f-14">Payor/Plan</th>
                          <th class="f-14">Subscriber</th>
                          <th class="f-14">Policy #</th>
                          <th class="f-14">Effective From</th>
                          <th class="f-14">Effective To</th>
                          <th class="f-14">Private Duty</th>
                          <th class="f-14">Private Duty</th>
                          <th class="f-14">Exported Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>sasa</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let movie of movies" cdkDrag>
                <div class="example-handle" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                  </div>
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{movie}}
            </div>
          </div>
        </div>
        <div class="visit-information position-relative border-2 rounded my-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                Contacts 
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white contact-item">
                <span class="material-icons">
                    contacts
                    </span>
            </p>
          <div class=" box-shadow mt-2 mx-md-5">
         aaaaa
          </div>
        </div>
        <div class="visit-information position-relative border-2 rounded my-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                Physician 
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white middle-item">
            <span class="material-icons">
                list
                </span></p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white right-item">
                <span class="material-icons">
                    history
                    </span>
            </p>
            <div class="table-responsive  mt-2 px-md-5">
                <table class="table box-shadow">
                    <thead class="thead-dark">
                        <tr>
                            <th class="f-14">Physician</th>
                            <th class="f-14">Effective From</th>
                            <th class="f-14">Effective To</th>
                            <th class="f-14">Staff Type</th>
                            <th class="f-14">Exported Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sasa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="visit-information position-relative border-2 rounded mt-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                ICD-09 Diagnosis Codes (*)
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white right-item">
                <span class="material-icons">
                    history
                    </span>
            </p>
          <div class="table-responsive mt-2 px-md-5">
              <table class="table  box-shadow">
                  <thead class="thead-dark">
                      <tr>
                          <th class="f-14"></th>
                          <th class="f-14"></th>
                          <th class="f-14">Effective Date</th>
                          <th class="f-14">Type</th>
                          <th class="f-14">Diagnosis Codes Sorted By Rank</th>
                          <th class="f-14">Exported Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>sasa</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
        <div class="visit-information position-relative border-2 rounded mt-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                ICD-10 Diagnosis Codes (*)
            </p>
            <p class="visit-info-text AvenirLTStd-Heavy bg-white right-item">
                <span class="material-icons">
                    history
                    </span>
            </p>
          <div class="table-responsive  mt-2 px-md-5">
              <table class="table box-shadow">
                  <thead class="thead-dark">
                      <tr>
                          <th class="f-14"></th>
                          <th class="f-14">Effective Date</th>
                          <th class="f-14">Type</th>
                          <th class="f-14">Diagnosis Codes Sorted By Rank</th>
                          <th class="f-14">Exported Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>sasa</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>


<ng-template #guarantorlog>
    <div class="modal-header">
      <h4 class="modal-title pull-left AvenirLTStd-Heavy">Payor/Plan List</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-responsive bg-white height-67 box-shadow">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="text-center border-right align-middle"></th>
              <th class="text-center border-right align-middle">Payor/Plan</th>
              <th class="text-center border-right align-middle">Subscriber</th>
              <th class="text-center border-right align-middle">Policy #</th>
              <th class="text-center border-right align-middle">Effective From</th>
              <th class="text-center border-right align-middle">Effective To</th>
              <th class="text-center align-middle">Private Duty</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-right border-bottom">aa</td>
              <td class="border-right border-bottom">aaa</td>
              <td class="border-right border-bottom">aaa</td>
              <td class="border-right border-bottom">aaa</td>
              <td class="border-right border-bottom">aa</td>
              <td class="border-bottom">aaa</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="">
        <button class="btn-common btn-green bg-dark">
            <i class="fas fa-times mr-1"></i> Close </button>
             <button class="">Add</button> <button class="">Save</button>
    </div>
  </ng-template>

