<div class="bg-white mh-90 py-3">

    <div class="px-3">
        <div class="visit-information position-relative border-2 rounded my-3 mr-4">
            <p class="visit-info-text AvenirLTStd-Heavy bg-white">
                Admission Info ( To be Exported )
            </p>
            <div class="container-wrapper">
              <div class="ps-registration-tabs-container">
                <div class="">
                  <!-- <div class="d-flex">
                    <div class="d-flex align-items-center pl-2 my-2">
                      <label class="customcheck m-0">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                      </label>
                      <label for="checkbox" class="checkbox m-0">
                        <span class="color-black">Self</span>
                      </label>
                    </div>
                  </div> -->
                  <form class="d-flex align-items-center nav justify-content-between border-2" >
                    <div class="input-container-wrapper">
                      <label class="">
                        PS Name<span class="text-danger">*</span>
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Auth"  />
                      </div>
                    </div>
                    <div class="input-container-wrapper">
                      <label class="">
                        MRN
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" />
                      </div>
                    </div>
                    <div class="input-container-wrapper">
                      <label class="text-capital">
                        Account #
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Auth"  />
                      </div>
                    </div>
                    <div class="input-container-wrapper">
                      <label class="text-capital">
                        Admission Date<span class="text-danger">*</span>
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Auth"  />
                      </div>
                    </div>
                    <div class="input-container-wrapper">
                      <label class="text-capital">
                        Guarantor<span class="text-danger">*</span>
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Last Name" />
                      </div>
                    </div>
                    <div class="input-container-wrapper pb-sm-0">
                      <label class="text-capital">
                        Initial Onset Date
                      </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Last Name" />
                      </div>
                    </div>
                    <div class="m-0 input-container-wrapper pb-sm-0">
                      <label class=""> Case Manager </label>
          
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="Case Manager" />
                      </div>
                    </div>
                    <div class="m-0 input-container-wrapper pb-sm-0">
                      <label class="">First Visit Date<span class="text-danger">*</span></label>
                      <div class="input-group">
                        <input type="text" class="form-control text-capital" aria-label="Auth" />
                      </div>
                    </div>
                    <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Client Type<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Coordinator <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Client Class<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Comments<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Care Level<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Motor Vehicle Accident<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Motor State<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Other Accident<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Workers Compensation<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Referral Source<span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Referral Date <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Description <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Admission Source  <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                      <div class="m-0 input-container-wrapper pb-sm-0">
                        <label class="">Prior Hospitalization <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control text-capital" aria-label="Auth" />
                        </div>
                      </div>
                  </form>
          
             
                  <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="previous">
                      <button type="button" class="btn-common btn-green w-auto px-3 bg-dark">
                        <i class="fas fa-times mr-2"></i>Close
                      </button>
                    </div>
                    <div class="reset">
                      <button type="button" class="btn-common btn-green w-auto px-3 bg-blue-light">
                        <i class="fas fa-sync mr-2"></i>Reset
                      </button>
                    </div>
                    <div class="next">
                      <button type="button" class="btn-common btn-green w-auto px-3">
                        <i class="fas fa-save mr-2"></i>Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
    </div>
</div>