<!-- <p>evv-stats-branch works!</p> -->
<div class="downloads d-flex justify-content-end mr-4 mt-2 ml-4">
    <div>
        <i class="fas fa-file-download mx-3 f-18"></i>
        <i class="fas fa-filter mx-2 f-18"></i>
    </div>
</div>
<!-- <div class=" px-4 pt-2 pb-3 evv-stats">
    <div class="table-responsive box-shadow">
        <table class="table " id='excel-table'>
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"></th>
                    <th scope="col" class="sticky-top py-1">PERIOD - May</th>
                    <th scope="col" class="sticky-top py-1" colspan="3">Values</th>
                </tr>
                <tr>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Branch
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">DCS Coordinator
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Manual %
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Landline %
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Mobile App %
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Sum of Total EVV
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-light-grey">
                    <td colspan="2" class="py-1">BR: RCHC LA ALEXANDRIA
                    </td>

                    <td class="py-1">11.0%
                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1"> 89.0%
                    </td>
                    <td class="py-1">89.0%
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    </td>

                    <td class="py-1">Stanley, Kayla

                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1"> 89.0%
                    </td>
                    <td class="py-1">89.0%
                    </td>
                </tr>
                <tr>
                    <td class="py-1">
                    </td>

                    <td class="py-1">Stanley, Kayla

                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1"> 89.0%
                    </td>
                    <td class="py-1">89.0%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<div class=" px-4 pt-2 pb-3 evv-stats">
    <div class="table-responsive box-shadow">
        <table class="table " id='excel-table'>
            <thead class="thead-dark">
                <tr>
                 
                    <th scope="col" class="sticky-top py-1">Count of Employees</th>
                    <th scope="col" class="sticky-top py-1" colspan="3">Column Labels</th>
                </tr>
                <tr>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Row Labels
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Compliant
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Partial Compliance,<br> but below threshold
                    </th>
                    <th scope="col" class="sticky-top py-1 bg-yellow border-0">Non Compliant
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-1">Stanley, Kayla
                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1">0.0%
                    </td>
                    <td class="py-1"> 89.0%
                    </td>
               
                </tr>
            
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="false"
    class="  pagination-wrapper table-responsive justify-content-lg-end d-flex mt-2 align-items-center mb-2">
    <div class="pagination  justify-content-end pagination-button align-items-center">
        <div class="d-flex align-items-center">
            <h6 class="mx-3 my-0">Per page</h6>
            <select class="border-0 box-shadow mr-3">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select>
        </div>
        <div>
            <p class="m-0">Showing 4 to
                10 of 100</p>
        </div>
        <div class="page-item "><button type="button"
                class="btn-green btn-border text-white mx-2 px-3 py-1">Prev</button>
        </div>
        <div class="page-item "><button type="button"
                class="btn-green btn-border text-white mx-2 px-3 py-1">Next</button>
        </div>
    </div>
</div>