<div class="title bg-dark color-white">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="logo">
            <img src="assets/images/all-ways-caring-logo.png" alt="logo" class="img-fluid">
        </div>
        <h3 class=" m-0 text-center">{{headerName}}</h3>
        <div class="dropdown show">
            <button type="button" class="title-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">administrator, administrator
                    </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/login']" >Logout</a>
            </div>
        </div>
    </div>
</div>
