<!-- <p>daily-schedule works!</p> -->
<div class="daily-stats-wrapper p-4 ">
    <div class="table-responsive box-shadow">
      <table class="table mb-0" id='excel-table' >
        <thead class="thead-dark">
          <tr>										
            <th scope="col" class="sticky-top ">RVP</th>
            <th scope="col" class="sticky-top">ED</th>
            <th scope="col" class="sticky-top ">Branch</th>
            <th scope="col" class="sticky-top">DCS Home<br> Site#</th>
            <th scope="col" class="sticky-top">Site Name</th>
            <th scope="col" class="sticky-top"> DCS Name</th>
            <th scope="col" class="sticky-top"> Dcs<br> Coordinator </th>
            <th scope="col" class="sticky-top"> Enterprise Id</th>
            <th scope="col" class="sticky-top"> Job Title</th>
            <th scope="col" class="sticky-top"> Period</th>
            <th scope="col" class="sticky-top"> Total Expected <br>Punches</th>
            <th scope="col" class="sticky-top"> Total<br> Punches#</th>
            <th scope="col" class="sticky-top"> Missing<br> Punches</th>
            <th scope="col" class="sticky-top"> Missing Punches <br>Percent </th>
            <th scope="col" class="sticky-top"> Telephony Landline<br> Punches#</th>
            <th scope="col" class="sticky-top"> Tel Landline<br> Percent</th>
            <th scope="col" class="sticky-top"> Telephony App <br>Punches#</th>
            <th scope="col" class="sticky-top"> Total Expected<br> Punches</th>
            <th scope="col" class="sticky-top"> Tel App <br>Percent</th>
            <th scope="col" class="sticky-top">Manual<br> Punches#</th>
            <th scope="col" class="sticky-top"> Tel Manual <br>Percent </th>
            <th scope="col" class="sticky-top"> Manual + <br>missing</th>
            <th scope="col" class="sticky-top"> EVV <br>compliant</th>
            <th scope="col" class="sticky-top"> Compliance<br> Status </th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let item of  dailyStatsList">
            <td scope="row" class="sticky-left left-0">{{item.rvp}}</td>
            <td class="sticky-left left-97 td">{{item.ed}}</td>
            <td class="sticky-left left-277 td">{{item.branch}}</td>
            <td>{{item.authorizedHrs}}</td>
            <td>{{item.scheduledHrs}} </td>
            <td>{{item.percentOfAuthSchHrs}}</td>
            <td>{{item.cancelledHrs}}</td>
            <td>{{item.percentOfCancelHrs}}</td>
            <td>{{item.noNeedHrs}}</td>
            <td>{{item.percentOfNoNeedHrs}}</td>
            <td>{{item.scheduledHrsWithoutCancel}}</td>
            <td>{{item.perOfSchLessCancelHrs}}</td>
            <td>{{item.sumScheduledHrsWithDcs}}</td>
            <td>{{item.sumScheduledHrsWithNoDcs}}</td>
            <td>{{item.scheduledWithNoDcsPercent}}</td>
            <td>{{item.servicedHrs}}</td>
            <td>{{item.servicedHrsPercent}}</td>
          </tr> -->
        </tbody>

      </table>
      <!-- <p *ngIf="dailyStatsList.length==0" class="no-records text-center">No Records Found</p> -->
    </div>
    <div class="pager d-flex justify-content-end mt-2">
     
    
        <div class="c">
          <span class="mr-2">Per page</span>
          <select class="border-0 mr-2">
            <option >5</option>
            <option >10</option>
            <option>15</option>
            <option>20</option>
    
          </select>
          <span class="mr-2">Showing 10 to
          100 of
            200
          </span>
    
          <button type="button" class="btn-common-small mx-2"  >Prev</button>
          <button type="button" class="btn-common-small mx-2"
           >Next</button>
        </div>
      </div>
  </div>