<!-- <p>chart-layout works!</p> -->

<div class="charts-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0 side-bar">
                <ul>
                    <li class="">
                        <a (click)="visits()">Visits</a>
                        <div class="divA ">
                            <ul>
                                <li class="drop-item mx-3" (click)="getDashBoardVisitsDetails('Missed Visits',missedVisitsCount)">Missed Visits</li>
                                <li class="drop-item mx-3" (click)="getDashBoardVisitsDetails('Open Visits',openVisitsCount)">Open Visits</li>
                                <li class="drop-item " (click)="getDashBoardVisitsDetails('Cancelled Visits',cancelledVisitsCount)"><span class="px-3">Cancelled Visits</span> </li>

                            </ul>
                        </div>
                    </li>
                    <li><a>Clients</a></li>
                </ul>

            </div>
            <div class="col-md-10 chart-content p-0 col-xs-12">

                <div class="chart-content-header d-flex py-2  mb-2 justify-content-center">
                    <div class="site-dropdown text-center px-2">
                        <p class="m-0">CSS </p>
                        <angular2-multiselect [data]="cssList" #ddd [(ngModel)]="officeIds" [settings]="cssdropdownSettings">
                        </angular2-multiselect>
                    </div>
                    <div class="site-dropdown text-center px-2">
                        <p class="m-0">Site </p>
                        <angular2-multiselect [data]="siteList" #ddd [(ngModel)]="cssIds" [settings]="sitedropdownSettings">
                        </angular2-multiselect>
                    </div>
                    <div class="start-date text-center px-2">
                        <p class="m-0">Scheduled Start </p>
                        <input type="text" maxlength=10 [(ngModel)]="scheduleStart" [minDate]="archiveDate" [maxDate]="archiveDate" bsDatepicker placeholder="MM/DD/YYYY">
                    </div>
                    <div class="end-date text-center px-2">
                        <p class="m-0">Scheduled End </p>
                        <input type="text" maxlength=10 [(ngModel)]="scheduleEnd" [minDate]="scheduleStart" bsDatepicker placeholder="MM/DD/YYYY">
                    </div>
                    <!-- <div class="category-dropdown text-center px-2">
                        <p class="m-0">Category</p>
                        <angular2-multiselect [data]="categorylist" [(ngModel)]="selectecatogery" [settings]="dropdownSettings2">

                        </angular2-multiselect>
                    </div> -->
                    <div class="category-dropdown text-center px-2">
                        <div class="page-item "><button type="button" class="btn common-table-btn chart-topbar-button mt-4" (click)="getDashBoardVisitsCount()">Go</button>
                        </div>

                    </div>
                    <div class="category-dropdown text-center px-2">
                        <div class="page-item "><button type="button" class="btn common-table-btn chart-topbar-button mt-4">Reset</button>
                        </div>

                    </div>
                    <div class="category-dropdown text-center px-2">
                        <div class="page-item "><button type="button" class="btn common-table-btn chart-topbar-button mt-4">Refresh</button></div>

                    </div>
                </div>

                <div class="chart-container col-md-12 " *ngIf="displayVisitCards">
                    <div class="card-container mr-5 my-4">
                        <h5 class="AvenirLTStd-Black AvenirLTStd-Medium">Cancelled Visits</h5>
                        <h1 class="AvenirLTStd-Heavy" class="count">{{cancelledVisitsCount}}</h1>
                        <span class="info" (click)="getDashBoardVisitsDetails('Cancelled Visits',cancelledVisitsCount)"><i class="fas fa-info-circle"></i></span>
                    </div>
                    <div class="card-container mr-5 my-4">
                        <h5 class="AvenirLTStd-Black AvenirLTStd-Medium">Missed Visits</h5>
                        <h1 class="AvenirLTStd-Heavy" class="count">{{missedVisitsCount}}</h1>
                        <span class="info" (click)="getDashBoardVisitsDetails('Missed Visits',missedVisitsCount)"><i class="fas fa-info-circle"></i></span>
                    </div>
                    <div class="card-container mr-5 my-4">
                        <h5 class="AvenirLTStd-Black AvenirLTStd-Medium">Open Visits</h5>
                        <h1 class="AvenirLTStd-Heavy" class="count">{{openVisitsCount}}</h1>
                        <span class="info" (click)="getDashBoardVisitsDetails('Open Visits',openVisitsCount)"><i class="fas fa-info-circle"></i></span>
                    </div>
                </div>
                <div class="chart-container col-md-12 " *ngIf="displayCancelVisits">
                  <div class="card-container mr-5 my-4">
                    <h5 class="AvenirLTStd-Black AvenirLTStd-Medium">Client</h5>
                    <h1 class="AvenirLTStd-Heavy" class="count">{{clientVisitCount}}</h1>
                    <span class="info" (click)="getDashBoardClientsCount()"><i class="fas fa-info-circle"></i></span>
                </div>
                </div>
                <div class="bar-graph-container col-md-12" *ngIf="!displayVisitCards&&!displayCancelVisits">
                    <div class="row m-0">
                        <div class="col-md-3 pl-0">
                            <!-- cards/ -->
                            <div class="d-flex">
                                <div class="card-container mr-2" *ngIf="displyHighlightCard!='Open Visits'">
                                    <h5 class="AvenirLTStd-Black AvenirLTStd-Medium header-text">Open Visits</h5>
                                    <h1 class="count mb-0">{{openVisitsCount}}</h1>
                                    <span class="info" (click)="getDashBoardVisitsDetails('Open Visits',openVisitsCount)"><i class="fas fa-info-circle"></i></span>
                                </div>
                                <div class="card-container mr-2" *ngIf="displyHighlightCard!='Missed Visits'">
                                    <h5 class="AvenirLTStd-Black AvenirLTStd-Medium header-text">Missed Visits</h5>
                                    <h1 class="count mb-0">{{missedVisitsCount}}</h1>
                                    <span class="info" (click)="getDashBoardVisitsDetails('Missed Visits',missedVisitsCount)"><i class="fas fa-info-circle"></i></span>
                                </div>
                                <div class="card-container mr-2" *ngIf="displyHighlightCard!='Cancelled Visits'">
                                    <h5 class="AvenirLTStd-Black AvenirLTStd-Medium header-text">Cancelled Visits</h5>
                                    <h1 class="count mb-0">{{cancelledVisitsCount}}</h1>
                                    <span class="info" (click)="getDashBoardVisitsDetails('Cancelled Visits',cancelledVisitsCount)"><i class="fas fa-info-circle"></i></span>
                                </div>
                            </div>
                            <div class="card-selected-container mr-3 ml-auto mt-5">
                                <h5 class="AvenirLTStd-Black AvenirLTStd-Medium header-text">{{displyHighlightCard}}</h5>
                                <h1 class="count mb-0">{{highlightcardcount}}</h1>
                                <span class="info"><i class="fas fa-info-circle"></i></span>
                            </div>
                        </div>
                        <!-- bargraph -->
                        <div class="col-md-8 p-0 bg-white">
                            <div class="mt-3 bar-graph">
                                <!-- <img src="assets/images/map@2x.png" class="img-fluid"> -->
                                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Date'" [showDataLabel]="true" [yAxisLabel]="'Count'"
                                    [rotateXAxisTicks]="true" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>
                        </div>
                    </div>

                    <!-- <table></table> -->



                    <div class="summary-wrapper">
                        <div class="outer-wrapper">
                            <div id="table-scroll" class="table-scroll">
                                <div class="table-width-scroll">
                                    <table id="main-table" class="main-table" cellpadding="0">
                                        <thead class="thead-row">
                                            <tr class="pb-0">
                                                <th scope="col" class="sticky-top table-header-inner">
                                                    <h5 class="mainheading-wrapper">Site</h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <div class="ng-autocomplete code-dropdown" style="width: 100%;">
                                                            <angular2-multiselect [data]="siteFilter" [settings]="dropdownSettingsFilter">
                                                            </angular2-multiselect>

                                                        </div>

                                                    </div>
                                                </th>
                                                <th scope="col" class="sticky-top table-header-wrapper">
                                                    <h5 class="mainheading-wrapper">PS</h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <div class="ng-autocomplete" style="width: 100%;">
                                                            <ng-autocomplete placeHolder="PS" [itemTemplate]="itemTemplateps" [notFoundTemplate]="notFoundTemplate">
                                                            </ng-autocomplete>
                                                            <ng-template style="width: 100%;" #itemTemplateps let-item>
                                                                <a [innerHTML]="item.psName"></a>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th scope="col" class="sticky-top table-header-wrapper">
                                                    <h5 class="mainheading-wrapper">DCS</h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <div class="ng-autocomplete" style="width: 100%;">
                                                            <ng-autocomplete [data]="dcsFilter" [itemTemplate]="itemTemplatedcs" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="'dcsName'" placHolder="DCS">
                                                            </ng-autocomplete>
                                                            <ng-template style="width: 100%;" #itemTemplatedcs let-item>
                                                                <a [innerHTML]="item.dcsName"></a>
                                                            </ng-template>
                                                            <ng-template #notFoundTemplate let-notFound>
                                                                <div [innerHTML]="notFound" class="text-dark"></div>
                                                            </ng-template>
                                                        </div>


                                                    </div>
                                                </th>
                                                <th scope="col" class="sticky-top table-header-wrapper">
                                                    <h5 class="mainheading-wrapper">CSS</h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <ng-autocomplete [data]="cssFilter" [itemTemplate]="itemTemplatecss" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="'cssName'" placeHolder="CSS">
                                                        </ng-autocomplete>
                                                        <ng-template style="width: 100%;" #itemTemplatecss let-item>
                                                            <a [innerHTML]="item.cssName"></a>
                                                        </ng-template>
                                                    </div>
                                                </th>
                                                <th scope="col" class="sticky-top table-header-inner">
                                                    <h5 class="mainheading-wrapper">Service </h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <ng-autocomplete [data]="serviceFilter"  [searchKeyword]="'serviceCode'" [notFoundTemplate]="notFoundTemplate" placeHolder="Service" [itemTemplate]="itemTemplateservice" [notFoundTemplate]="notFoundTemplate">
                                                        </ng-autocomplete>
                                                        <ng-template style="width: 100%;" #itemTemplateservice let-item>
                                                            <a [innerHTML]="item.serviceCode"></a>
                                                        </ng-template>
                                                    </div>
                                                </th>
                                                <th scope="col" class="sticky-top table-header-inner-wrapper">
                                                    <h5 class="mainheading-wrapper">Scheduled Start </h5>
                                                    <div class="input-outter-wrapper dropdown">

                                                        <input type="text" placeholder="Start Time" maxlength=10 class="date-input">
                                                    </div>
                                                </th>
                                                <th scope="col " class="sticky-top table-header-inner-wrapper">
                                                    <h5 class="mainheading-wrapper ">Scheduled End </h5>
                                                    <div class="input-outter-wrapper dropdown ">

                                                        <input type="text" placeholder="Start Time" maxlength=10 bsDatepicker class="date-input">

                                                    </div>
                                                </th>
                                                <!-- <th scope="col " class="sticky-top table-header-inner-wrapper">
                                                    <h5 class="mainheading-wrapper ">Clock In</h5>
                                                    <div class="input-outter-wrapper dropdown ">

                                                        <input type="text" maxlength="0" placeholder=""
                                                            class="date-input">

                                                    </div>
                                                </th> -->
                                                <!-- <th scope="col " class="mr-4 sticky-top table-header-inner-wrapper">
                                                    <h5 class="mainheading-wrapper ">Clock Out </h5>
                                                    <div class="input-outter-wrapper dropdown ">

                                                        <input type="text" maxlength=0 placeholder=""
                                                            class="date-input">

                                                    </div>
                                                </th>
                                                <th scope="col " class="sticky-top  table-header-inner-wrapper ">
                                                    <h5 class="mainheading-wrapper ">Exception</h5>
                                                    <div class="input-outter-wrapper dropdown">
                                                        <angular2-multiselect #ffff [data]="exception"
                                                            [(ngModel)]="exceptionSelected"
                                                            (onDeSelect)="exceptionDeselect()"
                                                            (onClose)="exceptionselect()"
                                                            (onSelectAll)="ffff.closeDropdown()"
                                                            (onDeSelectAll)="this.exceptionDeselectALL()"
                                                            [settings]="exceptiondropdownSettings">

                                                        </angular2-multiselect>

                                                    </div>
                                                </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let data of visitData let i=index " class="table-border ">
                                                <td class="body-cell col2 text-color sitecodeinner">
                                                    <div>
                                                        {{data.site}}

                                                    </div>
                                                </td>
                                                <td class="body-cell col2 ">{{data.psName}}</td>
                                                <td class="body-cell col3 ">{{data.dcsName}}</td>
                                                <td class="body-cell col4 ">{{data.cssName}}</td>
                                                <td class="body-cell text-color col4 Serviceprocedurecode">
                                                    <div>
                                                        {{data.serviceCode}}

                                                    </div>

                                                </td>
                                                <td class="body-cell col4 ">{{data.scheduledBeginDateTime}}</td>
                                                <td class="body-cell col4 ">{{data.scheduledEndDateTime}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <p class="text-center no-data-text" *ngIf="visitData.length==0"> No Data To display</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div>

</div>
