<!-- <p>chart-layout works!</p> -->
<app-header></app-header>
<div class="charts-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0 side-bar">

                <ul>
                    <li><a>Visits</a></li>
                  
                </ul>

            </div>
            <div class="col-md-10 chart-content p-0 col-xs-12">

                <div class="chart-content-header d-flex py-2  mb-5 justify-content-center">
                    <div class="site-dropdown text-center px-2">
                        <p class="m-0">Site </p>
                        <angular2-multiselect >

                        </angular2-multiselect>
                    </div>
                    <div class="start-date text-center px-2">
                        <p class="m-0">Scheduled Start </p>
                        <input type="text" maxlength=10 bsDatepicker  placeholder="MM/DD/YYYY">
                    </div>
                    <div class="end-date text-center px-2">
                        <p class="m-0">Scheduled End </p>
                        <input type="text" maxlength=10 bsDatepicker placeholder="MM/DD/YYYY">
                    </div>
                    <!-- <div class="category-dropdown text-center px-2">
                        <p class="m-0">Category</p>
                        <angular2-multiselect [data]="categorylist" [(ngModel)]="selectecatogery" [settings]="dropdownSettings2">

                        </angular2-multiselect>
                    </div> -->
                    <div class="category-dropdown text-center px-2">
                        <div class="page-item "><button type="button" class="btn common-table-btn chart-topbar-button mt-4" >Reset</button>
                        </div>

                    </div>
                    <div class="category-dropdown text-center px-2">
                        <div class="page-item "><button type="button" class="btn common-table-btn chart-topbar-button mt-4">Refresh</button></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>