<!-- <app-header></app-header> -->
<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <div class="bg-grey-l p-3">
            <div class="d-flex">
                <h4 class="pb-2 AvenirLTStd-Heavy m-0 f-size-16">Guarantor Details</h4>
                <div class="d-flex align-items-center pl-2">
                    <label class="customcheck m-0">
                        <input type="checkbox" (change)="SelfCheck($event)" [checked]="selfChecBox">
                        <span class="checkmark"></span>
                    </label>
                    <label for='checkbox' class="checkbox m-0">
                        <span class="color-black">Self</span>
                    </label>
                </div>
            </div>
            <form class="d-flex align-items-center nav  border-2" [formGroup]="guarantorForm">
                <div class="input-container-wrapper ">
                    <label class="">
                        Code
                    </label>

                    <div class="input-group ">
                        <input type="text" class="form-control" formControlName="code">
                    </div>

                </div>

                <div class="input-container-wrapper ">
                    <label class="">
                        Relationship<span class="text-danger">*</span>
                    </label>

                    <div class="input-group ">

                        <div class="ng-autocomplete" style="width: 100%;"
                            [class.invalid-input]="(f.relationId.invalid && formError)||(f.relationshipList.invalid && formError)">
                            <ng-autocomplete #relationName [data]="relationshipList" formControlName="relationId"
                                (inputCleared)="setAutocompleteValue($event,'relationshipList',false)"
                                (selected)="setAutocompleteValue($event,'relationshipList',true)" [searchKeyword]="Keyword"
                                [itemTemplate]="itemTemplate1">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                        </div>
                    </div>

                </div>




                <!-- <div class="input-container-wrapper  nav d-flex align-items-center justify-content-between ">
                    <div class=" w-25 pb-sm-0">
                        <label class="">
                            Code
                        </label>
                        <div class="input-group ">
                            <input type="text" class="form-control " formControlName="code">
                        </div>
                    </div>
                    <div class="w-70">
                        <label class="">
                            Relationship<span class="text-danger">*</span>
                        </label>

                        <div class="input-group  ">
                            <div class="ng-autocomplete" style="width: 100%;"
                                [class.invalid-input]="(f.relationId.invalid && formError)||(f.relationshipList.invalid && formError)">
                                <ng-autocomplete #relationName [data]="relationshipList" formControlName="relationId"
                                    (inputCleared)="selectChange($event,'relationshipList',false)"
                                    (selected)="selectChange($event,'relationshipList',true)" [searchKeyword]="Keyword"
                                    [itemTemplate]="itemTemplate1">
                                </ng-autocomplete>
                                <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div> -->












                <div class=" input-container-wrapper ">
                    <label class="text-capital">
                        Last Name<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" [class.is-invalid]="f.lastName.invalid && formError"
                            formControlName="lastName" class="form-control text-capital" aria-label="Auth">
                    </div>

                </div>
                <div class=" input-container-wrapper ">
                    <label class="text-capital">
                        First Name<span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <input type="text" [class.is-invalid]="f.firstName.invalid && formError"
                            class="form-control text-capital" aria-label="Last Name" formControlName="firstName">

                    </div>
                </div>
                <div class=" m-0  input-container-wrapper ">
                    <label class="">
                        Middle Name
                    </label>

                    <div class="input-group  ">
                        <input type="text" class="form-control" maxlength='9' (keyup)="PhoneNumFormat($event,'ssn')"
                            aria-label="Case Manager" formControlName="ssn">
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        Salutation
                    </label>

                    <div class="input-group  ">
                        <div class="ng-autocomplete" style="width: 100%;"
                                            [class.invalid-input]="(f.salutation.invalid && formError)||(f.salutation.invalid&&formError)">
                                            <ng-autocomplete #auto [data]="salutationList"
                                                (inputCleared)="setAutocompleteValue('','saluationId',false)"
                                                (selected)="setAutocompleteValue($event,'saluationId',true)"
                                                formControlName="salutation" [searchKeyword]="Keyword"
                                                [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                            </ng-autocomplete>
                                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                                <a [innerHTML]="item.name"></a>
                                            </ng-template>
                                        </div>
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        SSN
                    </label>

                    <div class="input-group  ">
                        <input type="text" class="form-control" maxlength='9' (keyup)="PhoneNumFormat($event,'ssn')"
                            aria-label="Case Manager" formControlName="ssn">
                    </div>

                </div>

                <!-- <div class="input-container-wrapper  nav d-flex align-items-center justify-content-between">
                    <div class=" w-48 pb-sm-0">
                        <label class="">
                            Middle Name
                        </label>
                        <div class="input-group ">
                            <input type="text" class="form-control" formControlName="middleName">
                        </div>
                    </div>
                    <div class="w-48">
                        <label class="">
                            SSN<span class="text-danger">*</span>
                        </label>

                        <div class="input-group  ">
                            <input type="text" class="form-control" maxlength='9' (keyup)="PhoneNumFormat($event,'ssn')"
                                aria-label="Case Manager" formControlName="ssn">
                        </div>
                    </div>
                </div> -->

                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">Occupation<span class="text-danger">*</span></label>
                    <div class="input-group ">
                        <div class="ng-autocomplete" style="width: 100%;"
                            [class.invalid-input]="(f.occupationName.invalid && formError)||(f.occupationList.invalid && formError)">

                            <ng-autocomplete #ocuupationName [data]="occupationList" formControlName="occupationName"
                                (inputCleared)="setAutocompleteValue($event,'occupationList',false)"
                                (selected)="setAutocompleteValue($event,'occupationList',true)" [searchKeyword]="Keyword"
                                [itemTemplate]="itemTemplate1">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate1 let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                        </div>
                    </div>
                </div>

                <div class="input-container-wrapper  nav d-flex align-items-center justify-content-between pb-sm-0">
                    <div class=" w-25 pb-sm-0">
                        <label class="">
                            Active
                        </label>

                        <div class="check-box-wrapper">
                            <div class="on-off-toggle">
                                <input class="on-off-toggle__input" type="checkbox" id="bopis" />
                                <label for="bopis" class="on-off-toggle__slider"></label>
                            </div>
                        </div>

                    </div>
                    <div class="w-70">
                        <label class="">
                            Sort Order
                        </label>

                        <div class="input-group  ">
                            <input type="text" class="form-control" aria-label="Case Manager"
                                formControlName="sortOrder">
                        </div>
                    </div>
                </div>

            </form>

            <div class="d-flex align-items-center">
                <h4 class="py-2 AvenirLTStd-Heavy m-0 address-title p-0 f-size-16 pr-3">Address</h4>
                <div class="d-flex align-items-center">
                    <label class="customcheck margin-left-15 m-0">
                        <input type="checkbox" (change)="addressCheck($event)" [checked]="checkBoxAddress">
                        <span class="checkmark"></span>
                    </label>
                    <label for='checkbox' class="m-0">
                        <span class="color-black">Same as PS Address</span>
                    </label>
                </div>
            </div>
            <!-- <form class="d-flex align-items-center nav justify-content-between border-2" [formGroup]="guarantorForm">
                <div class="input-container-wrapper">
                    <label class="">
                        Location<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  ">
                        <div class="ng-autocomplete" style="width: 100%;"
                            [class.invalid-input]="(f.location.invalid && formError)||(f.addressTypeList.invalid && formError)">
                            <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword"
                                (inputCleared)="selectChange('','addressTypeList',false)"
                                (selected)="selectChange($event,'addressTypeList',true)" formControlName="location"
                                [itemTemplate]="itemTemplate">
                            </ng-autocomplete>
                            <ng-template style="width: 100%;" #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Address Line #1<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  " [class.invalid-input]="(f.lane.invalid && formError)">
                        <input type="text" class="form-control" aria-label="Auth" formControlName="lane">
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Address Line #2
                    </label>
                    <div class="input-group  ">
                        <input type="text" class="form-control" aria-label="Auth" formControlName="lane2">
                    </div>
                </div>
                <div class=" input-container-wrapper">
                    <label class="">
                        Zip Code<span class="text-danger">*</span>
                    </label>
                    <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                        <input type="text" class="form-control " aria-label="date" formControlName="zipcode"
                            (keyup)="getzip()" id="autocomplete" type="text" class="form-control">

                    </div>
                </div>
                <div class=" m-0  input-container-wrapper phone-container">
                    <label class="">
                        Phone<span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                        <div class="  date-input  d-flex align-items-center w-100">
                            <div class="ng-autocomplete phone-select"
                                [class.invalid-input]="(f.phoneTypeName.invalid && formError)||(f.phoneTypeList.invalid && formError)">
                                <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                    (inputCleared)="selectChange('', 'phoneTypeList',false)"
                                    (selected)="selectChange($event, 'phoneTypeList',true)"
                                    formControlName="phoneTypeName" placeHolder="Type" [itemTemplate]="itemTemplate">
                                </ng-autocomplete>
                                <ng-template style="width: 100%;" #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
                            </div>
                            <div class="input-group ">
                                <input type="text" formControlName="number" (keyup)="PhoneNumFormat($event,'phone')"
                                    [class.is-invalid]="f.number.invalid && formError" maxlength='10'
                                    class="form-control" formControlName="number" aria-label="Auth">
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">City<span class="text-danger">*</span> </label>
                    <div class="input-group ">
                        <input type="text" class="form-control " aria-label="date"
                            [class.is-invalid]="f.city.invalid && formError" formControlName="city" disabled="true">
                    </div>
                </div>
                <div class=" input-container-wrapper pb-sm-0">
                    <label class="">
                        State <span class="text-danger">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text" class="form-control " [class.is-invalid]="f.state.invalid && formError"
                            formControlName="state" aria-label="date" formControlName="state" disabled="true">
                    </div>
                </div>
                <div class=" input-container-wrapper pb-sm-0">
                    <label class="">
                        County<span class="text-danger">*</span>
                    </label>
                    <div class="input-group ">
                        <input type="text" class="form-control" [class.is-invalid]="f.county.invalid && formError"
                            formControlName="county" aria-label="date" disabled>
                    </div>
                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        Time Zone<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" [class.is-invalid]="f.country.invalid && formError" class="form-control"
                            aria-label="Case Manager" formControlName="timeZone" disabled>
                    </div>

                </div>
                <div class=" m-0  input-container-wrapper pb-sm-0">
                    <label class="">
                        Country<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  ">
                        <input type="text" class="form-control" [class.is-invalid]="f.country.invalid && formError"
                            formControlName="country" aria-label="Case Manager" disabled>
                    </div>

                </div>
            </form> -->

            <section class="d-flex  justify-content-between  basic-container">
                <form class="d-flex  justify-content-between border-2" [formGroup]="guarantorForm">
                    <div class="d-flex align-items-center nav justify-content-between">
                        <div class="basic-input-container">
                            <label class="">
                                Location<span class="text-danger">*</span>
                            </label>

                            <div class="input-group ">
                                <div class="ng-autocomplete" style="width: 100%;"
                                    [class.invalid-input]="(f.location.invalid && formError)||(f.addressTypeList.invalid && formError)">
                                    <ng-autocomplete [data]="addressTypeList" [searchKeyword]="Keyword"
                                        formControlName="location"
                                        (inputCleared)="setAutocompleteValue('','addressTypeList',false)"
                                        (selected)="setAutocompleteValue($event,'addressTypeList',true)"
                                        [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                    </ng-autocomplete>
                                    <ng-template style="width: 100%;" #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>
                                </div>

                            </div>

                        </div>

                        <div class=" basic-input-container">
                            <label class="">
                                Address Line #1<span class="text-danger">*</span>
                            </label>

                            <div class="input-group  " [class.invalid-input]="(f.addressLine1.invalid && formError)">
                                <input type="text" formControlName="addressLine1" class="form-control">
                            </div>

                        </div>
                        <div class=" basic-input-container">
                            <label class="">
                                Address Line #2
                            </label>

                            <div class="input-group  ">
                                <input type="text" formControlName="addressLine2" class="form-control">
                            </div>

                        </div>
                        <!-- <div class=" basic-input-container">
                    <label class="">
                        Zip Code<span class="text-danger">*</span>
                    </label>

                    <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                        <input type="text" class="form-control " aria-label="date" formControlName='zipcode'
                            maxlength='5' (keyup)="getzip()" id="autocomplete" type="text" class="form-control">


                    </div>
                </div> -->

                        <div
                            class="basic-input-container nav d-flex align-items-center justify-content-between pr-sm-0">
                            <div class=" w-48 pb-sm-0">
                                <label class="">
                                    Zip Code<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  " [class.invalid-input]="(f.zipcode.invalid && formError)">
                                    <input type="text" class="form-control " aria-label="date" formControlName='zipcode'
                                        maxlength='5' (keyup)="getzip()" id="autocomplete" type="text"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="w-48">
                                <label class="">
                                    Zip+4 Code
                                </label>

                                <div class="input-group  " [class.invalid-input]="(f.zipFourCode.invalid && formError)">
                                    <input type="text" class="form-control " aria-label="date"
                                        formControlName='zipFourCode' maxlength='5' id="autocomplete" type="text"
                                        class="form-control">
                                </div>
                            </div>


                        </div>
                        <div class=" m-0  basic-input-container phone-container">
                            <label class="">
                                Phone<span class="text-danger">*</span>
                            </label>

                            <div class="input-group  ">
                                <div class="  date-input  d-flex align-items-center w-100">
                                    <div class="ng-autocomplete phone-select"
                                        [class.invalid-input]="(f.phoneTypeList.invalid && formError)">
                                        <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                            (inputcleared)="setAutocompleteValue('', 'phoneTypeName',false)"
                                            (selected)="setAutocompleteValue($event, 'phoneTypeName',true)"
                                            formControlName="phoneTypeList" placeHolder="Type"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>
                                    <div class="input-group ">
                                        <input type="text" [class.is-invalid]="f.number.invalid && formError"
                                            maxlength='10' (keyup)='PhoneNumFormat($event,"phone")'
                                            formControlName="number" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="f.number.invalid && f.number.touched && f.number.errors" class="errors">
                            </div>
                        </div>
                        <div class=" m-0  basic-input-container phone-container">
                            <label class="">
                                Phone 2
                            </label>

                            <div class="input-group  ">
                                <div class="  date-input  d-flex align-items-center w-100">
                                    <div class="ng-autocomplete phone-select"
                                        [class.invalid-input]="(f.phoneTypeList2.invalid && formError)">
                                        <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                            (inputcleared)="setAutocompleteValue('', 'phoneTypeList2',false)"
                                            (selected)="setAutocompleteValue($event, 'phoneTypeList2',true)"
                                            formControlName="phoneTypeList2" placeHolder="Type"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>
                                    <div class="input-group ">
                                        <input type="text" [class.is-invalid]="f.number2.invalid && formError"
                                            maxlength='10' formControlName="number2" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="f.number2.invalid && f.number2.touched && f.number2.errors" class="errors">
                                <!-- <small class="text-danger" *ngIf="f.number.errors?.required">Mobile number is
                            required!</small> -->
                            </div>
                        </div>
                        <div class=" m-0  basic-input-container phone-container ">
                            <label class="">
                                Phone 3
                            </label>

                            <div class="input-group  ">
                                <div class="  date-input  d-flex align-items-center w-100">
                                    <div class="ng-autocomplete phone-select"
                                        [class.invalid-input]="(f.phoneTypeList3.invalid && formError)">
                                        <ng-autocomplete [data]="phoneTypeList" [searchKeyword]="Keyword"
                                            (inputcleared)="setAutocompleteValue('', 'phoneTypeList3',false)"
                                            (selected)="setAutocompleteValue($event, 'phoneTypeList3',true)"
                                            formControlName="phoneTypeList3" placeHolder="Type"
                                            [notFoundTemplate]="notFoundTemplate" [itemTemplate]="itemTemplate">
                                        </ng-autocomplete>
                                        <ng-template style="width: 100%;" #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>
                                    </div>
                                    <div class="input-group ">
                                        <input type="text" [class.is-invalid]="f.number3.invalid && formError"
                                            maxlength='10' formControlName="number3" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="f.number3.invalid && f.number3.touched && f.number3.errors" class="errors">

                            </div>
                        </div>


                        <div
                            class="basic-input-container nav d-flex align-items-center justify-content-between pr-sm-0">
                            <div class=" w-48 pb-sm-0">
                                <label class="">City<span class="text-danger">*</span> </label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        [class.is-invalid]="f.city.invalid && formError" formControlName="city"
                                        aria-label="date" disabled=true>

                                </div>
                            </div>
                            <div class="w-48">
                                <label class="">
                                    State <span class="text-danger">*</span>
                                </label>
                                <div class="input-group ">
                                    <input type="text" class="form-control "
                                        [class.is-invalid]="f.state.invalid && formError" aria-label="date"
                                        formControlName="state" disabled="true">
                                </div>
                            </div>
                        </div>

                        <div
                            class="basic-input-container  nav d-flex align-items-center justify-content-between pb-sm-0">
                            <div class=" w-48 pb-sm-0">
                                <label class="">
                                    County<span class="text-danger">*</span>
                                </label>
                                <div class="input-group ">
                                    <input type="text" class="form-control "
                                        [class.is-invalid]="f.county.invalid && formError" formControlName="county"
                                        aria-label="date" disabled="true">
                                </div>
                            </div>
                            <div class="w-48">
                                <label class="">
                                    Time Zone<span class="text-danger">*</span>
                                </label>

                                <div class="input-group  ">
                                    <input type="text" class="form-control"
                                        [class.is-invalid]="f.timeZone.invalid && formError" formControlName="timeZone"
                                        aria-label="Case Manager" disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class=" m-0  basic-input-container pb-sm-0">
                            <label class="">
                                Country<span class="text-danger">*</span>
                            </label>

                            <div class="input-group  ">
                                <input type="text" class="form-control"
                                    [class.is-invalid]="f.country.invalid && formError" formControlName="country"
                                    aria-label="Case Manager" disabled="true">
                            </div>

                        </div>
                        <div class=" m-0  basic-input-container pb-sm-0">
                            <label class="">
                                Fax
                            </label>

                            <div class="input-group  ">
                                <input type="text" [class.is-invalid]="f.fax.invalid && formError" formControlName="fax"
                                    class="form-control">
                            </div>

                        </div>
                        <div class=" m-0  basic-input-container pb-sm-0 pr-sm-0">
                            <label class="">
                                E Mail
                            </label>

                            <div class="input-group  ">
                                <input type="text" [class.is-invalid]="f.email.invalid && formError"
                                    formControlName="email" class="form-control">
                            </div>

                        </div>

                    </div>
                    <form [formGroup]="guarantorForm" class="direction">
                        <label class="color-black">
                            Directions
                        </label>
                        <div class="">



                            <div class="form-input">

                                <textarea rows="2" class="textarea form-control"
                                    formControlName="directions"></textarea>
                            </div>


                        </div>
                    </form>
                </form>

            </section>







            <div class="d-flex align-items-center justify-content-between mt-3">

                <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step"
                        [routerLink]="['/widgets']">Cancel</button>
                </div>
                <!-- <div class="previous">
                    <button type="button" class="btn-info  btn-next prev-step" (click)="getPreviousBasic()">Previous</button>
                </div> -->
                <div class="next">
                    <button type="button" class="btn-info  btn-next next-step" (click)="onSubmit()">Save</button>
                </div>
                <!-- <div class="next">
          <button type="button" class="btn-info next-step btn-next" >Next</button>
        </div> -->
            </div>

        </div>
    </div>
</div>
<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound" class="text-dark"></div>
</ng-template>

<div>
    <div class="border-1 border-top-0">
        <div class="table-responsive edit-options-table-container w-70">
            <table class="edit-options-table table">
                <thead>
                    <tr>
                        <th scope="col" class="sticky-top edit-table-th"></th>
                        <th scope="col" class="sticky-top edit-table-th">Code</th>
                        <!-- <th scope="col" class="sticky-top edit-table-th">Relationship</th> -->
                        <th scope="col" class="sticky-top edit-table-th">
                            Last Name
                        </th>
                        <th scope="col" class="sticky-top edit-table-th">
                            First Name
                        </th>
                        <!-- <th scope="col" class="sticky-top edit-table-th">
                           Address
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border-right delete-option border-bottom">
                            <div class="bg-whiite remove-item" title="remove">
                                <span class="">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </div>
                        </td>

                        <td class="border-right form-input border-bottom">

                            aasa
                        </td>
                        <td class="border-right form-input border-bottom">
                            <span class="diagnosis-code">1234</span>
                        </td>
                        <td class="form-input  border-bottom">
                            <span class="diagnosis-code">Saichand</span>
                        </td>
                
                    </tr>

                    <tr>
                        <td class="border-right delete-option border-bottom">
                            <div class="bg-whiite remove-item" title="remove">
                                <span class="">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </div>
                        </td>

                        <td class="border-right form-input border-bottom">

                            aasa
                        </td>
                        <td class="border-right form-input border-bottom">
                            <span class="diagnosis-code">1234</span>
                        </td>
                        <td class="form-input  border-bottom">
                            <span class="diagnosis-code">Saichand</span>
                        </td>
                      
                    </tr>

                    <tr>
                        <td class="border-right delete-option border-bottom">
                            <div class="bg-whiite remove-item" title="remove">
                                <span class="">
                                    <i class="fas fa-user-edit"></i>
                                </span>
                            </div>
                        </td>

                        <td class="border-right form-input border-bottom">

                            aasa
                        </td>
                        <td class="border-right form-input border-bottom">
                            <span class="diagnosis-code">1234</span>
                        </td>
                        <td class="form-input  border-bottom">
                            <span class="diagnosis-code">Saichand</span>
                        </td>
                       
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>