<!-- <p>ps-edit works!</p> -->

<nav class="navbar d-none navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</nav>






<div class="bg-white mh-90">

  <div class="px-3">
    <div class="d-flex">
      <h4 class="my-3 color-black AvenirLTStd-Heavy">POC,POC</h4>
      <button type="button" class="btn">(To be Registered)</button>
    </div>
    <div class="ps-edit-tabs pb-1">
      <tabset>
        <tab heading="PS" id="tab1">
          <app-person-served></app-person-served>
        </tab>
        <tab heading="Guarantor">
          <app-gurantor></app-gurantor>
        </tab>
        <tab heading="Contacts">
          <app-contacts></app-contacts>
        </tab>
        <tab heading="Addresses">
          <app-addresses></app-addresses>
        </tab>
        <tab heading="Health">
          <app-health></app-health>
        </tab>
        <tab heading="Medication">
          <app-medication></app-medication>
        </tab>
        <tab heading="Allergies">
          <app-allergies></app-allergies>
        </tab>
        <tab heading="Languages">
          <app-languages></app-languages>
        </tab>
        <tab heading="Details">
          <app-details></app-details>
        </tab>
        <tab heading="Hospitals">
          <app-hospitals></app-hospitals>
        </tab>
        <tab heading="Telephony">
          <app-telephony></app-telephony>
        </tab>
        <tab heading="Comments">
          <app-comments></app-comments>
        </tab>
        <tab heading="Alternate Id">
          <app-alternate-id></app-alternate-id>
        </tab>
      </tabset>
    </div>
  </div>
</div>