<span class="slack-icon" (click)="languageslogdata(languagelog)">
  <i class="pi pi-slack"></i
></span>
<div
  class="visit-information position-relative border-2 rounded my-3 mr-4"
>
  <p class="visit-info-text AvenirLTStd-Heavy bg-white">Languages</p>
  <div class="container-wrapper mt-2">
    <div class="ps-registration-tabs-container">
      <div class="">
        <form class="d-flex nav border-2">
          <div class="input-container-wrapper">
            <label class="">
              Language<span class="text-danger">*</span>
            </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control text-capital"
                aria-label="Auth"
              />
            </div>
          </div>
          <div class="input-container-wrapper">
            <label class="">
              Speak<span class="text-danger">*</span>
            </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control text-capital"
                aria-label="Auth"
              />
            </div>
          </div>
          <div class="input-container-wrapper">
            <label class="">
              Read<span class="text-danger">*</span>
            </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control text-capital"
                aria-label="Auth"
              />
            </div>
          </div>
          <div class="input-container-wrapper">
            <label class="">
              Write<span class="text-danger">*</span>
            </label>
            <div class="input-group">
              <input
                type="text"
                class="form-control text-capital"
                aria-label="Auth"
              />
            </div>
          </div>
        </form>
        <div
          class="d-flex align-items-center justify-content-between mt-3"
        >
          <div class="previous">
            <button
              type="button"
              class="btn-common btn-green w-auto px-3 bg-dark"
            >
              <i class="fas fa-times mr-2"></i>Close
            </button>
          </div>
          <div class="reset">
            <button
              type="button"
              class="btn-common btn-green w-auto px-3 bg-blue-light"
            >
              <i class="fas fa-sync mr-2"></i>Reset
            </button>
          </div>
          <div class="next">
            <button
              type="button"
              class="btn-common btn-green w-auto px-3"
            >
              <i class="fas fa-save mr-2"></i>Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="table-responsive bg-white box-shadow w-75 mx-auto mb-2 mt-2"
>
  <table class="table mb-0">
    <thead class="thead-dark">
      <tr>
        <th class="text-center border-right align-middle"></th>
        <th class="text-center border-right align-middle">
          Language
        </th>
        <th class="text-center border-right align-middle">Speak</th>
        <th class="text-center border-right align-middle">Read</th>
        <th class="text-center align-middle">Write</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center border-right border-bottom">
          <i class="pi pi-user-edit"></i>
        </td>
        <td class="border-right border-bottom">Home111</td>
        <td class="border-right border-bottom">Yes</td>
        <td class="border-right border-bottom">Yes</td>
        <td class="border-bottom">Yes</td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #languagelog>
  <div class="modal-header">
    <h4 class="modal-title pull-left AvenirLTStd-Heavy">Language Log</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-center">
      <h4 class="AvenirLTStd-Heavy mr-2">PS Name:</h4>
      <h4 class="AvenirLTStd-Heavy">BANKS, MARGARET</h4>
    </div>
    <div class="table-responsive bg-white height-67 box-shadow">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="text-center border-right align-middle">Language</th>
            <th class="text-center border-right align-middle">Speak</th>
            <th class="text-center border-right align-middle">Read</th>
            <th class="text-center border-right align-middle">Write</th>
            <th class="text-center border-right align-middle">Updated User</th>
            <th class="text-center align-middle">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-right border-bottom">aa</td>
            <td class="border-right border-bottom">aaa</td>
            <td class="border-right border-bottom">aaa</td>
            <td class="border-right border-bottom">aa</td>
            <td class="border-right border-bottom">aa</td>
            <td class="border-bottom">aaa</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
